<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Aplicaciones Web</title>



    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Aplicaciones-Web.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>


    <link rel="icon" href="images/favicon.ico">

    <meta property="og:title" content="Aplicaciones Web">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-1f16">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Aplicaciones Web</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="1000" data-image-height="750" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-2">Aplicaciones Webs optimizadas para su negocio.</h2>
                                        <p class="u-text u-text-3">Creamos modernas aplicaciones web en diversas tecnologias de acuerdo al giro de su negocio ofrecemos soluciones standart y personalizadas para diversas industrias. Creamos robots para automatizar tareas y hacer eficiente el tiempo, intranets, redes sociales, sistemas de chats, videos y proyectos personalizados a medida.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-2" id="sec-17cb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="700" data-image-height="354" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""></div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-1">Porque invertir en una Aplicación Web</h2>
                                <p class="u-text u-text-2">
                                    Todas las empresas deben tener aplicaciones que complementen sus areas operativas, aquí te dejamos algunos ejemplos de como se pueden aprovechar las aplicaciones web para:<br>
                                    <br>Fidelizar&nbsp;a tu target al brindarle aplicaciones atractivas, funcionales y de entretenimiento.<br>
                                    <br>Contar con una amplia llegada a usuarios ya que solo requiere de acceder a la web.<br>Implementar ideas creativas y novedosas, de manera puntual, en corto plazo y con gran impacto.<br>
                                    <br>Contar con actualizaciones inmediatas, una alta interactividad con el target e informes estadísticos como resultado de esta interacción.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-897f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1">
                                <h2 class="u-align-center-xs u-text u-text-1">Beneficios de las Aplicaciones Web</h2>
                                <p class="u-text u-text-2">
                                    Usar aplicaciones web ahorra dinero. Empleará mejor su tiempo por no tener que ocuparse de aprender a manejar nuevos programas, ni mantenerlos o hacer copias de seguridad de sus datos y podrá trabajar desde cualquier sitio. Será más eficiente; podrá ganar más y gastará menos. Los beneficios de las&nbsp;<b>Aplicaciones web</b>&nbsp;por lo general son:<br>
                                    <br>Ahorro en costos de hardware y software&nbsp;Sólo es necesario usar un ordenador con un navegador web y conectarse a Internet. Las aplicaciones basadas en web usan menos recursos que los programas instalados.<br>
                                    <br>Fáciles de Usar:&nbsp;Las aplicaciones web son muy sencillas de utilizar, sólo necesitará conocimientos básicos de informática para trabajar con ellas.&nbsp;Si sabe escribir un correo electrónico, ya sabe usarlas.<br>
                                    <br>Facilitan el trabajo colaborativo y a distancia:&nbsp;Las aplicaciones web pueden ser usadas por varios usuarios al mismo tiempo. Al estar toda la información centralizada no tendrá que compartir pantallas o enviar emails con documentos adjuntos.&nbsp;Varios usuarios pueden ver y editar el mismo documento de manera conjunta.<br>
                                    <br>Escalables y de rápida actualización&nbsp;Existe solo una versión de la aplicación web en el servidor, por lo que no hay que distribuirla entre los demás ordenadores. El&nbsp;proceso de actualización es rápido y limpio.<br>
                                    <br>Provocan menos errores y problemas.&nbsp;Las aplicaciones web son&nbsp;menos propensas a colgarse y crear problemas técnicos&nbsp;debido a conflictos con&nbsp;hardware, con otras aplicaciones existentes, protocolos o con software personal interno.
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="1437" data-image-height="1072" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-4" id="carousel_7a61">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="458" data-image-height="348" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""></div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-1">Accesible para dispositivos móviles</h2>
                                <p class="u-text u-text-2">
                                    Las&nbsp;Aplicaciones web&nbsp;responsive se pueden usar desde cualquier dispositivo móvil con un navegador web moderno como: Firefox, Chrome, Safari. a Continuación le listaremos un par de principales características de las aplicaciones web responsive<br>
                                    <br>Multiformato:&nbsp; Listas para los Smartphones, Tabletas, Notebooks, Pcs, etc.<br>
                                    <br>Sincronizada:&nbsp;No importe desde donde accedas a la aplicación, la información siempre estará sincronizada en cualquier dispositivo.<br>
                                    <br><b>Aplicaciones Web Responsive VS&nbsp;<a title="aplicaciones móviles" href="https://www.vexsoluciones.com/aplicaciones-moviles/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Aplicaciones Móviles</a>&nbsp;Nativas:&nbsp;</b>Las aplicaciones web&nbsp;responsive&nbsp;necesitan de un navegador para ser ejecutadas y en algunos celulares la experiencia puede verse disminuida debido a ciertas limitaciones de los fabricantes. Sin embargo las&nbsp;<a href="https://www.vexsoluciones.com/aplicaciones-moviles/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">aplicaciones móviles</a>&nbsp;nátivas no necesitan un navegador para ser ejecutadas, estas funcionan como una aplicación nativa y e muestra con su propio icono en la seccion de aplicaciones en su celular, así como facebook, whatsapp, google entre otros. Además puede usar las funciones del celular (gps, camara, notificaciones push, etc) para ofrecer una experiencia mas completa y óptimo. Lo recomendado es empezar con la aplicación web responsive, y cuando se tengan los recursos, hacer una aplicación exclusiva para los móviles. (esta no reemplazará a la aplicación web, la complementará)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_5cf1">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Mantén tu aplicación en línea</h2>
                                <p class="u-text u-text-2">
                                    Alojamiento, Dominio y SSL incorporados&nbsp;con cualquier aplicación que ordene<br>Protege tu página aplicación web&nbsp;con&nbsp;Certificación PCI nivel 1.<br>
                                    <br>Procesa tarjetas de crédito en forma segura&nbsp;con un Certificado SSL,&nbsp;la misma seguridad que la de los bancos.<br>
                                    <br>Asistencia técnica de clase mundial.<br>
                                    <br>Información segura.&nbsp;Ya&nbsp;no deberá preocuparse de posibles rupturas del disco duro ni de los virus&nbsp;que pueden hacerle perder toda la información. &nbsp;Los proveedores de&nbsp;hosting&nbsp;donde se almacenan las aplicaciones usan granjas de servidores, con altísimas medidas de seguridad, donde guardan los datos de forma redundante y con amplios servicios de&nbsp;backups y restauraciones en caso de problemas.
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="400" data-image-height="300" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-6" id="sec-8a3b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Preguntas Frecu<span style="font-weight: 700;"></span>entes
            </h2>
            <div class="u-accordion u-spacing-2 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                        <span class="u-accordion-link-text">¿Qué es una aplicación web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3277"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3277">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-valign-middle u-container-layout-1">
                            <p class="u-small-text u-text u-text-variant u-text-2">
                                <b>Aplicación web&nbsp;</b>Se denomina a aquellas&nbsp;herramientas&nbsp;que los usuarios pueden utilizar accediendo a un&nbsp;servidor web a través de&nbsp;Internet ó de una&nbsp;intranet&nbsp;mediante un&nbsp;navegador. En otras palabras, es una aplicación software que se codifica en un lenguaje soportado por los navegadores web en la que se confía la ejecución al navegador. Las aplicaciones web son populares debido a lo práctico del&nbsp;navegador web&nbsp;como&nbsp;cliente ligero, a la independencia del sistema operativo, así como a la facilidad para actualizar y mantener aplicaciones web sin distribuir e instalar software a miles de usuarios potenciales. Existen aplicaciones como los&nbsp;webmails,&nbsp;wikis,&nbsp;weblogs,&nbsp;tiendas en línea&nbsp;y la propia&nbsp;Wikipedia&nbsp;que son ejemplos bien conocidos de aplicaciones web.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuanto cuesta una aplicación web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9e64"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-9e64">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-small-text u-text u-text-variant u-text-3">El precio esta definido por el total de horas que tome realizar el proyecto, para saber el total de horas necesitamos hacer un análisis y documentación de su proyecto, esto lo puede hacer el cliente o la empresa, usualmente se hace esta etapa en una sesión de consultoría. El número de horas puede variar de acuerdo al tamaño y complejidad del proyecto.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuanto cuesta el soporte para actualizar la aplicación web al terminar el desarrollo?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7026"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7026">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-small-text u-text u-text-variant u-text-4">Después de finalizado la aplicación web es probable que necesite actualizarla y agregarle nuevas funcionalidades y diseños, nuestro precio es de $20/h para&nbsp;desarrollo de&nbsp;las nuevas tareas requeridas. Si la actualización es de&nbsp;diseño&nbsp;sin afectar funcionalidad el precio es de $25/h</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-4" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuantas visitas concurrentes soporta mi aplicación web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bab9"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-bab9">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <p class="u-small-text u-text u-text-variant u-text-5">Depende den gran medida del servidor en el que esta hospedado el proyecto, nosotros aseguramos que su aplicacion sea soportada por las personas que necesite, pero se debe asegurar que el alojamiento web sea lo suficiente robusto para soportar todas las visitas y ancho de banda que su proyecto requiere</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-5" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué tecnología debo usar para mi aplicación web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5740"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-5740">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-5" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-5">
                            <p class="u-small-text u-text u-text-variant u-text-6">La selección correcta de la tecnología del proyecto depende de varios factores, como: las necesidades, el presupuesto, la envergadura del proyecto. Este paso es muy importante de hacerlo bien ya que una fallida selección puede provocar el fracaso del proyecto.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-6" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Puedo empezar por una aplicación web acotada y luego migrar a una Plataforma más compleja?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-53a3"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-53a3">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-6" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-6">
                            <p class="u-small-text u-text u-text-variant u-text-7">Por supuesto. Podés iniciar con el desarrollo de una aplicación web como respuesta a una necesidad concreta y puntual; y esta implementación puede pivotarte a proyectar nuevas ideas, con lo cual es probable que sea necesario incorporar nuevas aplicaciones generando una plataforma más robusta y de mayor alcance. MG Consultores siempre te asesora contemplando y apuntando a tu crecimiento. Lo ideal de una solución es que te proyecte a nuevas ideas, además de resolver la necesidad inicial.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-7" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cualquier idea puede plasmarse en una aplicación web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-7">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2a69"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2a69">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-7" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-7">
                            <p class="u-small-text u-text u-text-variant u-text-8">Casi absolutamente todas. Vex Soluciones tiene una amplia trayectoria en desarrollos de plataformas y aplicaciones web de significativa complejidad, además de que maneja una gran cantidad de lenguajes de programación; por lo tanto no existen obstáculos para emprender el desarrollo de cualquier idea. No es prudente aseverar que podrían implementarse absolutamente todas las ideas, pero las posibilidades de creatividad y de concreción son ilimitadas y en Vex Soluciones siempre se las retoma y se busca innovar.&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-8" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuál es la metodología de trabajo?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-8">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-58d0"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-58d0">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-8" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-8">
                            <p class="u-small-text u-text u-text-variant u-text-9">Trabajamos aplicando metodologías ágiles de desarrollo como SCRUM&nbsp;y XP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>