<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Aplicaciones Moviles</title>

    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Aplicaciones-Moviles.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>



    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Aplicaciones Moviles">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-2f50">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Desarrollo Aplicaciones Móviles</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="550" data-image-height="350" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">Desarrollo de aplicaciones, apps móviles para empresas de diversas industrias&nbsp;.</h2>
                                        <p class="u-text u-text-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Las apps móviles son uno de los principales medios masivos de comunicación, entretenimiento, consumo masivo, organizacion, entre otros. Por eso en MG Consultores nos enfocamos en crear aplicaciones de alta calidad, simples, robustas y con alto rendimiento para nuestros clientes. te acompañamos desde la concepcion de la idea hasta el desarrollo y el soporte continuo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-2" data-image-width="2000" data-image-height="1333" id="sec-7219">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-group u-group-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                    <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">¿Por qué que desarrollar una aplicación App móvil?</h2>
                </div>
            </div>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                                    <div class="u-container-layout u-valign-top u-container-layout-2">
                                        <h3 class="u-text u-text-2">Busquedas</h3>
                                        <p class="u-text u-text-3">Mas del 65% de búsquedas realizadas en internet se hacen por medio de dispositivos móviles.</p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-top u-container-layout-3">
                                        <h3 class="u-text u-text-4">Audiencia</h3>
                                        <p class="u-text u-text-5">Tener una aplicación app móvil te conectará con una audiencia de mas de 700 000 000 de usuarios que ya cuentan con dispositivos móviles.&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-30-md">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="1000" data-image-height="750" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-top u-container-layout-4" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-20 u-size-60-md">
                            <div class="u-layout-col">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                                    <div class="u-container-layout u-valign-top u-container-layout-5">
                                        <h3 class="u-text u-text-6">Posibilidades</h3>
                                        <p class="u-text u-text-7">Un usuario con su aplicación aumenta un 61% las probabilidades de compra de sus productos.</p>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-5">
                                    <div class="u-container-layout u-valign-top u-container-layout-6">
                                        <h3 class="u-text u-text-8">Confianza</h3>
                                        <p class="u-text u-text-9">El 75% de los usuarios afirman que el desarrollo e integración de una app en las empresas&nbsp;genera mas confianza en la marca.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-736a">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Beneficios de tener una app móvil</h2>
                                <p class="u-text u-text-2">
                                    Las empresas maximizan de manera natural la eficiencia de sus recursos y procesos para sacarles el máximo provecho. En concordancia con la creciente tendencia del uso de smartphones, desarrollar&nbsp;<b>apps móviles para empresas</b>&nbsp;y organizaciones se convierte en una estrategia que puede aportar numerosas ventajas.<br>
                                    <br><b>Fortalecer la marca</b>&nbsp;tener presencia en los dispositivos móviles posiciona mucho mejor la marca.<br>
                                    <br><b>Fidelización de clientes</b>&nbsp;ofreciendo un servicio exclusivo a través de su app hará que su cliente se identifique aún más con su marca.<br>
                                    <br><b>Retención de clientes</b>&nbsp;aprovechar la app para mejorar la experiencia del cliente con su marca hará de la retención un proceso más fácil.<br>
                                    <br><b>Conseguir nuevos clientes</b>&nbsp;una app móvil le ayudara a posicionar su marca y conseguir nuevos clientes desde las tiendas de aplicaciones
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="700" data-image-height="592" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-4" id="carousel_debb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Desarrollo Aplicaciones Móviles</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="555" data-image-height="407" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-2">Apps Móviles Hybridas Vs Nativas</h2>
                                        <p class="u-text u-text-3">
                                            Se denominan aplicaciones hybridas a las que funcionan por igual en todos los dispositivos, se crea 1 proyecto y desde ahi se genera el instalador para android e iOS, manteniendo 1 solo equipo para el desarrollo hace mas barato los costos, las tecnologias para los proyectos móviles son: Cordova,&nbsp;<b>PhoneGap</b>&nbsp;Sencha, Angular Js, Html5, Css3<br>
                                            <br>Las aplicaciones nátivas son las que se realizan en especial para cada tecnología, por ejemplo, una aplicación para&nbsp;<b>iOS</b>&nbsp;utlizando lenguage Swift y otra para aplicación para&nbsp;<b>Android</b>&nbsp;utilizando Java, otra para&nbsp;<b>Windows</b>, este enfoque esta pensado para proyectos grandes y que consuman bastantes recursos del hardware, como los proyectos de realidad aumentada, videochats, entre otros. Las aplicaciones nativas ofrecen un mejor rendimiento que las aplicaciones hybridas pero resulta ser más caro, para crearlas y mantenerlas, es recomendado para proyectos de gran envergadura, si usted desea hacer una aplicación para su negocio que no sea algo tan grande como whatsapp, facebook, waze o gmail entre otros le recomendamos&nbsp;<b>crear una Aplicacion Hybrida</b>&nbsp;multiplataforma (ionic, Phonegap), listamos los motivos a continuación:<br>
                                            <br>Multiplataforma:&nbsp;&nbsp;iPhone®, Android®, BlackBerry®&nbsp;y otros.<br>Unificada:&nbsp;Las actualizaciones se realizarán una sola vez para todas las plataformas<br><b>Eficiente:&nbsp;</b>Estas aplicaciones son recomendadas para proyectos que no envuelvan demasiado uso de hardware del dispositivo.<br><b>Mejores Costos:&nbsp;</b>Desarrollar una aplicacion hybrida reduce el costo del desarrollo porque solo se requeriran menos recursos para el desarrollo
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-c642">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">¿Qué te ofrecemos?</h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 64 64" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c5dd"></use></svg><svg class="u-svg-content" viewBox="0 0 64 64" id="svg-c5dd"><path d="m57.953 41.502c1.252-1.101 2.047-2.708 2.047-4.502 0-3.309-2.691-6-6-6s-6 2.691-6 6c0 2.243 1.239 4.2 3.067 5.229-1.983 1.272-3.372 3.418-3.577 5.899l-.403 4.872h-5.087c-1.654 0-3 1.346-3 3s1.346 3 3 3h4v4h17v-14.231c0-3.325-2.103-6.161-5.047-7.267zm-3.953-8.502c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm7 28h-13v-2h.347c2.604 0 4.744-1.955 4.979-4.547l.669-7.362-1.992-.181-.669 7.362c-.141 1.555-1.425 2.728-2.987 2.728h-6.347c-.551 0-1-.449-1-1s.449-1 1-1h5.087c1.041 0 1.897-.782 1.992-1.827l.404-4.88c.246-2.968 2.77-5.293 5.748-5.293 3.181 0 5.769 2.588 5.769 5.769z"></path><path d="m22 53-5.086.008-.404-4.88c-.206-2.481-1.595-4.627-3.577-5.899 1.828-1.029 3.067-2.986 3.067-5.229 0-3.309-2.691-6-6-6s-6 2.691-6 6c0 1.794.795 3.401 2.047 4.502-2.944 1.106-5.047 3.942-5.047 7.267v14.231h17v-4h4c1.654 0 3-1.346 3-3s-1.346-3-3-3zm-12-20c2.206 0 4 1.794 4 4s-1.794 4-4 4-4-1.794-4-4 1.794-4 4-4zm12 24h-6.347c-1.562 0-2.846-1.173-2.987-2.728l-.669-7.362-1.992.181.669 7.362c.235 2.592 2.375 4.547 4.979 4.547h.347v2h-13v-12.231c0-3.181 2.588-5.769 5.769-5.769 2.978 0 5.503 2.325 5.749 5.293l.404 4.888c.094 1.037.95 1.819 1.991 1.819h5.087c.551 0 1 .449 1 1s-.449 1-1 1z"></path><path d="m41.089 37.166c.104-.227.2-.455.286-.685l2.625-.718v-5.526l-2.625-.718c-.086-.229-.181-.458-.286-.685l1.35-2.366-1.587-1.587c.088-.28.148-.572.148-.881 0-1.134-.64-2.112-1.571-2.621l2.441-4.882c.546-1.094.899-2.284 1.048-3.497h1.516l3.566 5.944 3.299-5.5c.165-.274.466-.444.785-.444.505 0 .916.411.916.916v7.084h2v-7.084c0-1.608-1.308-2.916-2.916-2.916-1.019 0-1.976.542-2.5 1.416l-1.584 2.64-2.434-4.056h-2.602c-.367-5.574-5.007-10-10.672-10h-.584c-5.665 0-10.305 4.426-10.672 10h-2.602l-2.434 4.056-1.584-2.64c-.524-.874-1.482-1.416-2.5-1.416-1.608 0-2.916 1.308-2.916 2.916v7.084h2v-7.084c0-.505.411-.916.916-.916.32 0 .621.17.785.445l3.299 5.499 3.566-5.944h1.516c.149 1.214.502 2.404 1.048 3.497l2.441 4.882c-.931.509-1.571 1.487-1.571 2.621 0 .309.06.601.148.882l-1.587 1.587 1.35 2.366c-.104.227-.2.455-.286.685l-2.625.717v5.526l2.625.717c.086.23.182.458.286.685l-1.35 2.366 3.908 3.908 2.366-1.35c.227.104.455.2.685.286l.717 2.625h5.526l.717-2.625c.23-.086.458-.182.685-.286l2.366 1.35 3.908-3.908zm-5.089-4.166c0 2.206-1.794 4-4 4s-4-1.794-4-4c0-.393.058-.779.168-1.149 1.102.724 2.418 1.149 3.832 1.149s2.73-.425 3.831-1.149c.111.37.169.756.169 1.149zm-10-10h12c.551 0 1 .449 1 1s-.449 1-1 1h-12c-.551 0-1-.449-1-1s.449-1 1-1zm6 8c-2.414 0-4.434-1.721-4.899-4h9.798c-.465 2.279-2.485 4-4.899 4zm-9-19.292c0-4.802 3.906-8.708 8.708-8.708h.584c4.802 0 8.708 3.906 8.708 8.708 0 1.345-.318 2.691-.919 3.895l-2.699 5.397h-4.382v-5.142c1.72-.447 3-2 3-3.858 0-2.206-1.794-4-4-4s-4 1.794-4 4c0 1.858 1.28 3.411 3 3.858v5.142h-4.382l-2.699-5.397c-.601-1.204-.919-2.55-.919-3.895zm9 2.292c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm6.196 26.946-1.979-1.129-.486.256c-.449.237-.91.43-1.371.572l-.525.162-.598 2.193h-2.474l-.6-2.193-.525-.162c-.46-.142-.922-.334-1.372-.572l-.485-.256-1.978 1.128-1.75-1.749 1.129-1.979-.256-.486c-.237-.449-.43-.91-.572-1.371l-.162-.525-2.192-.598v-2.474l2.193-.6.162-.525c.142-.46.334-.922.572-1.372l.256-.485-1.128-1.978.3-.3c.214.141.452.246.7.329.161 1.354.707 2.591 1.529 3.595-.381.801-.584 1.676-.584 2.573 0 3.309 2.691 6 6 6s6-2.691 6-6c0-.898-.203-1.772-.584-2.572.823-1.004 1.368-2.242 1.53-3.595.248-.083.485-.188.7-.329l.3.3-1.128 1.978.256.485c.237.45.43.911.572 1.372l.162.525 2.193.6v2.474l-2.193.599-.162.525c-.142.46-.334.921-.572 1.371l-.256.486 1.129 1.979z"></path><path d="m53 27h2v2h-2z"></path><path d="m53 23h2v2h-2z"></path><path d="m9 27h2v2h-2z"></path><path d="m9 23h2v2h-2z"></path></svg>


                            </span>
                            <h4 class="u-text u-text-2">Consultoría</h4>
                            <p class="u-text u-text-3">Te ayudamos a planificar el proyecto, definir la tecnología correcta, hacemos los prototipos y la documentación.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f22"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-6f22"><circle cx="176" cy="56" r="8"></circle><path d="m216 64h56c4.418 0 8-3.582 8-8s-3.582-8-8-8h-56c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path><path d="m360 496h56c4.418 0 8-3.582 8-8v-192c-.006-6.565-1.621-13.028-4.706-18.823l-59.294-111.177v-110c-.025-22.081-17.919-39.975-40-40h-192c-22.081.025-39.975 17.919-40 40v400c.025 22.081 17.919 39.975 40 40h224zm48-200v184h-48c-39.156-.045-71.115-31.339-71.984-70.485.401-2.082-.04-4.237-1.227-5.994l-51.895-76.8c-7.421-10.983-4.534-25.902 6.449-33.323s25.902-4.534 33.323 6.449c.047.07.1.138.145.207l46.705 64.636c1.505 2.08 3.917 3.311 6.484 3.31h24c4.418 0 8-3.582 8-8v-160l45.177 84.706c1.85 3.477 2.819 7.355 2.823 11.294zm-64-128v184h-11.911l-44.24-61.226c-12.399-18.284-37.272-23.055-55.557-10.656-18.284 12.399-23.055 37.272-10.656 55.556l43.464 64.326h-161.1v-304h240zm-216-136h192c13.248.015 23.985 10.752 24 24v24h-240v-24c.015-13.248 10.752-23.985 24-24zm0 448c-13.248-.015-23.985-10.752-24-24v-40h168.383c2.367 25.75 15.939 49.155 37.111 64z"></path><path d="m224 424c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24c-.015-13.249-10.751-23.985-24-24zm0 32c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8c-.005 4.416-3.584 7.995-8 8z"></path><path d="m128 192h192c4.418 0 8-3.582 8-8v-64c0-4.418-3.582-8-8-8h-192c-4.418 0-8 3.582-8 8v64c0 4.418 3.582 8 8 8zm8-64h176v48h-176z"></path><path d="m224 144h-64c-4.418 0-8 3.582-8 8s3.582 8 8 8h64c4.418 0 8-3.582 8-8s-3.582-8-8-8z"></path><path d="m128 224h112c4.418 0 8-3.582 8-8s-3.582-8-8-8h-112c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path><path d="m240 240h-48c-4.418 0-8 3.582-8 8s3.582 8 8 8h48c4.418 0 8-3.582 8-8s-3.582-8-8-8z"></path><path d="m128 288h48c4.418 0 8-3.582 8-8s-3.582-8-8-8h-48c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path><path d="m128 320h48c4.418 0 8-3.582 8-8s-3.582-8-8-8h-48c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path><circle cx="128" cy="376" r="8"></circle><circle cx="160" cy="376" r="8"></circle><circle cx="192" cy="376" r="8"></circle><path d="m128 352h64c4.418 0 8-3.582 8-8s-3.582-8-8-8h-64c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path><path d="m320 208h-48c-4.418 0-8 3.582-8 8v32c0 4.418 3.582 8 8 8h48c4.418 0 8-3.582 8-8v-32c0-4.418-3.582-8-8-8zm-8 32h-32v-16h32z"></path><path d="m128 256h32c4.418 0 8-3.582 8-8s-3.582-8-8-8h-32c-4.418 0-8 3.582-8 8s3.582 8 8 8z"></path></svg>


                            </span>
                            <h4 class="u-text u-text-4">Diseño</h4>
                            <p class="u-text u-text-5">Diseñamos la interface y experiencia del usuario 100% amigable para el usuario.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b35d"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-b35d">
                                    <g>
                                        <path d="m294.454 244.414c1.428 1.269 3.206 1.892 4.977 1.892 2.069 0 4.129-.852 5.611-2.521 13.245-14.916 20.54-34.101 20.54-54.018 0-44.902-36.531-81.434-81.434-81.434s-81.434 36.531-81.434 81.434c0 19.918 7.294 39.102 20.54 54.018 2.75 3.1 7.491 3.379 10.588.629 3.097-2.751 3.378-7.491.628-10.588-10.805-12.169-16.756-27.815-16.756-44.059 0-36.632 29.802-66.434 66.434-66.434s66.434 29.802 66.434 66.434c0 16.242-5.951 31.89-16.757 44.059-2.75 3.097-2.469 7.837.629 10.588z"></path>
                                        <path d="m283.923 202.126c.302.036.602.054.899.054 3.744 0 6.982-2.801 7.438-6.611.229-1.916.345-3.867.345-5.801 0-26.719-21.737-48.456-48.457-48.456-26.719 0-48.456 21.737-48.456 48.456 0 1.822.103 3.659.305 5.459.462 4.116 4.176 7.072 8.291 6.615 4.116-.463 7.078-4.175 6.616-8.291-.14-1.245-.211-2.519-.211-3.783 0-18.447 15.008-33.456 33.456-33.456s33.457 15.009 33.457 33.456c0 1.341-.08 2.693-.239 4.021-.493 4.113 2.443 7.846 6.556 8.337z"></path>
                                        <path d="m220.532 15h119.811c16.136 0 29.264 13.128 29.264 29.264v133.056c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-133.056c-.001-24.408-19.857-44.264-44.264-44.264h-119.811c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5z"></path>
                                        <path d="m212.519 44.411h49.019c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-49.019c-4.142 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path>
                                        <path d="m293.54 36.91c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5c0 4.143 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5z"></path>
                                        <path d="m386.811 449.915h-4.491c.771-9.733 4.145-18.998 9.876-27.015 8.558-11.972 12.809-26.493 12.809-41.209v-54.81c0-12.946-8.604-23.92-20.397-27.522v-86.174c0-4.107-3.165-7.688-7.27-7.811-4.247-.127-7.73 3.278-7.73 7.497v86.006c-3.199.752-6.193 2.038-8.884 3.759-4.075-11.451-15.129-19.686-28.099-19.686-6.319 0-12.186 1.954-17.011 5.282-4.447-10.724-15.131-18.296-27.571-18.296-5.004 0-9.785 1.243-13.998 3.465v-53.508c0-16.217-13.358-29.41-29.779-29.41-16.42 0-29.779 13.193-29.779 29.41v76.422h-3.311c-19.29 0-34.928 15.638-34.928 34.928v21.527c0 4.107 3.164 7.688 7.269 7.811 4.247.128 7.731-3.277 7.731-7.497v-21.841c0-11.006 8.922-19.929 19.929-19.929h3.311v49.242c0 4.107 3.164 7.688 7.269 7.811 4.247.128 7.731-3.277 7.731-7.497v-140.975c0-7.945 6.63-14.41 14.779-14.41s14.779 6.465 14.779 14.41v110.652c0 4.107 3.165 7.688 7.27 7.811 4.247.127 7.73-3.278 7.73-7.497v-31.559c-.074-6.972 6.13-14.424 13.998-14.364 8.149 0 14.779 6.465 14.779 14.42.001 7.572.081 23.744.102 31.528.014 4.134 3.369 7.475 7.499 7.475h.026c4.138 0 7.489-3.362 7.475-7.5l-.064-18.78c.156-7.815 6.713-14.129 14.765-14.129 8.149 0 14.779 6.465 14.779 14.41v18.32c0 4.107 3.165 7.688 7.27 7.811 4.247.127 7.73-3.278 7.73-7.497-1.326-8.211 4.17-17.772 13.8-17.888 7.609 0 13.801 6.179 13.801 13.774v56.01c0 11.315-3.636 22.288-10.178 31.52-7.459 10.525-11.743 22.717-12.533 35.503h-125.447c-1.862-13.862-11.34-27.558-23.665-35.39-10.112-7.383-17.858-17.435-22.42-29.088-1.496-3.821-5.669-6.07-9.551-4.741-4.048 1.386-6.101 5.838-4.578 9.794 5.582 14.492 15.162 26.993 27.703 36.15 7.877 4.846 15.158 13.442 17.266 23.274h-3.791c-9.106 0-16.889 5.7-20.018 13.712h-54.841c-16.162 0-29.264-13.102-29.264-29.264v-390.1c0-16.162 13.102-29.264 29.264-29.264h38.307c4.107 0 7.688-3.165 7.811-7.27.127-4.247-3.278-7.73-7.497-7.73h-38.622c-24.446 0-44.264 19.818-44.264 44.264v390.1c0 24.446 19.818 44.264 44.264 44.264h53.359v11.874c0 11.874 9.626 21.5 21.5 21.5h86.874c4.107 0 7.688-3.165 7.811-7.27.127-4.247-3.278-7.73-7.497-7.73h-87.188c-3.59 0-6.5-2.91-6.5-6.5v-19.085c0-3.59 2.91-6.5 6.5-6.5h163.999c3.59 0 6.5 2.91 6.5 6.5v19.085c0 3.59-2.91 6.5-6.5 6.5h-41.497c-4.107 0-7.688 3.165-7.811 7.27-.127 4.247 3.278 7.73 7.497 7.73h41.811c11.874 0 21.5-9.626 21.5-21.5v-19.085c.001-11.874-9.625-21.5-21.499-21.5z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h4 class="u-text u-text-6">Desarrollo</h4>
                            <p class="u-text u-text-7">Desarrollamos la aplicación móvil siguiendo el plan trazado, te aseguramos la máxima calidad del producto.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-icon u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496 496" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6932"></use></svg><svg class="u-svg-content" viewBox="0 0 496 496" x="0px" y="0px" id="svg-6932" style="enable-background:new 0 0 496 496;">
                                    <g>
                                        <g>
                                            <path d="M402.524,432l-18.52-55.568c-6.472-19.4-22.984-33.72-43.112-37.384l-53.464-9.728v-4.144    c9.304-5.4,17.4-12.624,23.848-21.176h16.152c13.232,0,24-10.768,24-24v-96c0-57.344-46.656-104-104-104s-104,46.656-104,104v56    c0,15.424,10.968,28.328,25.512,31.336c4.488,22.992,18.856,42.448,38.488,53.84v4.144l-53.472,9.728    c-20.12,3.664-36.64,17.984-43.104,37.384l-3.2,9.608l-27.248-27.248c-3.12-3.12-3.12-8.2,0-11.32l31.6-31.592l-59.312-59.312    L16.98,292.28c-10.576,10.576-16.4,24.64-16.4,39.6s5.824,29.016,16.4,39.592l108.12,108.12C135.676,490.168,149.74,496,164.7,496    c14.96,0,29.016-5.832,39.344-16.168l38.968-35.704L230.86,432H402.524z M335.428,280c0,4.416-3.592,8-8,8H320.7    c2.32-5.288,4.08-10.864,5.216-16.664c3.424-0.712,6.576-2.072,9.512-3.784V280z M327.428,253.776v-27.552    c4.76,2.776,8,7.88,8,13.776S332.188,251,327.428,253.776z M167.428,253.776c-4.76-2.776-8-7.88-8-13.776s3.24-11,8-13.776    V253.776z M167.428,200v9.136c-2.848,0.744-5.52,1.864-8,3.312V184c0-48.52,39.48-88,88-88s88,39.48,88,88v28.448    c-2.48-1.448-5.152-2.576-8-3.312V200h-8c-23.656,0-45.896-9.216-62.632-25.944l-9.368-9.368l-9.368,9.368    C221.324,190.784,199.084,200,175.428,200H167.428z M183.428,256v-40.304c24.024-1.808,46.424-11.72,64-28.432    c17.576,16.712,39.976,26.632,64,28.432V256c0,11.664-3.184,22.576-8.656,32h-55.344v16h42.192c-11.28,9.928-26.024,16-42.192,16    C212.14,320,183.428,291.288,183.428,256z M271.428,332.312v0.376l-24,24l-24-24v-0.376c7.584,2.384,15.64,3.688,24,3.688    S263.844,334.696,271.428,332.312z M126.02,381.488c4.616-13.856,16.416-24.088,30.792-26.712l55.92-10.16l34.696,34.696    l34.688-34.688l55.912,10.16c14.376,2.624,26.176,12.848,30.792,26.712L380.332,416H214.86l-31.16-31.16l-34.624,31.32    c-3.016,3.032-8.288,3.032-11.312,0l-17.472-17.472L126.02,381.488z M52.684,279.192l36.688,36.688l-8.688,8.688L43.996,287.88    L52.684,279.192z M192.964,468.296c-7.552,7.536-17.6,11.704-28.28,11.704c-10.68,0-20.728-4.168-28.288-11.72L28.276,360.168    c-7.552-7.552-11.712-17.6-11.712-28.28c0-10.688,4.16-20.736,11.712-28.288l4.4-4.4l36.688,36.688l-0.288,0.288    c-9.352,9.36-9.352,24.584,0,33.944l57.368,57.368c4.536,4.528,10.56,7.032,16.976,7.032s12.44-2.496,16.68-6.752l0.6-0.536    l36.856,36.856L192.964,468.296z M209.364,453.256l-36.776-36.776l10.568-9.552l36.712,36.712L209.364,453.256z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M471.428,0h-112c-13.232,0-24,10.768-24,24v64c0,13.232,10.768,24,24,24h21.368l-8.272,48.248l77.2-48.248h21.704    c13.232,0,24-10.768,24-24V24C495.428,10.768,484.66,0,471.428,0z M479.428,88c0,4.408-3.592,8-8,8h-26.296l-50.808,31.752    L399.772,96h-40.344c-4.408,0-8-3.592-8-8V24c0-4.408,3.592-8,8-8h112c4.408,0,8,3.592,8,8V88z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="367.428" y="32" width="96" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="367.428" y="64" width="64" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="447.428" y="64" width="16" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M247.428,24C142.9,24,52.86,96.304,29.452,197.16l-15.16-25.272l-13.72,8.232l28.12,46.856l46.856-28.12l-8.232-13.72    l-21.68,13.008C68.308,105.88,151.276,40,247.428,40c21.016,0,41.752,3.12,61.632,9.28L313.796,34    C292.38,27.36,270.052,24,247.428,24z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M491.54,177.136l-46.856-28.12l-28.112,46.864l13.72,8.232l14-23.336c7.368,21.56,11.136,44.112,11.136,67.224    c0,47.576-16.48,94.088-46.392,130.96l12.424,10.08c32.224-39.712,49.968-89.808,49.968-141.04    c0-24.472-3.944-48.368-11.632-71.248l23.512,14.104L491.54,177.136z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h4 class="u-text u-text-8">Soporte</h4>
                            <p class="u-text u-text-9">Te respaldamos para llevar a cabo tus operaciones y darle el mantenimiento adecuado a tu aplicación.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-6" id="sec-4a74">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Preguntas Frecu<span style="font-weight: 700;"></span>entes
            </h2>
            <div class="u-accordion u-spacing-2 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                        <span class="u-accordion-link-text">¿Qué son las aplicaciones, apps móviles?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3277"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3277">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-container-layout-1">
                            <p class="u-small-text u-text u-text-variant u-text-2">
                                Las aplicaciones, apps móviles son programas software que usted puede descargar y a las que puede acceder directamente desde su teléfono o desde algún otro aparato móvil – como por ejemplo una tablet o un reproductor de música.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Por qué desarrollar una aplicación, app móvil?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9e64"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-9e64">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-small-text u-text u-text-variant u-text-3">Las aplicaciones, apps móviles nativas proporcionan una mejor experiencia de usuario, puesto que la interfaz no tiene que cargarse junto con el resto de datos además que permiten explotar al máximo las capacidades integradas en los dispositivos, tales como el GPS, acelerómetro, captura de imágenes, audio y vídeo, agenda de contactos, calendario, etc.&nbsp;La aplicación puede acceder al hardware del teléfono para empoderar la aplicación, algo que la aplicación web no puede hacer.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuánto cuesta hacer una App Móvil?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7026"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7026">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-small-text u-text u-text-variant u-text-4">
                                El costo de desarrollar una apps móvil varía según las funcionalidades. Es por eso que cada proyecto es diferente y requiere de una planeación, diseño, desarrollo, administración personalizada. Pero estamos seguros de ofrecer&nbsp;el mejor precio del mercado<a href="http://www.mesquitestudio.com/ElNorte/Nota_del_norte.pdf" target="_Parent" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">.</a>&nbsp;Si deseas una cotización sin compromiso&nbsp;<a href="http://www.mg-consultores.pe/contacto/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">contáctanos.</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-4" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuánto tiempo tardan en hacer una App móvil?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3e69"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3e69">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <p class="u-small-text u-text u-text-variant u-text-5">
                                El tiempo de desarrollo de una apps movil, al igual que el costo, varía según la magnitud del proyecto. Por ejemplo el promedio de una App sencilla varía entre 2 a 4 meses. Cuéntanos tu idea y con gusto estimaremos el tiempo de desarrollo para transformar tu idea en un producto real.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-5" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Una App Móvil para iPhone es compatible con Android?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f8cf"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-f8cf">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-5" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-5">
                            <p class="u-small-text u-text u-text-variant u-text-6">
                                No, las aplicaciones para iPhone están desarrolladas en base al lenguaje de programación “SWIFT” , mientras que Android utiliza Java, por lo que no son compatibles.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-6" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿En qué lenguage se desarrollan las aplicaciones, apps móviles?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bc7b"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-bc7b">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-6" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-6">
                            <p class="u-small-text u-text u-text-variant u-text-7">
                                En MG Consultores seguimos los lineamientos actualizados de desarrollo propuestos por Apple, Google y Windows, es por eso que los lenguajes que utilizamos para programar son:<br>
                                <br>Objective-C y Swift (iOS)<br>Java (Android)<br>C# (Windows phone)<br>Php, Python, .Net, RoR (Backend y Web Services)<br>Phonegap o Cordova (Apps Hibridas)<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-7" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿En qué plataforma debo desarrollar mi Aplicación app Móvil?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-7">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f886"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-f886">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-7" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-7">
                            <p class="u-small-text u-text u-text-variant u-text-8">
                                La plataforma que debes elegir para desarrollar tu aplicación dependerá del público objetivo al que te quieres dirigir. Pero nosotros recomendamos iniciar en las dos plataformas principales iOS y Android. Si tu proyecto no consumirá muchos recursos de hardware, te recomendamos hacer tu aplicación con la tecnoogía de PhoneGap o Cordova&nbsp;&nbsp;para ahorrar costos y hacer una solución que funcione en todos los dispositivos. Consúltanos sin compromiso para darte una sugerencia gratuita de acuerdo a tu proyecto.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-8" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Puedo hacer una aplicación móvil compatible con todas las plataformas?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-8">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7bc3"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7bc3">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-8" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-8">
                            <p class="u-small-text u-text u-text-variant u-text-9">
                                Si, con&nbsp;Phonegap&nbsp;o Cordova se puede aprovechar HTML5, Css3, JS hacer aplicaciones móviles para que funcionen en todos los dispositivos por igual.<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div><span class="u-icon u-text-grey-5 u-icon-9" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                    <g>
                        <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                        <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                    </g>
                </svg><img>
            </span>
            <a href="Aplicaciones-Moviles.html#sec-2f50" data-page-id="1454103314" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-10" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>