<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Consultoria</title>
    

    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Consultoria.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>


    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Consultoria">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-457e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-size-23 u-image-1" data-image-width="939" data-image-height="654" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <h2 class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    <b>Consultoría</b>&nbsp;en Software y Sistemas Empresariales
                                </h2>
                                <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    Nuestro servicio de&nbsp;<b>Consultoria en desarrollo de software y sistemas</b>&nbsp;esta creado para asesorarlo en la correcta selección de tecnologías, procesos, servicios y equipos de trabajo, debido al avance tecnológico y crecimiento económico, los negocios modernos estan aprovechando cada vez más la tecnología y los sistemas para la automatización de tareas y procesos, ahorro de tiempo, mejora en las áreas de: organización, colaboración, gestión y comunicación. Las Sistemas integrados (Infraestructuras Digitales) jugarán una labor importante en el desarrollo de su organización a largo plazo.<br>
                                    <br>Como parte central de su estrategia de expansión su infraestructura de sistemas deberia servir como un fuerte sistema central nervioso que interactue con tus colaboradores, clientes, proveedores - Realizar una consultoria podría hacerle entender facilmente como usted podrá realizar estos proyectos de una manera segura y ordenada y conocer mucho más.
                                </p>
                                <a href="@Url.Action("Contacto", "Home")" data-page-id="228099551" class="u-btn u-button-style u-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Contactar a un Consultor de Software</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-grey-15 u-section-2" id="sec-f7a2">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <h3 class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Consultoría Informática</h3>
                                <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    Con experiencia en el desarrollo de software, implementacion, calidad y soporte desde el 2008, nuestro&nbsp;<b>empresa consultora de software</b>&nbsp;esta construida en un profundo entendimiento del negocio y los requerimientos funcionales y los flujos de los procesos.<br>
                                </p>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <h3 class="u-text u-text-3" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Servicios</h3>
                                <p class="u-text u-text-4" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                                    Ofrecemos comprensivos servicios de&nbsp;<i>consultoria de software / sistemas / apps</i>&nbsp;que cubren el desarrollo completo y el ciclo de implementación de su Proyecto IT incluyendo un rango amplio de servicios y soluciones informáticas
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_f54a">
        <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
            <h1 class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Servicio de&nbsp;<b>Consultoría</b>&nbsp;para cada ciclo de su negocio
            </h1>
            <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                Con experiencia en el diseño, desarrollo, implementación, calidad y soporte desde el 2009, Nuestro servicio de&nbsp;<b>consultoría en tecnologías de información</b>&nbsp;ha sido concebido con un profundo entendimiento de diferentes industrias, negocios y los requerimientos funcionales así como también los ambiguos matices de los flujos de negocios. Ofrecemos un avanzado y comprensivo servicio de Consultoría IT de tecnologías empresarial que cubre todo el ciclo de desarrollo e implementación del producto, asegurando el retorno de su inversión y el éxito de su proyecto.
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2635"></use></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128" id="svg-2635"><path d="m78.9 15.9c2.1 0 3.7 1.7 3.7 3.7v3.7h-37.2v-3.7c0-2 1.7-3.7 3.7-3.7h29.8m39.7 14.8-11.6 34.5c-0.5 1.5-1.9 2.5-3.5 2.5h-20.9v-3.7c0-2-1.7-3.7-3.7-3.7h-29.8c-2.1 0-3.7 1.7-3.7 3.7v3.7h-20.9c-1.6 0-3-1-3.5-2.5l-11.6-34.5h109.2m1.5 19.1v58.6c0 2-1.7 3.7-3.7 3.7h-104.7c-2.1 0-3.7-1.7-3.7-3.7v-58.6l5.9 17.7c1.5 4.5 5.8 7.6 10.6 7.6h20.9v3.7c0 2 1.7 3.7 3.7 3.7h29.8c2.1 0 3.7-1.7 3.7-3.7v-3.7h20.9c4.8 0 9.1-3 10.6-7.6l6-17.7m-44.9 17.9v7.4h-22.4v-7.4h22.4m15.3-44.9v-3.2c0-6.4-5.2-11.6-11.6-11.6h-29.8c-6.4 0-11.7 5.2-11.7 11.6v3.2h-29.5c-4.4 0-7.9 3.5-7.9 7.9v77.7c0 6.4 5.2 11.6 11.7 11.6h104.7c6.4 0 11.7-5.2 11.7-11.6v-77.7c0-4.4-3.6-7.9-7.9-7.9h-29.7z"></path></svg>
                            </span>
                            <h4 class="u-text u-text-3">Inicio de un nuevo negocio</h4>
                            <p class="u-text u-text-4">MG Consultores provee inteligencia critica y confiable para el análisis del mercado que es vital para las decisiones del negocio en esta etapa. Incluye auditoría profesional del entorno de software y hardware para cumplir los objetivos trazados.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5de9"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-5de9"><path d="m256 50c5.522 0 10-4.477 10-10v-30c0-5.523-4.478-10-10-10s-10 4.477-10 10v30c0 5.523 4.478 10 10 10z"></path><path d="m466 266h36c5.522 0 10-4.477 10-10s-4.478-10-10-10h-36c-5.522 0-10 4.477-10 10s4.478 10 10 10z"></path><path d="m10 266h36c5.522 0 10-4.477 10-10s-4.478-10-10-10h-36c-5.522 0-10 4.477-10 10s4.478 10 10 10z"></path><path d="m411.562 108.581 21.22-21.22c3.905-3.905 3.905-10.237 0-14.143-3.906-3.905-10.236-3.905-14.143 0l-21.22 21.22c-3.905 3.905-3.905 10.237 0 14.143 3.906 3.905 10.236 3.905 14.143 0z"></path><path d="m100.438 108.581c3.906 3.905 10.236 3.905 14.143 0 3.905-3.905 3.905-10.237 0-14.143l-21.22-21.22c-3.906-3.905-10.236-3.905-14.143 0-3.905 3.905-3.905 10.237 0 14.143z"></path><circle cx="256" cy="502" r="10"></circle><path d="m111 241v75c0 54.813 44.113 86.291 60 95.848v90.152c0 5.523 4.478 10 10 10h30c5.522 0 10-4.477 10-10s-4.478-10-10-10h-20v-86c0-3.773-2.142-7.234-5.51-8.935-.545-.275-54.49-28.138-54.49-81.065v-75c0-11.028 8.972-20 20-20.01h108.995c-4.645 22.804-24.849 40.01-48.995 40.01h-30c-5.522 0-10 4.477-10 10s4.478 10 10 10c44.112 0 80 35.888 80 80 0 5.523 4.478 10 10 10s10-4.477 10-10c0-27.57 22.43-50 50-50 5.522 0 10-4.477 10-10s-4.478-10-10-10c-24.105 0-45.402 12.248-57.998 30.846-7.927-18.555-21.298-34.25-38.105-45.047 17.398-6.339 31.589-19.399 39.436-36.018 7.083 6.349 16.43 10.179 26.668 10.179 2.563 0 5.184.04 7.595.04 4.716 0 9.264-.112 13.451-.947 4.113 17.708 20.011 30.947 38.953 30.947 7.283 0 14.112-1.966 20-5.381v40.381c0 52.927-53.945 80.79-54.472 81.056-3.388 1.694-5.528 5.156-5.528 8.944v86h-20c-5.522 0-10 4.477-10 10s4.478 10 10 10h30c5.522 0 10-4.477 10-10v-90.152c15.887-9.557 60-41.035 60-95.848 0-19.906 0-94.443 0-126 0-22.056-17.944-40-40-40-7.388 0-14.311 2.021-20.256 5.529-2.231-19.959-19.2-35.529-39.744-35.529-7.388 0-14.311 2.021-20.256 5.529-2.231-19.959-19.2-35.529-39.744-35.529s-37.513 15.57-39.744 35.529c-5.945-3.508-12.868-5.529-20.256-5.529-22.056 0-40 17.944-40 40v42.266c-17.233 4.452-30 20.13-30 38.734zm250-71c11.028 0 20 8.972 20 20v51c0 11.028-8.972 20-20 20s-20-8.972-20-20v-51c0-11.028 8.972-20 20-20zm-60-30c11.028 0 20 8.972 20 20v66c0 2.836-.571 3.632-.577 3.638-1.503 1.491-10.186 1.422-15.375 1.383-1.324-.011-2.676-.021-4.048-.021-11.028 0-20-8.972-20-20v-51c0-11.028 8.972-20 20-20zm-80-10c0-11.028 8.972-20 20-20s20 8.972 20 20v71h-40zm-40 10c11.028 0 20 8.972 20 20v41h-40v-41c0-11.028 8.972-20 20-20z"></path></svg>


                            </span>
                            <h4 class="u-text u-text-5">Operaciones a Largo Plazo</h4>
                            <p class="u-text u-text-6">Nuestros servicios de consultoría ayuda a los negocios a crear un efectivo proceso costo-eficiente que permite a la compañia concentrar sus esfuerzos en los principales objetivos delegando los procesos IT. Nuestros consultores ayudarán a su empresa para seleccionar el mejor modelo de colaboración basado en las necesidades de su negocio.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-video-cover u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-439e"></use></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128" id="svg-439e"><path d="m93.8 13.5 18.4 25.2h-5.7c-2 0-3.6 1.6-3.6 3.6v77.7h-18.3v-77.7c0-2-1.6-3.6-3.6-3.6h-5.7l18.5-25.2m-22.4 55.6c3.3 0 6 2.7 6 6.1v44.8h-18.4v-44.8c0-3.3 2.7-6.1 6-6.1h6.4m-25.5 19.4c3.3 0 6 2.7 6 6.1v25.4h-18.4v-25.5c0-3.3 2.7-6.1 6-6.1h6.4m-25.6 19.4c3.3 0 6 2.7 6 6.1v6.1h-18.4v-6.1c0-3.3 2.7-6.1 6-6.1h6.4m73.5-107.8-6.4 8.7-18.4 25.2-9.4 12.8h17.1v15.4c-1.6-0.7-3.4-1-5.2-1h-6.5c-7.7 0-13.9 6.3-13.9 14.1v6.3c-1.6-0.7-3.4-1-5.2-1h-6.4c-7.7 0-13.9 6.3-13.9 14.1v6.3c-1.6-0.7-3.4-1-5.2-1h-6.4c-7.7-0.1-14 6.2-14 14v14.1h110.9v-81.3h17.1l-9.4-12.8-18.4-25.2-6.4-8.7z"></path></svg>
                            </span>
                            <h4 class="u-text u-text-7">Expansión del Negocio</h4>
                            <p class="u-text u-text-8">Nuestro principal objetivo es crear un proceso óptimo y eficiente a traves de una automatización integrada de los procesos con un legado de infraestructura como el manejo de complejos modelos de negocios incluyendo: logística, estrategias de desarrollo y marketing digital.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="Consultoria.html#sec-457e" data-page-id="67103488" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>