<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Nuestro Equipo</title>
    
    
    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Cultura.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>





    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Nuestro Equipo">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-9c42">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Nuestra Cultura<br>
            </h2>
            <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                La cultura empresarial de MG Consultores esta basada en la el respeto mutuo, confianza y transparencia al ayudar a nuestros clientes para hacer crecer sus negocios con modernos sistemas y estrategias de marketing.<br>
                <br>Nuestro equipo de profesionales comparte&nbsp;<b>Sólidos Valores Cristianos</b>&nbsp;y un fuerte conocimiento interno, todos tenemos los mismos valores y objetivos, somos comprometidos con los proyectos y muy constantes para entregar los mejores resultados.<br>
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d0d8"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-d0d8" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M404.267,315.41c-10.048-20.949-45.995-50.027-80.725-78.123c-19.371-15.659-37.675-30.464-49.344-42.133    c-2.923-2.944-7.296-3.883-11.157-2.496c-7.189,2.603-11.627,4.608-15.125,6.165c-5.333,2.389-7.125,3.2-14.315,3.925    c-3.179,0.32-6.037,2.027-7.808,4.672c-15.083,22.549-30.699,20.629-41.131,17.131c-3.328-1.109-3.925-2.539-4.245-3.904    c-2.24-9.365,9.003-31.168,23.573-45.739c34.667-34.688,52.544-43.371,90.304-26.496c42.837,19.157,85.76,34.155,86.187,34.304    c5.611,1.941,11.648-1.003,13.589-6.571c1.92-5.568-1.003-11.648-6.571-13.589c-0.427-0.149-42.496-14.848-84.48-33.643    c-48.917-21.867-75.755-7.467-114.091,30.891c-14.592,14.592-34.411,44.117-29.291,65.771c2.197,9.216,8.683,16.043,18.325,19.221    c24.171,7.979,46.229,0.341,62.656-21.461c6.784-1.045,10.475-2.581,16.021-5.077c2.005-0.896,4.352-1.941,7.467-3.2    c12.203,11.456,28.672,24.789,46.016,38.805c31.36,25.365,66.923,54.123,74.923,70.763c3.947,8.213-0.299,13.568-3.179,16.021    c-4.224,3.627-10.005,4.779-13.141,2.581c-3.456-2.368-7.957-2.517-11.52-0.384c-3.584,2.133-5.589,6.165-5.141,10.304    c0.725,6.784-5.483,10.667-8.171,12.011c-6.827,3.456-13.952,2.859-16.619,0.384c-2.987-2.773-7.275-3.584-11.072-2.176    c-3.797,1.429-6.443,4.928-6.827,8.981c-0.64,6.997-5.824,13.717-12.587,16.341c-3.264,1.237-8,1.984-12.245-1.899    c-2.645-2.389-6.315-3.307-9.749-2.475c-3.477,0.853-6.272,3.371-7.488,6.72c-0.405,1.067-1.323,3.627-11.307,3.627    c-7.104,0-19.883-4.8-26.133-8.939c-7.488-4.928-54.443-39.957-94.997-73.92c-5.696-4.8-15.552-15.083-24.256-24.171    c-7.723-8.064-14.784-15.381-18.411-18.453c-4.544-3.84-11.264-3.264-15.04,1.259c-3.797,4.501-3.243,11.243,1.259,15.04    c3.307,2.795,9.707,9.557,16.768,16.917c9.515,9.941,19.349,20.224,25.963,25.771c39.723,33.259,87.467,69.163,96.981,75.413    c7.851,5.163,24.768,12.416,37.867,12.416c10.517,0,18.603-2.411,24.213-7.125c7.509,2.923,16.043,2.944,24.256-0.256    c9.707-3.755,17.685-11.328,22.208-20.501c8.405,1.792,18.027,0.533,26.773-3.861c8.555-4.309,14.741-10.901,17.813-18.603    c8.491,0.448,17.237-2.56,24.469-8.768C407.979,346.407,411.349,330.109,404.267,315.41z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M213.333,138.663h-96c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h96    c5.888,0,10.667-4.779,10.667-10.667S219.221,138.663,213.333,138.663z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M435.52,292.711c-3.307-4.885-9.92-6.229-14.805-2.901l-31.189,20.949c-4.885,3.285-6.187,9.92-2.901,14.805    c2.069,3.051,5.44,4.715,8.875,4.715c2.027,0,4.096-0.576,5.931-1.813l31.189-20.949    C437.504,304.231,438.805,297.597,435.52,292.711z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M369.301,343.613c-7.637-6.016-41.792-40.981-62.912-62.997c-4.075-4.267-10.837-4.416-15.083-0.32    c-4.267,4.075-4.395,10.837-0.32,15.083c5.483,5.717,53.845,56.128,65.088,65.003c1.941,1.536,4.288,2.283,6.592,2.283    c3.136,0,6.272-1.408,8.405-4.075C374.72,353.981,373.931,347.261,369.301,343.613z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M326.677,365.01c-12.779-10.219-44.885-44.331-52.139-52.224c-4.011-4.352-10.731-4.608-15.083-0.64    c-4.331,3.989-4.629,10.752-0.64,15.083c0.384,0.405,38.699,41.771,54.528,54.443c1.963,1.557,4.331,2.325,6.656,2.325    c3.115,0,6.229-1.387,8.341-3.989C332.011,375.399,331.264,368.679,326.677,365.01z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M284.224,386.493c-15.211-12.821-46.336-45.952-52.416-52.459c-4.032-4.309-10.795-4.544-15.083-0.512    c-4.309,4.032-4.523,10.773-0.512,15.083c8.747,9.365,38.528,40.939,54.251,54.208c2.005,1.685,4.437,2.517,6.869,2.517    c3.029,0,6.059-1.301,8.171-3.797C289.301,397.01,288.725,390.29,284.224,386.493z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M124.672,120.253C106.389,102.93,33.28,97.319,11.307,96.018c-3.029-0.149-5.824,0.853-7.957,2.88    C1.216,100.903,0,103.719,0,106.663v192c0,5.888,4.779,10.667,10.667,10.667h64c4.608,0,8.704-2.965,10.133-7.36    c1.557-4.779,38.315-117.589,43.157-173.056C128.235,125.671,127.04,122.471,124.672,120.253z M66.88,287.997H21.333V118.098    c34.283,2.709,71.275,8.597,84.715,15.125C100.395,179.943,74.816,262.951,66.88,287.997z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M501.333,117.33c-83.755,0-130.219,21.44-132.16,22.336c-2.773,1.301-4.843,3.712-5.696,6.635s-0.427,6.059,1.173,8.661    c13.184,21.227,54.464,139.115,62.4,167.872c1.28,4.629,5.483,7.829,10.283,7.829h64c5.888,0,10.667-4.779,10.667-10.667v-192    C512,122.087,507.221,117.33,501.333,117.33z M490.667,309.33h-45.355c-10.112-32.939-39.979-118.827-56.64-154.325    c16.277-5.525,51.243-15.019,101.995-16.213V309.33z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-3">Honestidad e Integridad</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8dbf"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-8dbf">
                                    <g>
                                        <path d="m468.76 279.078c11.326-12.442 18.24-28.967 18.24-47.078 0-38.599-31.401-70-70-70s-70 31.401-70 70c0 26.746 15.083 50.026 37.185 61.808-13.692 13.595-22.185 32.419-22.185 53.192v15h-45c-24.813 0-45 20.187-45 45 0 5.259.915 10.305 2.58 15h-37.16c1.665-4.695 2.58-9.741 2.58-15 0-24.813-20.187-45-45-45h-45v-15c0-20.773-8.493-39.597-22.185-53.192 22.102-11.782 37.185-35.062 37.185-61.808 0-38.599-31.401-70-70-70s-70 31.401-70 70c0 18.111 6.914 34.636 18.24 47.078-25.519 11.981-43.24 37.915-43.24 67.922v150c0 8.284 6.716 15 15 15h482c8.284 0 15-6.716 15-15v-150c0-30.007-17.721-55.941-43.24-67.922zm-91.76-47.078c0-22.056 17.944-40 40-40s40 17.944 40 40-17.944 40-40 40-40-17.944-40-40zm-282-40c22.056 0 40 17.944 40 40s-17.944 40-40 40-40-17.944-40-40 17.944-40 40-40zm-20 170c-8.284 0-15 6.716-15 15v20c0 25.127 16.943 46.356 40 52.904v32.096h-70v-135c0-24.813 20.187-45 45-45s45 20.187 45 45v30c0 8.284 6.716 15 15 15h60c8.271 0 15 6.729 15 15s-6.729 15-15 15h-80c-13.785 0-25-11.215-25-25v-20c0-8.284-6.716-15-15-15zm307 120h-252v-30h252zm100 0h-70v-32.096c23.057-6.547 40-27.777 40-52.904v-20c0-8.284-6.716-15-15-15s-15 6.716-15 15v20c0 13.785-11.215 25-25 25h-80c-8.271 0-15-6.729-15-15s6.729-15 15-15h60c8.284 0 15-6.716 15-15v-30c0-24.813 20.187-45 45-45s45 20.187 45 45z"></path>
                                        <path d="m176 150h5v25c0 5.766 3.306 11.021 8.502 13.52 5.197 2.498 11.364 1.797 15.868-1.807l45.892-36.713h9.477l45.892 36.713c4.514 3.615 10.698 4.295 15.868 1.807 5.196-2.498 8.502-7.754 8.502-13.52v-25h5c19.299 0 35-15.701 35-35v-80c0-19.299-15.701-35-35-35h-160.001c-19.299 0-35 15.701-35 35v80c0 19.299 15.701 35 35 35zm-5-115c0-2.757 2.243-5 5-5h160c2.757 0 5 2.243 5 5v80c0 2.757-2.243 5-5 5h-20c-8.284 0-15 6.716-15 15v8.791l-25.63-20.504c-2.659-2.128-5.964-3.287-9.37-3.287h-20c-3.406 0-6.711 1.159-9.37 3.287l-25.63 20.504v-8.791c0-8.284-6.716-15-15-15h-20c-2.757 0-5-2.243-5-5z"></path>
                                        <path d="m216 90h80c8.284 0 15-6.716 15-15s-6.716-15-15-15h-80c-8.284 0-15 6.716-15 15s6.716 15 15 15z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Comunicación Efectiva</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a70a"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-a70a" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <path d="M492.913,214.481l-30-51.962c-1.989-3.445-5.266-5.959-9.108-6.989c-3.842-1.029-7.936-0.491-11.383,1.499l-22.163,12.797   c-4.543-3.143-9.306-5.908-14.259-8.28V136c0-8.284-6.716-15-15-15h-60c-8.284,0-15,6.716-15,15v25.546   c-4.953,2.372-9.716,5.137-14.259,8.28c-13.076-7.197-32.948-18.135-46.141-25.397c0.268-2.901,0.4-5.699,0.4-8.429   s-0.132-5.528-0.4-8.429l21.823-12.6c7.175-4.142,9.633-13.316,5.491-20.49l-30.001-51.962c-1.989-3.445-5.265-5.959-9.108-6.989   c-3.842-1.03-7.938-0.491-11.382,1.499l-22.164,12.797c-4.543-3.143-9.306-5.908-14.259-8.28V15c0-8.284-6.716-15-15-15h-60   c-8.284,0-15,6.716-15,15v26.546c-4.953,2.372-9.715,5.137-14.259,8.28L69.577,37.029c-3.445-1.989-7.541-2.529-11.382-1.499   c-3.843,1.029-7.12,3.543-9.108,6.989l-30,51.962c-4.142,7.174-1.684,16.348,5.49,20.49l21.823,12.6   C46.132,130.472,46,133.27,46,136s0.132,5.528,0.4,8.429l-21.823,12.599c-3.445,1.989-5.959,5.266-6.989,9.108   s-0.491,7.937,1.499,11.382l30,51.962c1.989,3.445,5.265,5.959,9.108,6.989c3.841,1.03,7.937,0.491,11.382-1.499l22.164-12.798   c4.543,3.143,9.305,5.907,14.259,8.279c0,16.233,0,34.861,0,51.094c-4.953,2.372-9.715,5.137-14.259,8.28l-22.164-12.797   c-3.445-1.989-7.541-2.529-11.382-1.499c-3.843,1.029-7.12,3.543-9.108,6.989l-30,51.962c-4.142,7.174-1.684,16.348,5.49,20.49   l21.823,12.6C46.132,370.472,46,373.27,46,376s0.132,5.528,0.4,8.429l-21.823,12.599c-3.445,1.989-5.959,5.266-6.989,9.108   s-0.491,7.937,1.499,11.382l30,51.962c1.989,3.445,5.265,5.959,9.108,6.989c3.841,1.029,7.937,0.491,11.382-1.499l22.164-12.798   c4.543,3.143,9.305,5.907,14.259,8.279V497c0,8.284,6.716,15,15,15h60c8.284,0,15-6.716,15-15v-26.546   c4.954-2.372,9.715-5.137,14.259-8.28l22.164,12.797c3.444,1.989,7.539,2.528,11.382,1.499c3.843-1.029,7.12-3.543,9.108-6.989   l30.001-51.962c1.989-3.445,2.527-7.54,1.498-11.382s-3.544-7.119-6.989-9.108L255.6,384.429c0.268-2.901,0.4-5.699,0.4-8.429   s-0.132-5.528-0.4-8.429c13.19-7.26,33.066-18.2,46.141-25.397c4.544,3.143,9.305,5.907,14.259,8.279V376c0,8.284,6.716,15,15,15   h60c8.284,0,15-6.716,15-15v-25.546c4.954-2.372,9.715-5.137,14.259-8.28l22.163,12.797c3.446,1.989,7.543,2.527,11.383,1.499   c3.843-1.029,7.119-3.543,9.108-6.989l30-51.962c1.989-3.445,2.528-7.54,1.499-11.382c-1.03-3.843-3.544-7.119-6.989-9.108   l-21.822-12.599c0.268-2.901,0.399-5.699,0.399-8.43s-0.132-5.529-0.399-8.429l21.822-12.6   C494.598,230.829,497.056,221.655,492.913,214.481z M256.4,264.429c-13.205,7.268-33.053,18.193-46.141,25.397   c-4.543-3.143-9.306-5.908-14.259-8.28c0-16.233,0-34.86,0-51.093c4.954-2.372,9.715-5.137,14.259-8.28   c12.866,7.082,33.114,18.226,46.141,25.397c-0.268,2.901-0.4,5.699-0.4,8.429S256.132,261.528,256.4,264.429z M102.653,192.763   c-4.831-4.123-11.737-4.754-17.237-1.58l-17.85,10.307l-15-25.98l17.586-10.153c5.501-3.176,8.405-9.473,7.25-15.72   C76.446,144.464,76,140.13,76,136s0.446-8.463,1.403-13.637c1.156-6.246-1.748-12.543-7.25-15.719L52.567,96.491l15-25.981   l17.85,10.307c5.5,3.175,12.405,2.542,17.237-1.58c7.004-5.976,14.872-10.545,23.384-13.58c5.974-2.13,9.963-7.787,9.963-14.129V30   h30v21.528c0,6.342,3.989,11.999,9.962,14.129c8.513,3.035,16.38,7.604,23.384,13.58c4.832,4.123,11.737,4.754,17.237,1.58   l17.85-10.307l15,25.981l-17.586,10.153c-5.501,3.176-8.405,9.473-7.25,15.719C225.554,127.537,226,131.87,226,136   s-0.446,8.464-1.403,13.637c-1.156,6.247,1.749,12.543,7.25,15.72l17.586,10.153l-15,25.98l-17.85-10.307   c-5.502-3.176-12.406-2.543-17.237,1.58c-7.004,5.977-14.872,10.546-23.383,13.58c-5.975,2.129-9.963,7.787-9.963,14.129V241h-30   v-20.53c0-6.342-3.989-12-9.963-14.129C117.523,203.306,109.656,198.738,102.653,192.763z M224.597,362.363   C225.554,367.537,226,371.87,226,376s-0.446,8.464-1.403,13.637c-1.156,6.247,1.749,12.543,7.25,15.72l17.586,10.153l-15,25.98   l-17.85-10.307c-5.502-3.176-12.406-2.543-17.237,1.58c-7.004,5.977-14.872,10.546-23.383,13.58   c-5.975,2.129-9.963,7.787-9.963,14.129V482h-30v-21.53c0-6.342-3.989-12-9.963-14.129c-8.514-3.035-16.381-7.604-23.383-13.578   c-4.831-4.123-11.737-4.754-17.237-1.58l-17.85,10.307l-15-25.98l17.586-10.153c5.501-3.176,8.405-9.473,7.25-15.72   C76.446,384.464,76,380.13,76,376s0.446-8.463,1.403-13.637c1.156-6.246-1.748-12.543-7.25-15.719l-17.586-10.153l15-25.981   l17.85,10.307c5.5,3.175,12.405,2.542,17.237-1.58c7.004-5.976,14.872-10.545,23.384-13.58c5.974-2.13,9.963-7.787,9.963-14.129   V271h30v20.528c0,6.342,3.989,11.999,9.962,14.129c8.513,3.035,16.38,7.604,23.384,13.58c4.832,4.123,11.737,4.754,17.237,1.58   l17.85-10.307l15,25.981l-17.586,10.153C226.345,349.82,223.441,356.117,224.597,362.363z M434.598,242.365   C435.555,247.534,436,251.867,436,256s-0.445,8.466-1.402,13.636c-1.156,6.247,1.747,12.544,7.249,15.72l17.586,10.153l-15,25.98   l-17.849-10.307c-5.502-3.176-12.406-2.544-17.237,1.58c-7.005,5.977-14.872,10.546-23.384,13.58   c-5.974,2.129-9.963,7.787-9.963,14.129V361h-30v-20.53c0-6.342-3.989-12-9.963-14.129c-8.515-3.035-16.382-7.604-23.384-13.578   c-4.831-4.124-11.737-4.755-17.236-1.58l-19.465,11.239l-15-25.98l19.201-11.086c5.501-3.176,8.405-9.473,7.25-15.719   C286.446,264.464,286,260.13,286,256s0.445-8.463,1.403-13.637c1.155-6.246-1.749-12.543-7.25-15.719l-19.201-11.086l15-25.98   l19.465,11.239c5.5,3.175,12.405,2.542,17.236-1.58c7.004-5.976,14.871-10.545,23.384-13.58c5.975-2.13,9.963-7.787,9.963-14.129   V151h30v20.528c0,6.342,3.988,11.999,9.963,14.129c8.513,3.035,16.38,7.604,23.384,13.58c4.831,4.123,11.735,4.755,17.237,1.58   l17.849-10.307l15,25.981l-17.586,10.153C436.345,229.82,433.441,236.118,434.598,242.365z"></path>
                                        <path d="M146.607,176.606l60-60c5.858-5.858,5.858-15.355,0-21.213c-5.857-5.858-15.355-5.858-21.213,0L136,144.787l-19.394-19.393   c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213l30,30C128.322,179.536,132.161,181,136,181   S143.678,179.536,146.607,176.606z"></path>
                                        <path d="M185.394,335.394L136,384.787l-19.394-19.393c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213   l30,30C128.322,419.536,132.161,421,136,421s7.678-1.464,10.606-4.394l60-60c5.858-5.858,5.858-15.355,0-21.213   C200.749,329.535,191.251,329.535,185.394,335.394z"></path>
                                        <path d="M395.394,215.394L346,264.787l-19.394-19.393c-5.857-5.858-15.355-5.858-21.213,0c-5.858,5.858-5.858,15.355,0,21.213   l30,30C338.322,299.536,342.161,301,346,301s7.678-1.464,10.606-4.394l60-60c5.858-5.858,5.858-15.355,0-21.213   C410.749,209.535,401.251,209.535,395.394,215.394z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-5">Funcionalidad</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-icon u-icon-circle u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -18 473.20058 473" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc94"></use></svg><svg class="u-svg-content" viewBox="0 -18 473.20058 473" id="svg-dc94"><path d="m73.089844 116.109375c-.710938 1.214844-1.085938 2.59375-1.089844 4v32c0 22.054687 28.710938 40 64 40s64-17.945313 64-40v-32c-.003906-1.40625-.378906-2.785156-1.089844-4l-48.980468-84h67.542968c2.417969 6.773437 7.75 12.105469 14.527344 14.527344v209.472656h-48v16h112v-16h-48v-209.472656c6.777344-2.421875 12.109375-7.753907 14.527344-14.527344h67.542968l-48.980468 84c-.710938 1.214844-1.085938 2.59375-1.089844 4v32c0 22.054687 28.710938 40 64 40s64-17.945313 64-40v-32c-.003906-1.40625-.378906-2.785156-1.089844-4l-48.980468-84h26.070312v-16h-121.472656c-3.339844-9.585937-12.378906-16.007813-22.527344-16.007813s-19.1875 6.421876-22.527344 16.007813h-121.472656v16h26.070312zm110.910156 36c0 9.78125-18.695312 24-48 24s-48-14.21875-48-24v-8h96zm0-24h-96v-5.832031l48-82.289063 48 82.289063zm208 24c0 9.78125-18.695312 24-48 24s-48-14.21875-48-24v-8h96zm0-24h-96v-5.832031l48-82.289063 48 82.289063zm-152-112c4.417969 0 8 3.582031 8 8s-3.582031 8-8 8-8-3.582031-8-8 3.582031-8 8-8zm0 0"></path><path d="m64 16.109375h16v16h-16zm0 0"></path><path d="m400 16.109375h16v16h-16zm0 0"></path><path d="m468.921875 295.308594c-8.917969-15.207032-28.398437-20.429688-43.722656-11.710938l-68.128907 39.308594c-5.167968-11.417969-16.535156-18.765625-29.070312-18.796875h-94.703125l-29.527344-9.839844c-12.234375-4.085937-25.046875-6.164062-37.945312-6.160156h-6.800781c-21.75 0-43.09375 5.910156-61.742188 17.101563l-11.496094 6.898437h-5.785156c0-4.417969-3.582031-8-8-8h-64c-4.417969 0-8 3.582031-8 8v112c0 4.417969 3.582031 8 8 8h64c4.417969 0 8-3.582031 8-8h60.246094c2.1875 0 4.375.125 6.546875.382813l95.367187 11.199218c4.589844.539063 9.210938.804688 13.832032.800782 21.121093 0 41.871093-5.539063 60.183593-16.0625l141.023438-81.394532c9.953125-5.671875 16.070312-16.273437 16-27.726562-.003907-5.617188-1.480469-11.132813-4.277344-16zm-404.921875 120.800781h-48v-96h48zm385.199219-90.929687-141.023438 81.425781c-19.425781 11.160156-41.921875 15.792969-64.175781 13.214843l-95.359375-11.199218c-2.785156-.335938-5.585937-.503906-8.394531-.511719h-60.246094v-80h8c1.453125-.003906 2.875-.398437 4.121094-1.144531l13.390625-8c16.160156-9.710938 34.65625-14.847656 53.511719-14.855469h6.800781c11.179687 0 22.28125 1.800781 32.886719 5.335937l30.761718 10.253907c.816406.273437 1.667969.410156 2.527344.410156h96c8.835938 0 16 7.160156 16 16 0 8.835937-7.164062 16-16 16h-120v16h120c16.152344-.050781 29.726562-12.160156 31.617188-28.203125l73.542968-42.445312c4.949219-2.859376 11.046875-2.859376 15.996094-.003907s8 8.136719 8.003906 13.851563c.046875 5.722656-2.996094 11.023437-7.960937 13.871094zm0 0"></path></svg>


                            </span>
                            <h3 class="u-text u-text-6">Ética Profesional</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <span class="u-icon u-icon-circle u-icon-5">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 496 496" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bde0"></use></svg><svg class="u-svg-content" viewBox="0 0 496 496" id="svg-bde0"><path d="m388 436.824h-280c-8.836 0-16-7.164-16-16v-47.37c0-22.566 13.314-43.093 33.92-52.293 59.93-26.76 56.645-25.855 61.315-25.855h19.017c7.364 0 13.777 5.026 15.537 12.177 6.707 27.256 45.713 27.269 52.423 0 1.76-7.15 8.173-12.177 15.537-12.177 20.466 0 21.517-.406 25.54 1.39l54.792 24.465c20.605 9.2 33.92 29.727 33.92 52.293v47.37c-.001 8.836-7.165 16-16.001 16zm-139.609-377.648c-53.89 0-97.732 43.842-97.732 97.732s43.842 97.732 97.732 97.732 97.732-43.842 97.732-97.732-43.842-97.732-97.732-97.732zm-154.173 104.536c-33.931 0-61.536 27.605-61.536 61.537 0 33.931 27.605 61.536 61.536 61.536 33.932 0 61.537-27.605 61.537-61.536-.001-33.932-27.606-61.537-61.537-61.537zm307.564 0c-33.932 0-61.537 27.605-61.537 61.537 0 33.931 27.605 61.536 61.537 61.536 33.931 0 61.536-27.605 61.536-61.536 0-33.932-27.605-61.537-61.536-61.537zm71.118 146.578c-33.292-14.868-32.495-15.02-37.05-15.02-23.833 0-39.424-.167-49.97-.219-10.482-.052-13.954 14.007-4.666 18.865 7.605 3.978 12.222 7.371 17.706 13.355 16.003 17.381 17.494 35.776 17.491 51.027-.001 5.523 4.474 9.993 9.997 9.993h53.592c8.84 0 16-7.17 16-16v-26.391c0-15.37-9.07-29.34-23.1-35.61zm-412.75-15.02c-4.534 0-3.642.1-37.05 15.02-14.03 6.27-23.1 20.24-23.1 35.61v26.39c0 8.83 7.16 16 16 16h53.588c5.526 0 10.004-4.476 9.997-10.001-.018-15.305 1.429-33.569 17.495-51.019 5.457-5.955 10.113-9.378 17.55-13.285 9.269-4.869 5.844-18.887-4.626-18.869-10.609.018-26.198.154-49.854.154z"></path></svg>


                            </span>
                            <h3 class="u-text u-text-7">Compromiso</h3>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                            <span class="u-icon u-icon-circle u-icon-6">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-aa2c"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-aa2c">
                                    <g>
                                        <path d="m151 120c0-33.084-26.916-60-60-60s-60 26.916-60 60 26.916 60 60 60 60-26.916 60-60zm-60 30c-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30-13.458 30-30 30z"></path>
                                        <path d="m481 120c0-33.084-26.916-60-60-60s-60 26.916-60 60 26.916 60 60 60 60-26.916 60-60zm-60 30c-16.542 0-30-13.458-30-30s13.458-30 30-30 30 13.458 30 30-13.458 30-30 30z"></path>
                                        <path d="m421 180c-27.713 0-52.536 12.594-69.059 32.355-16.379-36.706-53.219-62.355-95.941-62.355s-79.562 25.649-95.941 62.355c-16.523-19.761-41.346-32.355-69.059-32.355-49.915 0-91 40.422-91 90v75c0 8.284 6.716 15 15 15h16.407l13.666 138.473c.757 7.676 7.213 13.527 14.927 13.527h61c7.714 0 14.17-5.851 14.927-13.527l13.666-138.473h50.09l11.368 138.229c.639 7.782 7.141 13.771 14.949 13.771h60c7.808 0 14.31-5.989 14.949-13.771l11.369-138.229h50.089l13.665 138.473c.758 7.676 7.214 13.527 14.928 13.527h61c7.714 0 14.17-5.851 14.928-13.527l13.665-138.473h16.407c8.284 0 15-6.716 15-15v-75c0-49.519-41.033-90-91-90zm-285 150c-7.714 0-14.17 5.851-14.927 13.527l-13.666 138.473h-33.814l-13.666-138.473c-.757-7.676-7.213-13.527-14.927-13.527h-15v-60c0-33.084 27.364-60 61-60 33.084 0 60 26.916 60 60v60zm162.501 0c-7.808 0-14.31 5.989-14.949 13.771l-11.369 138.229h-32.366l-11.368-138.229c-.64-7.781-7.142-13.771-14.95-13.771h-32.499v-75c0-36.219 25.808-66.522 60-73.491v73.491c0 8.284 6.716 15 15 15s15-6.716 15-15v-73.491c34.192 6.968 60 37.271 60 73.491v75zm183.499 0h-15c-7.714 0-14.17 5.851-14.928 13.527l-13.665 138.473h-33.814l-13.665-138.473c-.758-7.676-7.214-13.527-14.928-13.527h-15v-60c0-33.084 26.916-60 60-60 33.636 0 61 26.916 61 60z"></path>
                                        <path d="m331 75c0-41.355-33.645-75-75-75s-75 33.645-75 75 33.645 75 75 75 75-33.645 75-75zm-75 45c-24.813 0-45-20.187-45-45s20.187-45 45-45 45 20.187 45 45-20.187 45-45 45z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-8">Transparencia</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>