<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Desarrollo de Software</title>
    
    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Desarrollo-de-Software.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>


    <link rel="icon" href="../images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Desarrollo de Software">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-align-center u-clearfix u-section-1" id="carousel_a852">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Desarrollo de Software a Medida</h2>
            <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Si está buscando un&nbsp;desarrollo de&nbsp; <span style="font-weight: 700;">software</span>
                <span style="font-weight: 700;">&nbsp;a medida</span>&nbsp;MG Consultores es su socio ideal. Contamos con más de 10 años de experiencia en el desarrollo de complejos y robustos sistemas empresariales, podemos suplir todas las necesidades tecnológicas de su compañía para entregarle soluciones de calidad que beneficien sus operaciones comerciales con el mejor costo / beneficio.<br>
                <br>&nbsp;Contamos con un equipo experto de ingenieros y programadores de software especialistas en el&nbsp;desarrollo de <span style="font-weight: 700;">software a medida</span>&nbsp;en la nube con modernas y seguras tecnologías web &amp; móviles.Los Pilares del equipo de Desarrollo de Software a Medida de MG Consultores son experiencia, metodología y equipo humanos con el que contamos. Tenemos una vasta experiencia de más de 10 años en el desarrollo de software empresarial, un sólido equipo humano altamente calificado, un sistema de calidad certificado con la norma ISO 9001:2000 y Procesos de Desarrollo de Software basados en el modelo CMMI.
            </p>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-2" id="carousel_10bc">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">Beneficios del Desarrollo de Software a medida</h2>
            <ul class="u-align-left u-custom-list u-spacing-18 u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-1">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Con un <span style="font-weight: 700;">software a medida&nbsp;</span>implementado en su negocio, usted podrá reducir costos y aumentar sus ingresos.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-2">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Su empresa se orientará completamente a su negocio y no tendrá responsabilidades de software como carga de trabajo.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-3">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Aumento de ciberseguridad.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-4">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Servicio de mantenimiento y soporte una vez terminado el proyecto, acompañando al cliente en cualquier correción o consulta.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-5">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Trasladar el riesgo a empresas que se dedican o son especialistas a tecnologia.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-6">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Obtener un producto de software de alta calidad gracias a nuestra amplia experiencia y metodología utilizada.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-7">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Se ha diseñado específicamente para las necesidades empresariales específicas. Se puede adaptar a través de la programación de software personalizado para adaptarse a las necesidades operativas de una organización.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-8">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Es más fácil e intuitivo de usar y no contiene instalaciones innecesarias.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-9">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Agregar valor a una empresa, sugiriendo alternativas útiles y actuando como una útil fuente de asesoramiento e información.
                </li>
                <li>
                    <div class="class u-list-icon u-text-palette-1-base u-list-icon-10">
                        <svg class="u-svg-content" viewBox="0 0 24 24" id="svg-509c" style="font-size: 1.2em; margin: -1.2em;"><path d="m23.526 5.101c-.04-.399-.231-.759-.541-1.014l-2.318-1.904c-.639-.524-1.585-.432-2.111.207l-9.745 11.86-3.916-3.355c-.628-.536-1.576-.465-2.115.163l-1.952 2.278c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346c.275.235.616.361.974.361.044 0 .089-.002.134-.006.405-.036.77-.229 1.028-.542l12.662-15.411c.255-.309.373-.7.334-1.098z" fill="#2196f3"></path><path d="m.638 13.173c-.304.354-.452.807-.417 1.273.036.466.251.891.606 1.194l7.403 6.346v.001c.321.273.719.421 1.136.421.052 0 .104-.003.156-.007.472-.042.898-.266 1.199-.632l12.665-15.411c.613-.746.504-1.852-.242-2.464l-2.318-1.904c-.744-.612-1.848-.504-2.463.24l-9.584 11.665-3.722-3.189c-.732-.627-1.839-.543-2.467.189zm3.444-1.329 4.303 3.688c.153.131.348.196.554.178.201-.018.386-.115.514-.271l10.07-12.255c.087-.107.246-.123.352-.035l2.318 1.904c.107.088.123.246.035.353l-12.664 15.41c-.058.07-.132.087-.171.09-.039.006-.115.001-.185-.059l-7.404-6.346c-.068-.059-.083-.132-.086-.171-.003-.038.001-.113.06-.182l1.952-2.278c.089-.102.247-.116.352-.026z"></path></svg>
                    </div>Flexibilidad en comparación con los paquetes de software. Software personalizado se puede cambiar y modificarse con el tiempo según los cambios en los requerimientos del negocio.
                </li>
            </ul>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_c56b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Personalizado para su negocio<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.001 512.001" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ddfb"></use></svg><svg class="u-svg-content" viewBox="0 0 512.001 512.001" x="0px" y="0px" id="svg-ddfb" style="enable-background:new 0 0 512.001 512.001;">
                                    <g>
                                        <g>
                                            <path d="M433.013,113.612h-74.169V67.268c0-20.929-17.201-37.954-38.344-37.954H191.502c-21.143,0-38.344,17.027-38.344,37.954    v46.344H78.988C35.434,113.612,0,149.046,0,192.6v225.567c0,35.576,28.943,64.52,64.52,64.52h382.961    c35.576,0,64.52-28.943,64.52-64.52V192.6C512,149.046,476.566,113.612,433.013,113.612z M183.249,67.268    c0-4.483,3.548-7.863,8.253-7.863h128.997c4.705,0,8.253,3.38,8.253,7.863v46.344H183.249V67.268z M481.908,418.167    c0.001,18.984-15.443,34.429-34.427,34.429H64.52c-18.985,0-34.429-15.445-34.429-34.429V277.629    c4.712,2.957,9.864,5.353,15.392,7.061c0.288,0.088,0.578,0.169,0.87,0.241l153.282,37.461v12.374    c0,19.428,15.806,35.234,35.234,35.234h42.262c19.428,0,35.234-15.806,35.234-35.234v-12.374l153.282-37.461    c0.293-0.071,0.583-0.151,0.87-0.241c5.528-1.708,10.679-4.104,15.392-7.061V418.167z M229.727,334.766v-42.452    c0-2.836,2.307-5.143,5.143-5.143h42.262c2.836-0.001,5.143,2.307,5.143,5.143v42.452c0,2.836-2.307,5.143-5.143,5.143h-42.262    C232.034,339.908,229.727,337.601,229.727,334.766z M481.91,222.921c0,15.126-9.579,28.293-23.883,32.895l-145.683,35.603    c-0.477-19.016-16.083-34.341-35.212-34.341h-42.262c-19.128,0-34.734,15.326-35.212,34.341L53.974,255.817    c-14.303-4.603-23.883-17.77-23.883-32.896V192.6c0-26.962,21.935-48.897,48.897-48.897h354.025    c26.961,0,48.896,21.935,48.896,48.897V222.921z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Tipo de Negocio</h3>
                            <p class="u-text u-text-3">Entenderlo implica saber a qué se dedica. Es la manera inicial para saber qué herramientas le serán útiles.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2e00"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-2e00"><path d="m474.414062 122.4375 24.832032-24.828125c4.125-4.128906 5.484375-10.277344 3.480468-15.757813-2.003906-5.484374-7.007812-9.304687-12.828124-9.796874l-46.066407-3.886719-3.886719-46.066407c-.488281-5.816406-4.3125-10.820312-9.792968-12.824218-5.480469-2.007813-11.628906-.648438-15.757813 3.480468l-24.832031 24.828126c-40.15625-24.621094-86.070312-37.585938-133.5625-37.585938-68.378906 0-132.667969 26.628906-181.019531 74.980469-48.351563 48.351562-74.980469 112.640625-74.980469 181.019531s26.628906 132.667969 74.980469 181.019531c48.351562 48.351563 112.640625 74.980469 181.019531 74.980469s132.667969-26.628906 181.019531-74.980469c48.351563-48.351562 74.980469-112.640625 74.980469-181.019531 0-47.492188-12.964844-93.402344-37.585938-133.5625zm-59.414062-39.125c.617188 7.289062 6.398438 13.070312 13.6875 13.6875l26.503906 2.234375-35.875 35.875-39.125-3.300781-3.300781-39.125 35.875-35.875zm-108 172.6875c0 28.121094-22.878906 51-51 51s-51-22.878906-51-51 22.878906-51 51-51c8.613281 0 16.726562 2.152344 23.847656 5.9375l-34.453125 34.457031c-5.859375 5.855469-5.859375 15.351563 0 21.210938 2.925781 2.929687 6.765625 4.394531 10.605469 4.394531s7.679688-1.464844 10.605469-4.394531l34.457031-34.453125c3.785156 7.121094 5.9375 15.234375 5.9375 23.847656zm-5.347656-66.867188c-13.007813-8.90625-28.730469-14.132812-45.652344-14.132812-44.664062 0-81 36.335938-81 81s36.335938 81 81 81 81-36.335938 81-81c0-16.921875-5.226562-32.644531-14.132812-45.652344l42.828124-42.828125c19.566407 24.210938 31.304688 55 31.304688 88.480469 0 77.746094-63.253906 141-141 141s-141-63.253906-141-141 63.253906-141 141-141c33.480469 0 64.269531 11.738281 88.480469 31.304688zm114.152344 226.671876c-42.683594 42.6875-99.4375 66.195312-159.804688 66.195312s-117.121094-23.507812-159.804688-66.195312c-42.6875-42.683594-66.195312-99.4375-66.195312-159.804688s23.507812-117.121094 66.195312-159.804688c42.683594-42.6875 99.4375-66.195312 159.804688-66.195312 39.492188 0 77.746094 10.144531 111.671875 29.476562l-16.917969 16.917969c-2.734375 2.734375-4.292968 6.398438-4.390625 10.222657-.011719.546874.003907 1.09375.046875 1.644531l2.019532 23.933593c-26.667969-17.203124-58.402344-27.195312-92.429688-27.195312-94.289062 0-171 76.710938-171 171s76.710938 171 171 171 171-76.710938 171-171c0-34.027344-9.992188-65.761719-27.195312-92.429688l23.933593 2.019532c.421875.03125.84375.050781 1.261719.050781.070312 0 .144531-.007813.214844-.011719.199218 0 .394531-.015625.59375-.027344.324218-.019531.652344-.039062.972656-.078124.199219-.027344.398438-.058594.597656-.089844.316406-.050782.628906-.109375.941406-.179688.199219-.046875.394532-.097656.589844-.148437.304688-.082031.605469-.175781.90625-.277344.195313-.066406.386719-.132813.578125-.207031.292969-.113282.582031-.238282.871094-.375.183594-.082032.367187-.164063.550781-.257813.289063-.148437.570313-.3125.847656-.476562.167969-.101563.335938-.195313.5-.296875.296876-.195313.582032-.40625.867188-.621094.132812-.101562.269531-.191406.398438-.296875.40625-.328125.800781-.675781 1.175781-1.050781l16.917969-16.917969c19.332031 33.925781 29.476562 72.179687 29.476562 111.671875 0 60.367188-23.507812 117.121094-66.195312 159.804688zm0 0"></path></svg>


                            </span>
                            <h3 class="u-text u-text-4">Objetivos de Negocio</h3>
                            <p class="u-text u-text-5">Todos nos trazamos metas. Conociendo las suyas, podemos darle la mejor recomendación para su compañía.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 24 24" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9fad"></use></svg><svg class="u-svg-content" viewBox="0 0 24 24" id="svg-9fad"><path d="m12 6c-1.228 0-12-.084-12-3s10.772-3 12-3 12 .084 12 3-10.772 3-12 3zm-10.412-3c.732.568 4.245 1.5 10.412 1.5s9.68-.932 10.412-1.5c-.732-.568-4.245-1.5-10.412-1.5s-9.68.932-10.412 1.5zm20.939.116h.01z"></path><path d="m12 12c-1.228 0-12-.084-12-3 0-.414.336-.75.75-.75.385 0 .702.29.745.664.462.553 4.012 1.586 10.505 1.586s10.043-1.033 10.505-1.586c.043-.374.36-.664.745-.664.414 0 .75.336.75.75 0 2.916-10.772 3-12 3zm10.5-3.001c0 .001 0 .001 0 0zm-21 0c0 .001 0 .001 0 0z"></path><path d="m12 18c-1.228 0-12-.084-12-3 0-.414.336-.75.75-.75.385 0 .702.29.745.664.462.553 4.012 1.586 10.505 1.586s10.043-1.033 10.505-1.586c.043-.374.36-.664.745-.664.414 0 .75.336.75.75 0 2.916-10.772 3-12 3zm10.5-3.001c0 .001 0 .001 0 0zm-21 0c0 .001 0 .001 0 0z"></path><path d="m12 24c-1.228 0-12-.084-12-3v-18c0-.414.336-.75.75-.75s.75.336.75.75v17.919c.481.556 4.03 1.581 10.5 1.581s10.019-1.025 10.5-1.581v-17.919c0-.414.336-.75.75-.75s.75.336.75.75v18c0 2.916-10.772 3-12 3z"></path><circle cx="5" cy="14" r="1"></circle><circle cx="5" cy="8" r="1"></circle><circle cx="5" cy="20" r="1"></circle></svg>


                            </span>
                            <h3 class="u-text u-text-6">Base de Datos</h3>
                            <p class="u-text u-text-7">
                                Para darle mayor satisfacción al momento de trabajar, creamos un<span style="font-weight: 700;">&nbsp;software</span>&nbsp;capaz de manejar la cantidad de información que usted posee.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="u-expanded-width u-list u-list-2">
                <div class="u-repeater u-repeater-2">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-icon u-icon-circle u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-24fd"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-24fd">
                                    <g>
                                        <path d="m251.988 512h-40c-19.851 0-36-16.149-36-36v-248c0-19.851 16.149-36 36-36h40c19.851 0 36 16.149 36 36v248c0 19.851-16.15 36-36 36zm-40-288c-2.206 0-4 1.794-4 4v248c0 2.206 1.794 4 4 4h40c2.206 0 4-1.794 4-4v-248c0-2.206-1.794-4-4-4z"></path>
                                        <path d="m99.988 512h-40c-19.851 0-36-16.149-36-36v-168c0-19.851 16.149-36 36-36h40c19.851 0 36 16.149 36 36v168c0 19.851-16.15 36-36 36zm-40-208c-2.206 0-4 1.794-4 4v168c0 2.206 1.794 4 4 4h40c2.206 0 4-1.794 4-4v-168c0-2.206-1.794-4-4-4z"></path>
                                        <path d="m403.988 512h-40c-19.851 0-36-16.149-36-36v-332h-21.98c-10.276 0-19.328-5.8-23.622-15.136s-2.807-19.982 3.881-27.785c.076-.089.154-.178.232-.265l85.573-95.492c3.035-3.387 7.368-5.322 11.916-5.322s8.88 1.935 11.916 5.322l85.573 95.492c.079.087.156.176.232.265 6.688 7.802 8.175 18.449 3.881 27.785s-13.346 15.136-23.622 15.136h-21.98v332c0 19.851-16.15 36-36 36zm-84.544-400h24.544c8.836 0 16 7.164 16 16v348c0 2.206 1.794 4 4 4h40c2.206 0 4-1.794 4-4v-348c0-8.836 7.164-16 16-16h24.544l-64.544-72.025z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-8">Crecimiento</h3>
                            <p class="u-text u-text-9">Analizamos el tamaño de la empresa y preparamos un software adaptable al desarrollo de su empresa.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <span class="u-icon u-icon-circle u-icon-5">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.999 511.999" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1ffa"></use></svg><svg class="u-svg-content" viewBox="0 0 511.999 511.999" x="0px" y="0px" id="svg-1ffa" style="enable-background:new 0 0 511.999 511.999;">
                                    <g>
                                        <g>
                                            <path d="M438.09,273.32h-39.596c4.036,11.05,6.241,22.975,6.241,35.404v149.65c0,5.182-0.902,10.156-2.543,14.782h65.461    c24.453,0,44.346-19.894,44.346-44.346v-81.581C512,306.476,478.844,273.32,438.09,273.32z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M107.265,308.725c0-12.43,2.205-24.354,6.241-35.404H73.91c-40.754,0-73.91,33.156-73.91,73.91v81.581    c0,24.452,19.893,44.346,44.346,44.346h65.462c-1.641-4.628-2.543-9.601-2.543-14.783V308.725z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M301.261,234.815h-90.522c-40.754,0-73.91,33.156-73.91,73.91v149.65c0,8.163,6.618,14.782,14.782,14.782h208.778    c8.164,0,14.782-6.618,14.782-14.782v-149.65C375.171,267.971,342.015,234.815,301.261,234.815z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,38.84c-49.012,0-88.886,39.874-88.886,88.887c0,33.245,18.349,62.28,45.447,77.524    c12.853,7.23,27.671,11.362,43.439,11.362c15.768,0,30.586-4.132,43.439-11.362c27.099-15.244,45.447-44.28,45.447-77.524    C344.886,78.715,305.012,38.84,256,38.84z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M99.918,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,36.655,29.82,66.475,66.475,66.475    c9.298,0,18.152-1.926,26.195-5.388c13.906-5.987,25.372-16.585,32.467-29.86c4.98-9.317,7.813-19.946,7.813-31.227    C166.393,151.51,136.573,121.689,99.918,121.689z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M412.082,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,11.282,2.833,21.911,7.813,31.227    c7.095,13.276,18.561,23.874,32.467,29.86c8.043,3.462,16.897,5.388,26.195,5.388c36.655,0,66.475-29.82,66.475-66.475    C478.557,151.509,448.737,121.689,412.082,121.689z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-10">Experiencia Usuario</h3>
                            <p class="u-text u-text-11">No solo nos preocupamos de los procesos, también de lo visual y entregamos una aplicación intuitiva que sea fácil de controlar para todo su personal.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                            <span class="u-icon u-icon-circle u-icon-6">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 510 510" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0f58"></use></svg><svg class="u-svg-content" viewBox="0 0 510 510" id="svg-0f58">
                                    <g>
                                        <path d="m510 150v-150h-150v60h-120v106.257c-37.631 6.341-67.402 36.112-73.743 73.743h-76.257v-90h60v-150h-150v150h60v120h106.257c6.341 37.631 36.112 67.402 73.743 73.743v76.257h-90v-60h-150v150h150v-60h120v-106.257c37.631-6.341 67.402-36.112 73.743-73.743h76.257v90h-60v150h150v-150h-60v-120h-106.257c-6.341-37.631-36.112-67.402-73.743-73.743v-76.257h90v60zm-480-120h90v90h-90zm90 450h-90v-90h90zm360 0h-90v-90h90zm-165-225c0 33.084-26.916 60-60 60s-60-26.916-60-60 26.916-60 60-60 60 26.916 60 60zm75-225h90v90h-90z"></path>
                                        <path d="m60 60h30v30h-30z"></path>
                                        <path d="m420 60h30v30h-30z"></path>
                                        <path d="m420 420h30v30h-30z"></path>
                                        <path d="m60 420h30v30h-30z"></path>
                                        <path d="m240 240h30v30h-30z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-12">Integración</h3>
                            <p class="u-text u-text-13">Buscamos que todas las áreas de su empresa estén integradas para que la comunicación sea más rápida y sencilla.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-4" id="carousel_d529">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Soluciones para su negocio<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8180"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-8180">
                                    <g>
                                        <circle cx="196" cy="75" r="15"></circle>
                                        <circle cx="316" cy="75" r="15"></circle>
                                        <circle cx="256" cy="75" r="15"></circle>
                                        <circle cx="196" cy="135" r="15"></circle>
                                        <circle cx="316" cy="135" r="15"></circle>
                                        <circle cx="256" cy="135" r="15"></circle>
                                        <circle cx="196" cy="195" r="15"></circle>
                                        <circle cx="316" cy="195" r="15"></circle>
                                        <circle cx="256" cy="195" r="15"></circle>
                                        <circle cx="196" cy="315" r="15"></circle>
                                        <circle cx="316" cy="315" r="15"></circle>
                                        <circle cx="256" cy="315" r="15"></circle>
                                        <circle cx="196" cy="375" r="15"></circle>
                                        <circle cx="316" cy="375" r="15"></circle>
                                        <circle cx="256" cy="375" r="15"></circle>
                                        <circle cx="196" cy="255" r="15"></circle>
                                        <circle cx="316" cy="255" r="15"></circle>
                                        <circle cx="256" cy="255" r="15"></circle>
                                        <circle cx="436" cy="195" r="15"></circle>
                                        <circle cx="436" cy="255" r="15"></circle>
                                        <circle cx="436" cy="315" r="15"></circle>
                                        <circle cx="436" cy="375" r="15"></circle>
                                        <path d="m496 120h-105v-105c0-8.284-6.716-15-15-15h-240c-8.284 0-15 6.716-15 15v105h-105c-8.284 0-15 6.716-15 15v362c0 8.284 6.716 15 15 15h480c8.284 0 15-6.716 15-15v-362c0-8.284-6.716-15-15-15zm-375 362h-30v-47c0-8.284-6.716-15-15-15s-15 6.716-15 15v47h-30v-332h90zm120 0h-30v-32h30zm60 0h-30v-32h30zm60 0h-30v-47c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v47h-30v-452h210zm120 0h-30v-47c0-8.284-6.716-15-15-15s-15 6.716-15 15v47h-30v-332h90z"></path>
                                        <circle cx="76" cy="195" r="15"></circle>
                                        <circle cx="76" cy="255" r="15"></circle>
                                        <circle cx="76" cy="315" r="15"></circle>
                                        <circle cx="76" cy="375" r="15"></circle>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Soluciones Empresariales</h3>
                            <p class="u-text u-text-3">Atendemos las necesidades de nuestros clientes y presentamos propuestas viables que se puedan aplicar en su negocio. Contamos con las habilidades y la experiencia requerida para realizar un trabajo de calidad. Usted contará con las herramientas que su compañía necesita para optimizar sus operaciones.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-96dc"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" x="0px" y="0px" id="svg-96dc" style="enable-background:new 0 0 32 32;">
                                    <g>
                                        <g>
                                            <path d="M6.501,6.249c0.44,0.335,0.892,0.654,1.361,0.939C7.623,7.764,7.411,8.372,7.221,9h1.927    c0.11-0.322,0.215-0.649,0.34-0.955C10.381,8.454,11.312,8.766,12.267,9h7.471c0.967-0.235,1.912-0.554,2.812-0.972    c0.125,0.31,0.229,0.644,0.343,0.972h1.891c-0.189-0.629-0.4-1.235-0.641-1.812c0.471-0.285,0.924-0.604,1.36-0.939    c0.84,0.818,1.572,1.743,2.179,2.751h2.688c-2.604-5.318-8.057-9-14.368-9C9.689,0,4.238,3.682,1.635,9h2.686    C4.929,7.992,5.661,7.065,6.501,6.249z M24.109,5.073c-0.246,0.176-0.493,0.349-0.75,0.509c-0.319-0.587-0.666-1.144-1.041-1.646    C22.95,4.266,23.544,4.651,24.109,5.073z M21.794,6.422c-0.808,0.371-1.64,0.67-2.496,0.88c-0.239-1.728-0.584-3.396-1.075-4.672    C19.605,3.329,20.829,4.655,21.794,6.422z M15.82,2.379c0.061-0.001,0.12-0.008,0.182-0.008s0.121,0.007,0.182,0.008    c0.438,0.717,0.965,2.507,1.354,5.229c-0.509,0.06-1.021,0.098-1.535,0.098c-0.517,0-1.028-0.038-1.535-0.098    C14.855,4.886,15.382,3.096,15.82,2.379z M13.771,2.658c-0.485,1.272-0.827,2.927-1.065,4.645c-0.843-0.206-1.661-0.5-2.453-0.86    C11.214,4.692,12.421,3.366,13.771,2.658z M9.684,3.936C9.31,4.438,8.965,4.996,8.642,5.582C8.386,5.423,8.139,5.25,7.893,5.074    C8.459,4.651,9.052,4.266,9.684,3.936z"></path>
                                            <path d="M25.503,25.752c-0.438-0.336-0.894-0.654-1.36-0.941c0.237-0.574,0.45-1.182,0.641-1.811h-1.891    c-0.109,0.328-0.216,0.66-0.341,0.971c-0.901-0.418-1.848-0.734-2.813-0.971h-7.47c-0.955,0.234-1.885,0.547-2.778,0.955    C9.364,23.648,9.26,23.32,9.149,23H7.223c0.189,0.629,0.401,1.236,0.64,1.812c-0.47,0.285-0.921,0.604-1.361,0.938    C5.663,24.934,4.931,24.008,4.325,23H1.638c2.603,5.316,8.054,9,14.366,9c6.312,0,11.764-3.684,14.367-9h-2.688    C27.075,24.008,26.343,24.934,25.503,25.752z M7.893,26.928c0.246-0.176,0.494-0.35,0.749-0.508    c0.323,0.586,0.668,1.143,1.042,1.645C9.052,27.734,8.459,27.35,7.893,26.928z M10.251,25.559c0.792-0.356,1.61-0.653,2.453-0.858    c0.238,1.719,0.58,3.368,1.065,4.645C12.421,28.635,11.214,27.307,10.251,25.559z M16.184,29.621    c-0.061,0.002-0.12,0.008-0.182,0.008s-0.121-0.006-0.182-0.008c-0.438-0.717-0.966-2.508-1.354-5.229    c0.507-0.06,1.019-0.099,1.535-0.099c0.517,0,1.028,0.039,1.536,0.099C17.146,27.113,16.622,28.904,16.184,29.621z M18.223,29.369    c0.491-1.275,0.836-2.943,1.075-4.672c0.856,0.211,1.688,0.51,2.496,0.881C20.829,27.346,19.605,28.672,18.223,29.369z     M22.318,28.064c0.375-0.504,0.722-1.062,1.041-1.646c0.257,0.16,0.504,0.334,0.75,0.51C23.544,27.35,22.95,27.734,22.318,28.064z    "></path>
                                            <path d="M4.795,19.18l0.637-2.236c0.169-0.596,0.299-1.183,0.416-1.977h0.026c0.13,0.78,0.247,1.354,0.403,1.977l0.598,2.236    h1.859l1.95-6.355H8.748l-0.546,2.521c-0.143,0.729-0.273,1.443-0.364,2.171H7.812c-0.13-0.729-0.299-1.441-0.468-2.158    l-0.637-2.534h-1.56l-0.676,2.612c-0.156,0.623-0.338,1.353-0.468,2.08H3.977c-0.104-0.729-0.234-1.431-0.364-2.094l-0.507-2.601    H1.09l1.846,6.357h1.859V19.18z"></path>
                                            <path d="M18.314,15.344c-0.145,0.729-0.272,1.443-0.362,2.172h-0.027c-0.129-0.729-0.299-1.442-0.467-2.159l-0.64-2.534h-1.56    l-0.676,2.612c-0.156,0.624-0.338,1.353-0.468,2.081h-0.026c-0.104-0.729-0.234-1.432-0.364-2.095l-0.507-2.601h-2.015    l1.846,6.357h1.859l0.637-2.235c0.169-0.599,0.299-1.184,0.416-1.978h0.026c0.13,0.78,0.248,1.354,0.404,1.978l0.598,2.235h1.859    l1.947-6.357h-1.938L18.314,15.344z"></path>
                                            <path d="M28.43,15.344c-0.144,0.729-0.273,1.443-0.363,2.172h-0.025c-0.129-0.729-0.3-1.442-0.469-2.159l-0.637-2.534h-1.562    l-0.677,2.612c-0.155,0.624-0.338,1.353-0.469,2.081h-0.024c-0.104-0.729-0.233-1.432-0.363-2.095l-0.508-2.601h-2.017    l1.849,6.357h1.856l0.64-2.235c0.168-0.599,0.299-1.184,0.416-1.978h0.024c0.129,0.78,0.246,1.354,0.402,1.978l0.598,2.235h1.859    l1.949-6.357h-1.938L28.43,15.344z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Soluciones Web</h3>
                            <p class="u-text u-text-5">Nuestros conocimientos nos convierten en la mejor opción para el desarrollo de aplicaciones web. Cada proyecto que realizamos, pasa por un profundo análisis para que entregue todas las funciones que serán necesarias para usted y sus clientes. Un equipo de profesionales nos respaldan para garantizarle los mejores resultados.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 125 125" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-41e2"></use></svg><svg class="u-svg-content" viewBox="0 0 125 125" x="0px" y="0px" id="svg-41e2" style="enable-background:new 0 0 125 125;">
                                    <g>
                                        <path d="M38.5,125h48c11,0,20-9,20-20V20c0-11-9-20-20-20h-48c-11,0-20,9-20,20v85C18.5,116,27.5,125,38.5,125z M62.8,113   c-6.6,0-12-5.6-12-12.2c0-6.6,5.4-12.1,12-12.1c6.601,0,12,5.6,12,12.2C74.8,107.4,69.5,113,62.8,113z M32.5,28.1   c0-7.2,5.9-13.1,13.1-13.1h33.8c7.199,0,13.1,5.9,13.1,13.1v37.8C92.5,73.1,86.6,79,79.4,79H45.6c-7.2,0-13.1-5.9-13.1-13.1V28.1z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-6">Soluciones Móviles</h3>
                            <p class="u-text u-text-7">Nos mantenemos a la vanguardia de la tecnología y contamos con soluciones móviles para su empresa. Poseemos la experiencia que se requiere para desarrollar aplicaciones que aporten beneficios a su compañía cumpliendo con las reglas de usabilidad, diseño y funcionamiento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="carousel_579d">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                ¿Cómo trabajamos?<br>
            </h2>
            <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                La comunicación es importante. Buscamos conversar previamente con nuestros clientes para presentar una propuesta que se adapte a todos sus requerimientos. Cada proyecto que realizamos, lo hacemos pensando en las necesidades que tiene ahora y las que tendrá a futuro entregando un producto capaz de adaptarse al crecimiento de su negocio. Para generar mayor confianza en usted, ofrecemos:<br>
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d0d8"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-d0d8" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M404.267,315.41c-10.048-20.949-45.995-50.027-80.725-78.123c-19.371-15.659-37.675-30.464-49.344-42.133    c-2.923-2.944-7.296-3.883-11.157-2.496c-7.189,2.603-11.627,4.608-15.125,6.165c-5.333,2.389-7.125,3.2-14.315,3.925    c-3.179,0.32-6.037,2.027-7.808,4.672c-15.083,22.549-30.699,20.629-41.131,17.131c-3.328-1.109-3.925-2.539-4.245-3.904    c-2.24-9.365,9.003-31.168,23.573-45.739c34.667-34.688,52.544-43.371,90.304-26.496c42.837,19.157,85.76,34.155,86.187,34.304    c5.611,1.941,11.648-1.003,13.589-6.571c1.92-5.568-1.003-11.648-6.571-13.589c-0.427-0.149-42.496-14.848-84.48-33.643    c-48.917-21.867-75.755-7.467-114.091,30.891c-14.592,14.592-34.411,44.117-29.291,65.771c2.197,9.216,8.683,16.043,18.325,19.221    c24.171,7.979,46.229,0.341,62.656-21.461c6.784-1.045,10.475-2.581,16.021-5.077c2.005-0.896,4.352-1.941,7.467-3.2    c12.203,11.456,28.672,24.789,46.016,38.805c31.36,25.365,66.923,54.123,74.923,70.763c3.947,8.213-0.299,13.568-3.179,16.021    c-4.224,3.627-10.005,4.779-13.141,2.581c-3.456-2.368-7.957-2.517-11.52-0.384c-3.584,2.133-5.589,6.165-5.141,10.304    c0.725,6.784-5.483,10.667-8.171,12.011c-6.827,3.456-13.952,2.859-16.619,0.384c-2.987-2.773-7.275-3.584-11.072-2.176    c-3.797,1.429-6.443,4.928-6.827,8.981c-0.64,6.997-5.824,13.717-12.587,16.341c-3.264,1.237-8,1.984-12.245-1.899    c-2.645-2.389-6.315-3.307-9.749-2.475c-3.477,0.853-6.272,3.371-7.488,6.72c-0.405,1.067-1.323,3.627-11.307,3.627    c-7.104,0-19.883-4.8-26.133-8.939c-7.488-4.928-54.443-39.957-94.997-73.92c-5.696-4.8-15.552-15.083-24.256-24.171    c-7.723-8.064-14.784-15.381-18.411-18.453c-4.544-3.84-11.264-3.264-15.04,1.259c-3.797,4.501-3.243,11.243,1.259,15.04    c3.307,2.795,9.707,9.557,16.768,16.917c9.515,9.941,19.349,20.224,25.963,25.771c39.723,33.259,87.467,69.163,96.981,75.413    c7.851,5.163,24.768,12.416,37.867,12.416c10.517,0,18.603-2.411,24.213-7.125c7.509,2.923,16.043,2.944,24.256-0.256    c9.707-3.755,17.685-11.328,22.208-20.501c8.405,1.792,18.027,0.533,26.773-3.861c8.555-4.309,14.741-10.901,17.813-18.603    c8.491,0.448,17.237-2.56,24.469-8.768C407.979,346.407,411.349,330.109,404.267,315.41z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M213.333,138.663h-96c-5.888,0-10.667,4.779-10.667,10.667s4.779,10.667,10.667,10.667h96    c5.888,0,10.667-4.779,10.667-10.667S219.221,138.663,213.333,138.663z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M435.52,292.711c-3.307-4.885-9.92-6.229-14.805-2.901l-31.189,20.949c-4.885,3.285-6.187,9.92-2.901,14.805    c2.069,3.051,5.44,4.715,8.875,4.715c2.027,0,4.096-0.576,5.931-1.813l31.189-20.949    C437.504,304.231,438.805,297.597,435.52,292.711z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M369.301,343.613c-7.637-6.016-41.792-40.981-62.912-62.997c-4.075-4.267-10.837-4.416-15.083-0.32    c-4.267,4.075-4.395,10.837-0.32,15.083c5.483,5.717,53.845,56.128,65.088,65.003c1.941,1.536,4.288,2.283,6.592,2.283    c3.136,0,6.272-1.408,8.405-4.075C374.72,353.981,373.931,347.261,369.301,343.613z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M326.677,365.01c-12.779-10.219-44.885-44.331-52.139-52.224c-4.011-4.352-10.731-4.608-15.083-0.64    c-4.331,3.989-4.629,10.752-0.64,15.083c0.384,0.405,38.699,41.771,54.528,54.443c1.963,1.557,4.331,2.325,6.656,2.325    c3.115,0,6.229-1.387,8.341-3.989C332.011,375.399,331.264,368.679,326.677,365.01z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M284.224,386.493c-15.211-12.821-46.336-45.952-52.416-52.459c-4.032-4.309-10.795-4.544-15.083-0.512    c-4.309,4.032-4.523,10.773-0.512,15.083c8.747,9.365,38.528,40.939,54.251,54.208c2.005,1.685,4.437,2.517,6.869,2.517    c3.029,0,6.059-1.301,8.171-3.797C289.301,397.01,288.725,390.29,284.224,386.493z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M124.672,120.253C106.389,102.93,33.28,97.319,11.307,96.018c-3.029-0.149-5.824,0.853-7.957,2.88    C1.216,100.903,0,103.719,0,106.663v192c0,5.888,4.779,10.667,10.667,10.667h64c4.608,0,8.704-2.965,10.133-7.36    c1.557-4.779,38.315-117.589,43.157-173.056C128.235,125.671,127.04,122.471,124.672,120.253z M66.88,287.997H21.333V118.098    c34.283,2.709,71.275,8.597,84.715,15.125C100.395,179.943,74.816,262.951,66.88,287.997z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M501.333,117.33c-83.755,0-130.219,21.44-132.16,22.336c-2.773,1.301-4.843,3.712-5.696,6.635s-0.427,6.059,1.173,8.661    c13.184,21.227,54.464,139.115,62.4,167.872c1.28,4.629,5.483,7.829,10.283,7.829h64c5.888,0,10.667-4.779,10.667-10.667v-192    C512,122.087,507.221,117.33,501.333,117.33z M490.667,309.33h-45.355c-10.112-32.939-39.979-118.827-56.64-154.325    c16.277-5.525,51.243-15.019,101.995-16.213V309.33z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-3">Confianza</h3>
                            <p class="u-text u-text-4">Dejamos que nuestro trabajo hable por nosotros y entregamos los proyectos a tiempo sin salirnos del presupuesto presentado.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dba1"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-dba1" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M512,304c0-12.821-5.099-24.768-13.888-33.579c9.963-10.901,15.04-25.515,13.653-40.725    c-2.496-27.115-26.923-48.363-55.637-48.363H324.352c6.528-19.819,16.981-56.149,16.981-85.333c0-46.272-39.317-85.333-64-85.333    c-22.144,0-37.995,12.48-38.656,12.992c-2.539,2.027-4.011,5.099-4.011,8.341v72.341L173.205,237.44l-2.539,1.301v-4.075    c0-5.888-4.779-10.667-10.667-10.667H53.333C23.915,224,0,247.915,0,277.333V448c0,29.419,23.915,53.333,53.333,53.333h64    c23.061,0,42.773-14.72,50.197-35.264C185.28,475.2,209.173,480,224,480h195.819c23.232,0,43.563-15.659,48.341-37.248    c2.453-11.136,1.024-22.336-3.84-32.064c15.744-7.915,26.347-24.192,26.347-42.688c0-7.552-1.728-14.784-4.992-21.312    C501.419,338.752,512,322.496,512,304z M467.008,330.325c-4.117,0.491-7.595,3.285-8.917,7.232    c-1.301,3.947-0.213,8.277,2.816,11.136c5.419,5.099,8.427,11.968,8.427,19.307c0,13.461-10.176,24.768-23.637,26.325    c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c7.019,6.613,9.835,15.893,7.723,25.451    c-2.624,11.904-14.187,20.523-27.499,20.523H224c-17.323,0-46.379-8.128-56.448-18.219c-3.051-3.029-7.659-3.925-11.627-2.304    c-3.989,1.643-6.592,5.547-6.592,9.856c0,17.643-14.357,32-32,32h-64c-17.643,0-32-14.357-32-32V277.333c0-17.643,14.357-32,32-32    h96V256c0,3.691,1.92,7.125,5.077,9.088c3.115,1.877,7.04,2.069,10.368,0.448l21.333-10.667c2.155-1.067,3.883-2.859,4.907-5.056    l64-138.667c0.64-1.408,0.981-2.944,0.981-4.48V37.781C260.437,35.328,268.139,32,277.333,32C289.024,32,320,61.056,320,96    c0,37.547-20.437,91.669-20.629,92.203c-1.237,3.264-0.811,6.955,1.173,9.856c2.005,2.88,5.291,4.608,8.789,4.608h146.795    c17.792,0,32.896,12.736,34.389,28.992c1.131,12.16-4.715,23.723-15.189,30.187c-3.264,2.005-5.205,5.632-5.056,9.493    s2.368,7.317,5.781,9.088c9.024,4.587,14.613,13.632,14.613,23.573C490.667,317.461,480.491,328.768,467.008,330.325z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M160,245.333c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667    V256C170.667,250.112,165.888,245.333,160,245.333z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-5">Satisfacción del cliente</h3>
                            <p class="u-text u-text-6">El producto debe reunir todas las cualidades solicitadas por el cliente. Concluimos el trabajo luego de haber sido aprobado por usted.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b903"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-b903">
                                    <g>
                                        <path d="m96.2 264a158.769 158.769 0 0 0 29.335 84.637l13.038-9.274a142.854 142.854 0 0 1 -26.355-75.363h15.782v-16h-15.782a142.854 142.854 0 0 1 26.351-75.363l-13.038-9.274a158.769 158.769 0 0 0 -29.331 84.637h-17.212a32 32 0 1 0 0 16zm-48.2 8a16 16 0 1 1 16-16 16.019 16.019 0 0 1 -16 16z"></path>
                                        <path d="m464 224a32.058 32.058 0 0 0 -30.988 24h-17.212a158.769 158.769 0 0 0 -29.335-84.637l-13.038 9.274a142.854 142.854 0 0 1 26.355 75.363h-15.782v16h15.782a142.854 142.854 0 0 1 -26.351 75.363l13.038 9.274a158.769 158.769 0 0 0 29.331-84.637h17.208a32 32 0 1 0 30.992-40zm0 48a16 16 0 1 1 16-16 16.019 16.019 0 0 1 -16 16z"></path>
                                        <path d="m108.921 140.907a32.016 32.016 0 0 0 16.256-4.417l34.656 34.657 11.314-11.314-34.657-34.656a32.059 32.059 0 0 0 -4.941-38.883 32 32 0 1 0 -22.628 54.613zm-11.313-43.3a16 16 0 1 1 0 22.628 15.95 15.95 0 0 1 0-22.627z"></path>
                                        <path d="m425.706 380.451a32.059 32.059 0 0 0 -38.883-4.941l-34.656-34.657-11.314 11.314 34.657 34.656a32 32 0 1 0 50.2-6.372zm-11.314 33.941a15.993 15.993 0 1 1 0-22.628 16.02 16.02 0 0 1 0 22.628z"></path>
                                        <path d="m171.147 352.167-11.314-11.314-34.656 34.657a31.99 31.99 0 1 0 6.372 50.2 32.059 32.059 0 0 0 4.941-38.883zm-50.911 62.225a15.994 15.994 0 1 1 0-22.628 16.02 16.02 0 0 1 0 22.628z"></path>
                                        <path d="m340.853 159.833 11.314 11.314 34.656-34.657a32.069 32.069 0 0 0 38.883-4.941 32 32 0 1 0 -50.2-6.372zm50.911-62.225a16 16 0 1 1 0 22.628 15.952 15.952 0 0 1 0-22.628z"></path>
                                        <path d="m348.637 386.469-9.274-13.038a142.854 142.854 0 0 1 -75.363 26.351v-15.782h-16v15.782a142.854 142.854 0 0 1 -75.363-26.351l-9.274 13.038a158.769 158.769 0 0 0 84.637 29.331v17.208a32 32 0 1 0 16 0v-17.208a158.769 158.769 0 0 0 84.637-29.331zm-76.637 77.531a16 16 0 1 1 -16-16 16.019 16.019 0 0 1 16 16z"></path>
                                        <path d="m163.363 125.531 9.274 13.038a142.854 142.854 0 0 1 75.363-26.351v15.782h16v-15.782a142.854 142.854 0 0 1 75.363 26.351l9.274-13.038a158.769 158.769 0 0 0 -84.637-29.331v-17.212a32 32 0 1 0 -16 0v17.212a158.769 158.769 0 0 0 -84.637 29.331zm76.637-77.531a16 16 0 1 1 16 16 16.019 16.019 0 0 1 -16-16z"></path>
                                        <path d="m360 288a8 8 0 0 0 8-8v-48a8 8 0 0 0 -8-8h-22q-.661-1.691-1.391-3.353l15.56-15.559a8 8 0 0 0 0-11.313l-33.941-33.942a8 8 0 0 0 -11.314 0l-15.559 15.56q-1.662-.73-3.353-1.391v-22.002a8 8 0 0 0 -8-8h-48.002a8 8 0 0 0 -8 8v22q-1.691.661-3.353 1.391l-15.559-15.56a8 8 0 0 0 -11.313 0l-33.942 33.942a8 8 0 0 0 0 11.313l15.56 15.559q-.729 1.662-1.39 3.353h-22.003a8 8 0 0 0 -8 8v48a8 8 0 0 0 8 8h22q.66 1.689 1.39 3.353l-15.56 15.559a8 8 0 0 0 0 11.313l33.942 33.942a8 8 0 0 0 11.313 0l15.559-15.56q1.662.73 3.353 1.391v22a8 8 0 0 0 8 8h48a8 8 0 0 0 8-8v-21.996q1.691-.661 3.353-1.391l15.559 15.56a8 8 0 0 0 11.314 0l33.941-33.942a8 8 0 0 0 0-11.313l-15.56-15.559q.73-1.662 1.391-3.353zm-38.711 10.661 13.911 13.907-22.631 22.632-13.908-13.907a8 8 0 0 0 -9.363-1.434 71.631 71.631 0 0 1 -11.695 4.85 8 8 0 0 0 -5.6 7.632v19.659h-32.003v-19.663a8 8 0 0 0 -5.6-7.632 71.663 71.663 0 0 1 -11.7-4.85 8 8 0 0 0 -9.362 1.434l-13.906 13.911-22.632-22.632 13.907-13.907a8 8 0 0 0 1.434-9.362 71.6 71.6 0 0 1 -4.85-11.7 8 8 0 0 0 -7.632-5.6h-19.659v-31.999h19.663a8 8 0 0 0 7.632-5.6 71.6 71.6 0 0 1 4.85-11.7 8 8 0 0 0 -1.434-9.362l-13.911-13.906 22.632-22.632 13.907 13.907a8 8 0 0 0 9.362 1.434 71.663 71.663 0 0 1 11.7-4.85 8 8 0 0 0 5.6-7.632v-19.659h32v19.663a8 8 0 0 0 5.6 7.632 71.631 71.631 0 0 1 11.695 4.85 8 8 0 0 0 9.363-1.434l13.91-13.911 22.631 22.632-13.907 13.907a8 8 0 0 0 -1.434 9.362 71.663 71.663 0 0 1 4.85 11.7 8 8 0 0 0 7.632 5.6h19.659v32h-19.663a8 8 0 0 0 -7.632 5.6 71.663 71.663 0 0 1 -4.85 11.7 8 8 0 0 0 1.434 9.36z"></path>
                                        <path d="m256 200a56 56 0 1 0 56 56 56.064 56.064 0 0 0 -56-56zm0 96a40 40 0 1 1 40-40 40.045 40.045 0 0 1 -40 40z"></path>
                                        <path d="m248 260.687-10.343-10.344-11.314 11.314 16 16a8 8 0 0 0 11.314 0l32-32-11.314-11.314z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-7">Funcionalidad</h3>
                            <p class="u-text u-text-8">Conocemos el valor del tiempo y el trabajo entregado está listo para ser utilizado inmediatamente.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-1 u-section-6" id="carousel_f9c8">
        <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Somos el socio estratégico ideal para su empresa<br>
            </h2>
            <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                El&nbsp;desarrollo de Software a medida&nbsp;es una labor que debe ser realizada por profesionales y que le brindará una serie de ventajas frente a sus competidores. Tome la decisión indicada y elija a un equipo de expertos que le entreguen las soluciones que su empresa necesita. Contáctese con nosotros para mayor información y sobre cómo podemos ayudarlo en el crecimiento de su negocio.<br>
            </p>
        </div>
    </section>
    <section class="u-align-left u-clearfix u-section-7" id="sec-257e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <h3 class="u-text u-text-1">Support</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-1" src="../images/net-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <h3 class="u-text u-text-2">Design</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-2" src="../images/aws-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <h3 class="u-text u-text-3">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-3" src="../images/oracle-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <h3 class="u-text u-text-4">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-4" src="../images/python-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <h3 class="u-text u-text-5">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-5" src="../images/php-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-6" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                            <h3 class="u-text u-text-6">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-6" src="../images/java-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-7" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-7">
                            <h3 class="u-text u-text-7">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-7" src="../images/android-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-8" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-8">
                            <h3 class="u-text u-text-8">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-8" src="../images/ios-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-9" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-9">
                            <h3 class="u-text u-text-9">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-9" src="../images/microsoft-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-10" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-10">
                            <h3 class="u-text u-text-10">Skills</h3>
                            <img class="u-image u-image-default u-preserve-proportions u-image-10" src="../images/nodejs-126x75.jpg" alt="" data-image-width="126" data-image-height="75">
                        </div>
                    </div>
                </div>
            </div>
            <a href="Desarrollo-de-Software.html#carousel_a852" data-page-id="1427819901" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>