<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Pagina Web Catalogo</title>
    
    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pagina-Web-Catalogo.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>





    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Pagina Web Catalogo">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-1f16">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Página Web Catálogo Online</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="484" data-image-height="271" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-2">Una vitrina digital para tus productos.</h2>
                                        <p class="u-text u-text-3">Un página web catálogo online&nbsp;te permitirá mostrar una gama de productos y servicios desde tu sitio web.&nbsp;Sus clientes visitan y encuentran toda la información en&nbsp;su sitio, eligiendo distintos productos y comparando cualidades. Cuando hayan terminado su pedido podrán solicitar el presupuesto de los productos seleccionados. El administrador del sitio recibirá una notificación y podrá responderle via email. Si desea aceptar pagos en línea&nbsp;con tarjeta de crédito, paypal, etc usted debe contratar una tienda virtual o carrtio de compras.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-2" id="sec-17cb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="1280" data-image-height="800" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""></div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-1">Beneficios de un Catálogo Digital</h2>
                                <p class="u-text u-text-2">
                                    Captación más efectiva de los clientes:&nbsp;La posibilidad de que el negocio sea encontrado por clientes potenciales aumenta cuando el catálogo es publicado en Internet.<br>
                                    <br>Mejor organización de la información:&nbsp;Los catálogos on  line permiten clasificar y jerarquizar la información de una manera más efectiva; ya que la navegación debe guiar al usuario a conseguir lo que busca por múltiples maneras de una forma rápida y eficiente.<br>
                                    <br>Mayor espacio:&nbsp;Los catálogos digitales permiten incluir gran cantidad de información y ampliarla considerablemente en comparación con el limitado espacio que se tiene en un catálogo impreso.<br>
                                    <br>Mayor Productividad:&nbsp;Si se envía por E-mail o algún otro medio electrónico, la distribución del catálogo se hace de forma instantánea. Igualmente, si está publicado en internet los usuarios podrán consultar el catálogo en todo momento. En ambos casos, se ahorra el tiempo de impresión o de distribución del mismo.<br>
                                    <br>Comercio electrónico:&nbsp;Un catálogo virtual, da a las empresas la oportunidad de recibir&nbsp;pedidos en línea y solicitudes de presupuesto.&nbsp;El administrador recibirá notificaciones cada vez que hay una nueva solicitud
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-897f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Atrae a nuevos clientes y&nbsp;aumenta tus ventas</h2>
                                <p class="u-text u-text-2">
                                    Muéstrale a tus clientes que importan&nbsp;ofreciendole una plataforma amigable y fácil de usar<br>Aumenta tu visibilidad&nbsp;con URL amigables con los motores de búsqueda.<br>Organiza fácilmente tus productos, con audio, imágenes, videos<br>Permite a los visitantes que compartan tu catálogo en Facebook, Twitter®&nbsp;y más.
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="1146" data-image-height="600" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-4" id="sec-8a3b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Preguntas Frecu<span style="font-weight: 700;"></span>entes
            </h2>
            <div class="u-accordion u-spacing-2 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                        <span class="u-accordion-link-text">¿Qué es una Página web catálogo online?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3277"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3277">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-valign-bottom u-container-layout-1">
                            <p class="u-small-text u-text u-text-variant u-text-2">
                                Una página web catálogo online, también conocida como web catálogo de productos online, es una web que tiene todas las prestaciones de un sitio web corporativo, pero que añade la posibilidad de albergar información de productos u otros contenidos en forma de fichas, para poder agruparlos en categorpias, subcategorías, familias, tipos, etc. El hecho de poder almacenar la información en categorías también facilita la actualización de las mismas, tanto si se hace de forma manual como si se utiliza el conector de Vex Soluciones, el cual le permitirá automatizar las tareas de mantenimiento de los datos, ya sea directamente desde su aplicación de gestión, ERP, hojas de cálculo o cualquier otra base de datos.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Puedo actualizar el plan despues de un tiempo?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9e64"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-9e64">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-small-text u-text u-text-variant u-text-3">Si, para actualizar el plan del catálogo, usted tendrá que pagar la diferencia del costo del plan que desea menos el costo del plan de catálogo contratado.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué plan debo elegir?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7026"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7026">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-small-text u-text u-text-variant u-text-4">Si cuenta con el presupuesto, el plan Gold es el recomendado para tener una presencia más integral en las redes sociales y celulares como aplicaciones nativas publicadas en el Apple store, Playstore y Windows Store. Si desea empezar el plan sin aplicaciones sociales, el plan “Pro” es el ideal para empezar tu web con una campaña de publicidad en google que asegure la generación de prospectos y conversión a clientes. Si desea hacer una web básica y estática, el plan starter es el recomendado. (puede actualizarse al plan pro pagando la diferencia)</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-4" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Existe algún pago mensual?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bab9"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-bab9">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <p class="u-small-text u-text u-text-variant u-text-5">No, el costo del servicio es un págo único. Para mantener la página en internet se tiene que contar con el alojamiento web + dominio que tiene un costo anual dependiendo del plan seleccionado.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-5" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cómo sé que me gustará?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5740"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-5740">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-5" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-5">
                            <p class="u-small-text u-text u-text-variant u-text-6">Haremos el diseño en base a sus gustos y a los sitios de referencias que nos brinde, además contamos con una amplia galería de sitios que puede usar como inspiración, usted participará en el proceso con su retroalimentación, viendo los resultados antes y durante el proceso, se harán los ajustes necesarios para lograr el resultado esperado por el cliente, de esta manera le aseguraremos el resultado esperado.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-6" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Quién provee el contenido del catálogo online?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-53a3"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-53a3">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-6" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-6">
                            <p class="u-small-text u-text u-text-variant u-text-7">Los textos , descripciones, videos y fotografías serán aportados por la empresa contratante. Si esta desea que Vex Soluciones cree ese contenido, deberá solicitar un presupuesto extra.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-7" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Tengo que contratar nuevo personal para manejar mi sitio?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-7">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2a69"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2a69">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-7" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-7">
                            <p class="u-small-text u-text u-text-variant u-text-8">No es necesario, tiene dos alternativas, puede contratar nuestros servicios de mantenimiento de sitios o podemos capacitarlo a usted o a uno de sus empleados para que administre su sitio web.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-8" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuál es la metodología de trabajo?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-8">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-58d0"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-58d0">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-8" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-8">
                            <p class="u-small-text u-text u-text-variant u-text-9">Trabajamos aplicando metodologías ágiles de desarrollo como SCRUM&nbsp;y XP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>