<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Pagina Web Corporativa</title>
    
    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pagina-Web-Corporativa.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>




    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Pagina Web Corporativa">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-clearfix u-section-1" id="sec-1f16">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">Página Web Corporativa</h2>
            <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="550" data-image-height="334" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="u-size-30 u-size-60-md" style="">
                            <div class="u-layout-col" style="">
                                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-white u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h2 class="u-text u-text-2">Garantizamos el éxito de su página web corporativa.</h2>
                                        <p class="u-text u-text-3">
                                            Hacemos el diseño y programación de su&nbsp;<b>página web corporativa</b>&nbsp;para que genere resultados, optimizado para convertir visitantes a clientes, acompañado de un diseño fácil de entender y que genere ventas, la preparamos y optimizamos para escalar posiciones a través del posicionamiento web en google y generar mayor visibilidad y valor a su marca. La mejor página web corporativa es la que vende y le ayude a cumplir sus objetivos, la que deja una buena impresión de marca y la que te permite generar mayores negocios a través de la red, eso es lo que el equipo de Vex Soluciones te ofrece como parte de nuestro servicio integral de diseño y desarrollo de página web corporativa. No esperes más, trabaja con expertos y obtén un alto % de ROI.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-2" id="sec-c30e">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Soluciones para su negocio<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8180"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-8180">
                                    <g>
                                        <circle cx="196" cy="75" r="15"></circle>
                                        <circle cx="316" cy="75" r="15"></circle>
                                        <circle cx="256" cy="75" r="15"></circle>
                                        <circle cx="196" cy="135" r="15"></circle>
                                        <circle cx="316" cy="135" r="15"></circle>
                                        <circle cx="256" cy="135" r="15"></circle>
                                        <circle cx="196" cy="195" r="15"></circle>
                                        <circle cx="316" cy="195" r="15"></circle>
                                        <circle cx="256" cy="195" r="15"></circle>
                                        <circle cx="196" cy="315" r="15"></circle>
                                        <circle cx="316" cy="315" r="15"></circle>
                                        <circle cx="256" cy="315" r="15"></circle>
                                        <circle cx="196" cy="375" r="15"></circle>
                                        <circle cx="316" cy="375" r="15"></circle>
                                        <circle cx="256" cy="375" r="15"></circle>
                                        <circle cx="196" cy="255" r="15"></circle>
                                        <circle cx="316" cy="255" r="15"></circle>
                                        <circle cx="256" cy="255" r="15"></circle>
                                        <circle cx="436" cy="195" r="15"></circle>
                                        <circle cx="436" cy="255" r="15"></circle>
                                        <circle cx="436" cy="315" r="15"></circle>
                                        <circle cx="436" cy="375" r="15"></circle>
                                        <path d="m496 120h-105v-105c0-8.284-6.716-15-15-15h-240c-8.284 0-15 6.716-15 15v105h-105c-8.284 0-15 6.716-15 15v362c0 8.284 6.716 15 15 15h480c8.284 0 15-6.716 15-15v-362c0-8.284-6.716-15-15-15zm-375 362h-30v-47c0-8.284-6.716-15-15-15s-15 6.716-15 15v47h-30v-332h90zm120 0h-30v-32h30zm60 0h-30v-32h30zm60 0h-30v-47c0-8.284-6.716-15-15-15h-120c-8.284 0-15 6.716-15 15v47h-30v-452h210zm120 0h-30v-47c0-8.284-6.716-15-15-15s-15 6.716-15 15v47h-30v-332h90z"></path>
                                        <circle cx="76" cy="195" r="15"></circle>
                                        <circle cx="76" cy="255" r="15"></circle>
                                        <circle cx="76" cy="315" r="15"></circle>
                                        <circle cx="76" cy="375" r="15"></circle>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Starter</h3>
                            <p class="u-text u-text-3">
                                Hasta 10&nbsp;páginas<br>Diseño Web<br>Integración con las Redes Sociales: Facebook, Google, Twitter, Linked In<br>1 Formulario de Contacto personalizado<br>Notificacion por email al recibir nuevos mensajes<br>Optimizado&nbsp;para los buscadores (SEO)<br>Optimizado&nbsp;para convertir<br>Páginas ptimizadas para móviles y tabletas<br>Integración con Google maps<br>Integrado con Google Analytics para medir el tráfico<br>Integración de Boletín<br>Hasta 2&nbsp;galerías de imágenes<br>Garantía de por vida de buen funcionamiento<br>Tiempo de Desarrollo:&nbsp;1 semana
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-96dc"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" x="0px" y="0px" id="svg-96dc" style="enable-background:new 0 0 32 32;">
                                    <g>
                                        <g>
                                            <path d="M6.501,6.249c0.44,0.335,0.892,0.654,1.361,0.939C7.623,7.764,7.411,8.372,7.221,9h1.927    c0.11-0.322,0.215-0.649,0.34-0.955C10.381,8.454,11.312,8.766,12.267,9h7.471c0.967-0.235,1.912-0.554,2.812-0.972    c0.125,0.31,0.229,0.644,0.343,0.972h1.891c-0.189-0.629-0.4-1.235-0.641-1.812c0.471-0.285,0.924-0.604,1.36-0.939    c0.84,0.818,1.572,1.743,2.179,2.751h2.688c-2.604-5.318-8.057-9-14.368-9C9.689,0,4.238,3.682,1.635,9h2.686    C4.929,7.992,5.661,7.065,6.501,6.249z M24.109,5.073c-0.246,0.176-0.493,0.349-0.75,0.509c-0.319-0.587-0.666-1.144-1.041-1.646    C22.95,4.266,23.544,4.651,24.109,5.073z M21.794,6.422c-0.808,0.371-1.64,0.67-2.496,0.88c-0.239-1.728-0.584-3.396-1.075-4.672    C19.605,3.329,20.829,4.655,21.794,6.422z M15.82,2.379c0.061-0.001,0.12-0.008,0.182-0.008s0.121,0.007,0.182,0.008    c0.438,0.717,0.965,2.507,1.354,5.229c-0.509,0.06-1.021,0.098-1.535,0.098c-0.517,0-1.028-0.038-1.535-0.098    C14.855,4.886,15.382,3.096,15.82,2.379z M13.771,2.658c-0.485,1.272-0.827,2.927-1.065,4.645c-0.843-0.206-1.661-0.5-2.453-0.86    C11.214,4.692,12.421,3.366,13.771,2.658z M9.684,3.936C9.31,4.438,8.965,4.996,8.642,5.582C8.386,5.423,8.139,5.25,7.893,5.074    C8.459,4.651,9.052,4.266,9.684,3.936z"></path>
                                            <path d="M25.503,25.752c-0.438-0.336-0.894-0.654-1.36-0.941c0.237-0.574,0.45-1.182,0.641-1.811h-1.891    c-0.109,0.328-0.216,0.66-0.341,0.971c-0.901-0.418-1.848-0.734-2.813-0.971h-7.47c-0.955,0.234-1.885,0.547-2.778,0.955    C9.364,23.648,9.26,23.32,9.149,23H7.223c0.189,0.629,0.401,1.236,0.64,1.812c-0.47,0.285-0.921,0.604-1.361,0.938    C5.663,24.934,4.931,24.008,4.325,23H1.638c2.603,5.316,8.054,9,14.366,9c6.312,0,11.764-3.684,14.367-9h-2.688    C27.075,24.008,26.343,24.934,25.503,25.752z M7.893,26.928c0.246-0.176,0.494-0.35,0.749-0.508    c0.323,0.586,0.668,1.143,1.042,1.645C9.052,27.734,8.459,27.35,7.893,26.928z M10.251,25.559c0.792-0.356,1.61-0.653,2.453-0.858    c0.238,1.719,0.58,3.368,1.065,4.645C12.421,28.635,11.214,27.307,10.251,25.559z M16.184,29.621    c-0.061,0.002-0.12,0.008-0.182,0.008s-0.121-0.006-0.182-0.008c-0.438-0.717-0.966-2.508-1.354-5.229    c0.507-0.06,1.019-0.099,1.535-0.099c0.517,0,1.028,0.039,1.536,0.099C17.146,27.113,16.622,28.904,16.184,29.621z M18.223,29.369    c0.491-1.275,0.836-2.943,1.075-4.672c0.856,0.211,1.688,0.51,2.496,0.881C20.829,27.346,19.605,28.672,18.223,29.369z     M22.318,28.064c0.375-0.504,0.722-1.062,1.041-1.646c0.257,0.16,0.504,0.334,0.75,0.51C23.544,27.35,22.95,27.734,22.318,28.064z    "></path>
                                            <path d="M4.795,19.18l0.637-2.236c0.169-0.596,0.299-1.183,0.416-1.977h0.026c0.13,0.78,0.247,1.354,0.403,1.977l0.598,2.236    h1.859l1.95-6.355H8.748l-0.546,2.521c-0.143,0.729-0.273,1.443-0.364,2.171H7.812c-0.13-0.729-0.299-1.441-0.468-2.158    l-0.637-2.534h-1.56l-0.676,2.612c-0.156,0.623-0.338,1.353-0.468,2.08H3.977c-0.104-0.729-0.234-1.431-0.364-2.094l-0.507-2.601    H1.09l1.846,6.357h1.859V19.18z"></path>
                                            <path d="M18.314,15.344c-0.145,0.729-0.272,1.443-0.362,2.172h-0.027c-0.129-0.729-0.299-1.442-0.467-2.159l-0.64-2.534h-1.56    l-0.676,2.612c-0.156,0.624-0.338,1.353-0.468,2.081h-0.026c-0.104-0.729-0.234-1.432-0.364-2.095l-0.507-2.601h-2.015    l1.846,6.357h1.859l0.637-2.235c0.169-0.599,0.299-1.184,0.416-1.978h0.026c0.13,0.78,0.248,1.354,0.404,1.978l0.598,2.235h1.859    l1.947-6.357h-1.938L18.314,15.344z"></path>
                                            <path d="M28.43,15.344c-0.144,0.729-0.273,1.443-0.363,2.172h-0.025c-0.129-0.729-0.3-1.442-0.469-2.159l-0.637-2.534h-1.562    l-0.677,2.612c-0.155,0.624-0.338,1.353-0.469,2.081h-0.024c-0.104-0.729-0.233-1.432-0.363-2.095l-0.508-2.601h-2.017    l1.849,6.357h1.856l0.64-2.235c0.168-0.599,0.299-1.184,0.416-1.978h0.024c0.129,0.78,0.246,1.354,0.402,1.978l0.598,2.235h1.859    l1.949-6.357h-1.938L28.43,15.344z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Advanced</h3>
                            <p class="u-text u-text-5">
                                Hasta 25 páginas informativas<br>Diseño y programación<br>Integración con las Redes Sociales: Facebook, Google, Twitter, Linked In<br>Optimizado&nbsp;para los buscadores (SEO)<br>Optimizado&nbsp;para convertir<br>Formulario de contacto<br>Notificacion por email al recibir nuevos mensajes<br>Información guardada en Base de datos<br>Páginas optimizadas para móviles y tabletas<br>Integración con Google maps<br>Estadísticas de Visitas &amp; evolución del sitio<br>Blog con buscador interno<br>Autorespondedores<br>Panel de Administración<br>Galerías de imágenes<br>Garantía de por vida de buen funcionamiento<br>Tiempo de Desarrollo:&nbsp;2 semanas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-3" id="sec-a8ec">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Creamos la página que siempre quisiste</h2>
                                <p class="u-text u-text-2">
                                    Rápido, fácil de&nbsp;usar y entender.&nbsp;No necesita ser un experto para entenderla.<br>
                                    <br>Personalizado con su Marca, diseño que encaje que el look&amp;feel que desea proyectar.<br>
                                    <br>Aumenta las ventas&nbsp;con páginas optimizadas, multiformato y fáciles de usar.<br>
                                    <br>Integrada con las redes sociales como: Facebook, Linked In, Twitter, Google Plus.<br>
                                    <br>Optimizada para vender, para convertir prospectos a clientes
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="600" data-image-height="459" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-4" id="sec-17cb">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-23 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="1100" data-image-height="709" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction=""></div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2">
                                <h2 class="u-text u-text-1">Atrae a nuevos clientes y genera más oportunidades de negocio</h2>
                                <p class="u-text u-text-2">
                                    Publicidad en Google&nbsp;Promociona tu página web y aparece en los primeros lugares en Google.<br>
                                    <br>Presencial Social&nbsp;Utilizamos las redes sociales para lograr mayores contactos y ventas<br>Aumenta tu visibilidad&nbsp;con URL amigables con los motores de búsqueda.<br>
                                    <br>Optimizada para los Buscadores&nbsp;páginas preparadas para rankear en google.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-section-5" id="sec-897f">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-clearfix u-expanded-width u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-40 u-layout-cell-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-valign-middle u-container-layout-1">
                                <h2 class="u-text u-text-1">Haz tu Web accesible para dispositivos móviles</h2>
                                <p class="u-text u-text-2">
                                    Optimizamos tu web para que se pueda ver desde los dispositivos móviles.&nbsp;No es necesario que muevas ni un dedo.<br>
                                    <br>Optimiza para los teléfonos inteligentes más populares:&nbsp;iPhone®, Android® y otros.
                                </p>
                            </div>
                        </div>
                        <div class="u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-1" src="" data-image-width="458" data-image-height="348" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-grey-5 u-section-6" id="sec-8a3b">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">
                Preguntas Frecu<span style="font-weight: 700;"></span>entes
            </h2>
            <div class="u-accordion u-spacing-2 u-accordion-1">
                <div class="u-accordion-item">
                    <a class="active u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-1" id="link-accordion-7c0e" aria-controls="accordion-7c0e" aria-selected="true">
                        <span class="u-accordion-link-text">¿Qué es una Página web corporativa?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-1">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3277"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-3277">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-active u-accordion-pane u-align-left u-container-style u-accordion-pane-1" id="accordion-7c0e" aria-labelledby="link-accordion-7c0e">
                        <div class="u-container-layout u-container-layout-1">
                            <p class="u-small-text u-text u-text-variant u-text-2">
                                En muchas ocasiones una página web corporativa es una carta de presentación de la empresa o actividad a la que se refiere, como por ejemplo:<br>¿Quién somos?<br>¿Dónde estamos?<br>¿A qué nos dedicamos?<br>¿Qué le ofrecemos?<br>Formulario de contacto.<br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-2" id="link-accordion-05cb" aria-controls="accordion-05cb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Porqué debo tener una página web corporativa?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-2">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9e64"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-9e64">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-2" id="accordion-05cb" aria-labelledby="link-accordion-05cb">
                        <div class="u-container-layout u-valign-top u-container-layout-2">
                            <p class="u-small-text u-text u-text-variant u-text-3">
                                En la actualidad&nbsp; TODA&nbsp; empresa, organización, no importa el tamaño,&nbsp; necesita y debe tener un sitio Web.&nbsp; En EEUU y en los países más avanzados de la UE está demostrado que la intensidad en la aplicación de nuevas tecnologías y la incorporación de un Sitio Web, está correlacionado de manera positiva con el incremento de las ventas, la productividad y el valor de mercado de las empresas.&nbsp;Además, estudiosos del E-Business consideran que las empresas que no entren en el campo de Internet en los próximos 10 años, desaparecerán!. Conozca a continuación las ventajas de tener un sitio web...&nbsp;Ventajas de tener un sitio web:<br>
                                <br>&nbsp;1.&nbsp;Alcance mundial de sus productos y servicios:&nbsp;a través del sitio Web Usted podrá llegar a clientes potenciales del mundo entero. Las limitaciones geográficas ya no existen, un sitio Web es como una oficina de ventas en cada lugar del planeta.&nbsp;<br>
                                <br>2.&nbsp;Competir al lado de los más grandes:&nbsp;Su imagen en Internet podrá ser comparable a cualquier gran compañía de su mismo sector. Es un terreno imparcial donde el sitio web de una empresa pequeña puede ser tanto o más atractivo que el de una empresa muy grande. Por eso podrá competir justo al lado de las empresas más grandes, de igual a igual.&nbsp;<br>
                                <br>3.&nbsp;Disponible las 24horas, todos los días año:&nbsp;La presencia universal también se complementa con la presencia las 24 horas, los 7 días de la semana, los 365 días del año, lo que permite que aún fuera del horario de trabajo, la empresa siga produciendo y creciendo. Además de atender otras partes del planeta que por diferencias horarias sería imposible realizarlo al instante.<br>
                                <br>&nbsp;4.&nbsp;Menos Costos Operativos:&nbsp;Ahorro en gastos de publicidad, reducción de teléfono y personal, de modo que cualquier información que pudiera necesitar el cliente la podrá consultar en su página Web, esto le ahorra tiempo, dinero y reduce el número de llamadas telefónicas de su negocio, locales y de larga distancia.&nbsp;<br>
                                <br>5.&nbsp;Imagen Profesional de su empresa:&nbsp;Actualmente las empresas respetadas en el medio tienen presencia en la Web. El no contar con una dirección en Internet, puede dar una imagen poco seria y profesional. Cada vez más el tener un sitio Web será definitivo para seguir en carrera.Recuerde que tener presencia en la web no le asegura el éxito de su empresa, pero el no estar lo aleja cada vez más de la competencia.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-3" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué plan debo elegir?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-3">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7026"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-7026">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-3" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-3">
                            <p class="u-small-text u-text u-text-variant u-text-4">Si cuenta con el presupuesto, el plan Gold es el recomendado para tener una presencia más integral en las redes sociales y celulares como aplicaciones nativas publicadas en el Apple store, Playstore y Windows Store. Si desea empezar el plan sin aplicaciones sociales, el plan "Pro"&nbsp;es el ideal para empezar tu web con una campaña de publicidad en google que asegure la generación de prospectos y conversión a clientes. Si desea hacer una web básica y estática, el plan starter es el recomendado. (puede actualizarse al plan pro pagando la diferencia)</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-4" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Existe algún pago mensual?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-4">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bab9"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-bab9">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-4" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-4">
                            <p class="u-small-text u-text u-text-variant u-text-5">No, el costo del servicio es un págo único. Para mantener la página en internet se tiene que contar con el alojamiento web + dominio que tiene un costo anual dependiendo del plan seleccionado.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-5" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Qué plan debo elegir?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-5">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d47c"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-d47c">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-5" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-5">
                            <p class="u-small-text u-text u-text-variant u-text-6">Si cuenta con el presupuesto, el plan Gold es el recomendado para tener una presencia más integral en las redes sociales y celulares como aplicaciones nativas publicadas en el Apple store, Playstore y Windows Store. Si desea empezar el plan sin aplicaciones sociales, el plan "Pro"&nbsp;es el ideal para empezar tu web con una campaña de publicidad en google que asegure la generación de prospectos y conversión a clientes. Si desea hacer una web básica y estática, el plan starter es el recomendado. (puede actualizarse al plan pro pagando la diferencia)</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-6" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cómo sé que me gustará?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-6">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5740"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-5740">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-6" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-6">
                            <p class="u-small-text u-text u-text-variant u-text-7">Haremos el diseño en base a sus gustos y a los sitios de referencias que nos brinde, además contamos con una amplia galería de sitios que puede usar como inspiración, usted participará en el proceso con su retroalimentación, viendo los resultados antes y durante el proceso, se harán los ajustes necesarios para lograr el resultado esperado por el cliente, de esta manera le aseguraremos el resultado esperado.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-7" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Quién provee el contenido del sitio web?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-7">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-53a3"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-53a3">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-7" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-7">
                            <p class="u-small-text u-text u-text-variant u-text-8">Los textos , descripciones, videos y fotografías serán aportados por la empresa contratante. Si esta desea que Vex Soluciones cree ese contenido, deberá solicitar un presupuesto extra.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-8" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Tengo que contratar nuevo personal para manejar mi sitio?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-8">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2a69"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-2a69">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-8" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-8">
                            <p class="u-small-text u-text u-text-variant u-text-9">No es necesario, tiene dos alternativas, puede contratar nuestros servicios de mantenimiento de sitios o podemos capacitarlo a usted o a uno de sus empleados para que administre su sitio web.</p>
                        </div>
                    </div>
                </div>
                <div class="u-accordion-item">
                    <a class="u-accordion-link u-active-grey-15 u-button-style u-white u-accordion-link-9" id="link-accordion-a6bb" aria-controls="accordion-a6bb" aria-selected="false">
                        <span class="u-accordion-link-text">¿Cuál es la metodología de trabajo?</span><span class="u-accordion-link-icon u-icon u-icon-circle u-text-palette-1-base u-icon-9">
                            <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-58d0"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-58d0">
                                <path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path>
                            </svg>
                        </span>
                    </a>
                    <div class="u-accordion-pane u-container-style u-accordion-pane-9" id="accordion-a6bb" aria-labelledby="link-accordion-a6bb">
                        <div class="u-container-layout u-valign-top u-container-layout-9">
                            <p class="u-small-text u-text u-text-variant u-text-10">Trabajamos aplicando metodologías ágiles de desarrollo como SCRUM&nbsp;y XP.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>