<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Soporte y Mantenimiento</title>

    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Soporte-y-Mantenimiento.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>





    <link rel="icon" href="images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Soporte y Mantenimiento">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-align-center u-clearfix u-custom-color-6 u-section-1" id="sec-4c8d">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Qué ofrece nuestro servicio de soporte y mantenimiento<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 293.129 293.129" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-eb82"></use></svg><svg class="u-svg-content" viewBox="0 0 293.129 293.129" x="0px" y="0px" id="svg-eb82" style="enable-background:new 0 0 293.129 293.129;">
                                    <g>
                                        <path d="M162.179,140.514c3.377-1.727,7.139-2.64,11.042-2.64c6.468,0,12.549,2.511,17.133,7.071l9.868-9.867   c24.42,8.56,52.664,3.08,72.186-16.441c16.426-16.426,22.904-39.026,19.446-60.329c-0.381-2.346-2.042-4.281-4.303-5.011   c-2.261-0.731-4.743-0.137-6.423,1.544l-14.652,14.652c-11.932,11.932-31.279,11.932-43.211,0   c-11.933-11.932-11.933-31.279,0-43.211l14.652-14.652c1.681-1.681,2.28-4.163,1.548-6.425c-0.731-2.263-2.669-3.92-5.016-4.301   c-21.302-3.458-43.903,3.02-60.328,19.446c-19.812,19.812-25.144,48.604-16.032,73.269l-21.402,21.402L162.179,140.514z"></path>
                                        <path d="M123.179,179.296l-25.385-25.385L9.029,242.675c-11.542,11.542-11.542,30.255,0,41.797   c11.542,11.542,30.255,11.542,41.797,0l76.521-76.52C119.629,200.193,118.238,188.479,123.179,179.296z"></path>
                                        <path d="M179.795,155.597c-1.815-1.815-4.195-2.723-6.574-2.723s-4.759,0.908-6.574,2.723l-5.299,5.299L66.956,66.504l4.412-4.412   c4.02-4.019,3.521-10.686-1.061-14.06L31.795,19.669c-3.701-2.725-8.837-2.338-12.087,0.912L3.356,36.934   c-3.25,3.25-3.637,8.387-0.912,12.087l28.362,38.512c3.374,4.581,10.037,5.085,14.06,1.061l4.412-4.413l94.392,94.392l-5.672,5.672   c-3.631,3.631-3.631,9.517,0,13.148l87.079,87.079c11.542,11.542,30.255,11.542,41.797,0c11.542-11.542,11.542-30.255,0-41.797   L179.795,155.597z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Afinamiento de Herramientas</h3>
                            <p class="u-text u-text-3">Si requiere un afinamiento de los programas que posee, nosotros realizaremos todo el trabajo por usted para personalizar la aplicación y corregir los problemas que nos comunique.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 488.152 488.152" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-55a1"></use></svg><svg class="u-svg-content" viewBox="0 0 488.152 488.152" x="0px" y="0px" id="svg-55a1" style="enable-background:new 0 0 488.152 488.152;">
                                    <g>
                                        <g>
                                            <path d="M177.854,269.311c0-6.115-4.96-11.069-11.08-11.069h-38.665c-6.113,0-11.074,4.954-11.074,11.069v38.66    c0,6.123,4.961,11.079,11.074,11.079h38.665c6.12,0,11.08-4.956,11.08-11.079V269.311L177.854,269.311z"></path>
                                            <path d="M274.483,269.311c0-6.115-4.961-11.069-11.069-11.069h-38.67c-6.113,0-11.074,4.954-11.074,11.069v38.66    c0,6.123,4.961,11.079,11.074,11.079h38.67c6.108,0,11.069-4.956,11.069-11.079V269.311z"></path>
                                            <path d="M371.117,269.311c0-6.115-4.961-11.069-11.074-11.069h-38.665c-6.12,0-11.08,4.954-11.08,11.069v38.66    c0,6.123,4.96,11.079,11.08,11.079h38.665c6.113,0,11.074-4.956,11.074-11.079V269.311z"></path>
                                            <path d="M177.854,365.95c0-6.125-4.96-11.075-11.08-11.075h-38.665c-6.113,0-11.074,4.95-11.074,11.075v38.653    c0,6.119,4.961,11.074,11.074,11.074h38.665c6.12,0,11.08-4.956,11.08-11.074V365.95L177.854,365.95z"></path>
                                            <path d="M274.483,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.113,0-11.074,4.95-11.074,11.075v38.653    c0,6.119,4.961,11.074,11.074,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95z"></path>
                                            <path d="M371.117,365.95c0-6.125-4.961-11.075-11.069-11.075h-38.67c-6.12,0-11.08,4.95-11.08,11.075v38.653    c0,6.119,4.96,11.074,11.08,11.074h38.67c6.108,0,11.069-4.956,11.069-11.074V365.95L371.117,365.95z"></path>
                                            <path d="M440.254,54.354v59.05c0,26.69-21.652,48.198-48.338,48.198h-30.493c-26.688,0-48.627-21.508-48.627-48.198V54.142    h-137.44v59.262c0,26.69-21.938,48.198-48.622,48.198H96.235c-26.685,0-48.336-21.508-48.336-48.198v-59.05    C24.576,55.057,5.411,74.356,5.411,98.077v346.061c0,24.167,19.588,44.015,43.755,44.015h389.82    c24.131,0,43.755-19.889,43.755-44.015V98.077C482.741,74.356,463.577,55.057,440.254,54.354z M426.091,422.588    c0,10.444-8.468,18.917-18.916,18.917H80.144c-10.448,0-18.916-8.473-18.916-18.917V243.835c0-10.448,8.467-18.921,18.916-18.921    h327.03c10.448,0,18.916,8.473,18.916,18.921L426.091,422.588L426.091,422.588z"></path>
                                            <path d="M96.128,129.945h30.162c9.155,0,16.578-7.412,16.578-16.567V16.573C142.868,7.417,135.445,0,126.29,0H96.128    C86.972,0,79.55,7.417,79.55,16.573v96.805C79.55,122.533,86.972,129.945,96.128,129.945z"></path>
                                            <path d="M361.035,129.945h30.162c9.149,0,16.572-7.412,16.572-16.567V16.573C407.77,7.417,400.347,0,391.197,0h-30.162    c-9.154,0-16.577,7.417-16.577,16.573v96.805C344.458,122.533,351.881,129.945,361.035,129.945z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Revisión Programada</h3>
                            <p class="u-text u-text-5">Este sistema es perfecto para que, cada cierto tiempo, nos encarguemos de darle&nbsp;mantenimiento a sus equipos. Coordinamos con la empresa para no interrumpir sus operaciones.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.12 512.12" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bd00"></use></svg><svg class="u-svg-content" viewBox="0 0 512.12 512.12" id="svg-bd00">
                                    <g>
                                        <circle cx="256.06" cy="257.547" r="45.996"></circle>
                                        <path d="m256.06 422.12c74.99 0 135.998-61.008 135.998-135.998v-153.878l-135.998-38.676-135.998 38.675v153.878c0 74.991 61.008 135.999 135.998 135.999zm-105.996-179.573h31.494c1.976-9.832 5.858-18.981 11.24-27.05l-22.294-22.294 21.213-21.213 22.294 22.294c8.069-5.381 17.218-9.263 27.05-11.24v-31.494h30v31.494c9.832 1.976 18.981 5.858 27.05 11.24l22.294-22.294 21.213 21.213-22.294 22.294c5.381 8.069 9.263 17.218 11.24 27.05h31.494v30h-31.494c-1.976 9.832-5.858 18.981-11.24 27.05l22.294 22.294-21.213 21.213-22.295-22.294c-8.069 5.381-17.218 9.263-27.05 11.24v31.494h-30v-31.494c-9.832-1.976-18.981-5.858-27.05-11.24l-22.294 22.294-21.213-21.213 22.294-22.294c-5.381-8.069-9.263-17.218-11.24-27.05h-31.494v-30z"></path>
                                        <path d="m256.06 0-225.998 64.269v221.853c0 60.366 23.508 117.12 66.193 159.805 42.685 42.686 99.438 66.193 159.805 66.193s117.12-23.508 159.805-66.193c42.686-42.685 66.193-99.438 66.193-159.805v-221.853zm-165.998 109.585 165.998-47.206 165.998 47.207v176.537c0 91.532-74.466 165.998-165.998 165.998s-165.998-74.467-165.998-165.999z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-6">Mantenimiento Preventivo</h3>
                            <p class="u-text u-text-7">Nos anticipamos a problemas que puedan ocurrir entregándole programas totalmente actualizados para entregar un funcionamiento eficiente.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                            <span class="u-icon u-icon-circle u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 28.265 28.265" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e337"></use></svg><svg class="u-svg-content" viewBox="0 0 28.265 28.265" x="0px" y="0px" id="svg-e337" style="enable-background:new 0 0 28.265 28.265;">
                                    <g>
                                        <path d="M14.133,28.265c-7.061,0-12.805-5.75-12.805-12.809c0-7.06,5.744-12.807,12.805-12.807c0.469,0,0.943,0.027,1.414,0.08   v-2.07c0-0.266,0.164-0.508,0.406-0.611c0.252-0.098,0.531-0.043,0.723,0.148l4.537,4.547c0.258,0.258,0.258,0.67,0,0.932   l-4.535,4.557c-0.193,0.188-0.473,0.246-0.725,0.143c-0.242-0.104-0.406-0.344-0.406-0.609V7.47   c-0.469-0.086-0.941-0.125-1.414-0.125c-4.473,0-8.113,3.639-8.113,8.111c0,4.471,3.641,8.113,8.113,8.113s8.111-3.643,8.111-8.113   c0-0.363,0.295-0.66,0.662-0.66h3.369c0.365,0,0.662,0.297,0.662,0.66C26.937,22.515,21.189,28.265,14.133,28.265z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-8">Actualización de Programas</h3>
                            <p class="u-text u-text-9">Todo negocio aspira a crecer. Las herramientas también deben estar preparadas para soportar la cantidad de trabajo que realizará. Le ofrecemos una actualización de todo su sistema para su software vaya de acuerdo a los equipos que maneja en su empresa.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-8a0a">
        <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Razones para Elegirnos<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 511.999 511.999" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0965"></use></svg><svg class="u-svg-content" viewBox="0 0 511.999 511.999" x="0px" y="0px" id="svg-0965" style="enable-background:new 0 0 511.999 511.999;">
                                    <g>
                                        <g>
                                            <path d="M438.09,273.32h-39.596c4.036,11.05,6.241,22.975,6.241,35.404v149.65c0,5.182-0.902,10.156-2.543,14.782h65.461    c24.453,0,44.346-19.894,44.346-44.346v-81.581C512,306.476,478.844,273.32,438.09,273.32z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M107.265,308.725c0-12.43,2.205-24.354,6.241-35.404H73.91c-40.754,0-73.91,33.156-73.91,73.91v81.581    c0,24.452,19.893,44.346,44.346,44.346h65.462c-1.641-4.628-2.543-9.601-2.543-14.783V308.725z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M301.261,234.815h-90.522c-40.754,0-73.91,33.156-73.91,73.91v149.65c0,8.163,6.618,14.782,14.782,14.782h208.778    c8.164,0,14.782-6.618,14.782-14.782v-149.65C375.171,267.971,342.015,234.815,301.261,234.815z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M256,38.84c-49.012,0-88.886,39.874-88.886,88.887c0,33.245,18.349,62.28,45.447,77.524    c12.853,7.23,27.671,11.362,43.439,11.362c15.768,0,30.586-4.132,43.439-11.362c27.099-15.244,45.447-44.28,45.447-77.524    C344.886,78.715,305.012,38.84,256,38.84z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M99.918,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,36.655,29.82,66.475,66.475,66.475    c9.298,0,18.152-1.926,26.195-5.388c13.906-5.987,25.372-16.585,32.467-29.86c4.98-9.317,7.813-19.946,7.813-31.227    C166.393,151.51,136.573,121.689,99.918,121.689z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M412.082,121.689c-36.655,0-66.475,29.82-66.475,66.475c0,11.282,2.833,21.911,7.813,31.227    c7.095,13.276,18.561,23.874,32.467,29.86c8.043,3.462,16.897,5.388,26.195,5.388c36.655,0,66.475-29.82,66.475-66.475    C478.557,151.509,448.737,121.689,412.082,121.689z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Equipo Profesional</h3>
                            <p class="u-text u-text-3">Nuestro personal está altamente capacitado para brindar un análisis exhaustivo y soluciones eficaces para su negocio.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-78c1"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-78c1" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <rect x="153.6" y="153.6" width="204.8" height="204.8"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M486.4,281.6c15.36,0,25.6-10.24,25.6-25.6c0-12.8-10.24-25.6-25.6-25.6h-25.6v-51.2h25.6c15.36,0,25.6-10.24,25.6-25.6    c0-12.8-10.24-25.6-25.6-25.6h-25.6v-25.6c0-28.16-23.04-51.2-51.2-51.2H384V25.6C384,12.8,373.76,0,358.4,0    c-12.8,0-25.6,10.24-25.6,25.6v25.6h-51.2V25.6C281.6,12.8,271.36,0,256,0s-25.6,10.24-25.6,25.6v25.6h-51.2V25.6    c0-12.8-10.24-25.6-25.6-25.6C138.24,0,128,10.24,128,25.6v25.6h-25.6c-28.16,0-51.2,23.04-51.2,51.2V128H25.6    C10.24,128,0,138.24,0,153.6c0,12.8,10.24,25.6,25.6,25.6h25.6v51.2H25.6C10.24,230.4,0,240.64,0,256c0,12.8,10.24,25.6,25.6,25.6    h25.6v51.2H25.6C10.24,332.8,0,343.04,0,358.4C0,371.2,10.24,384,25.6,384h25.6v25.6c0,28.16,23.04,51.2,51.2,51.2H128v25.6    c0,12.8,10.24,25.6,25.6,25.6c15.36,0,25.6-10.24,25.6-25.6v-25.6h51.2v25.6c0,12.8,10.24,25.6,25.6,25.6s25.6-10.24,25.6-25.6    v-25.6h51.2v25.6c0,12.8,10.24,25.6,25.6,25.6c12.8,0,25.6-10.24,25.6-25.6v-25.6h25.6c28.16,0,51.2-23.04,51.2-51.2V384h25.6    c15.36,0,25.6-10.24,25.6-25.6c0-12.8-10.24-25.6-25.6-25.6h-25.6v-51.2H486.4z M409.6,409.6H102.4V102.4h307.2V409.6z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Tecnología de última generación</h3>
                            <p class="u-text u-text-5">Nuestra experiencia va de la mano con los nuevos avances tecnológicos que llevamos a usted en cada servicio que prestamos.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 231.233 231.233" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9aa3"></use></svg><svg class="u-svg-content" viewBox="0 0 231.233 231.233" x="0px" y="0px" id="svg-9aa3" style="enable-background:new 0 0 231.233 231.233;"><path d="M230.505,102.78c-0.365-3.25-4.156-5.695-7.434-5.695c-10.594,0-19.996-6.218-23.939-15.842  c-4.025-9.855-1.428-21.346,6.465-28.587c2.486-2.273,2.789-6.079,0.705-8.721c-5.424-6.886-11.586-13.107-18.316-18.498  c-2.633-2.112-6.502-1.818-8.787,0.711c-6.891,7.632-19.27,10.468-28.836,6.477c-9.951-4.187-16.232-14.274-15.615-25.101  c0.203-3.403-2.285-6.36-5.676-6.755c-8.637-1-17.35-1.029-26.012-0.068c-3.348,0.37-5.834,3.257-5.723,6.617  c0.375,10.721-5.977,20.63-15.832,24.667c-9.451,3.861-21.744,1.046-28.621-6.519c-2.273-2.492-6.074-2.798-8.725-0.731  c-6.928,5.437-13.229,11.662-18.703,18.492c-2.133,2.655-1.818,6.503,0.689,8.784c8.049,7.289,10.644,18.879,6.465,28.849  c-3.99,9.505-13.859,15.628-25.156,15.628c-3.666-0.118-6.275,2.345-6.68,5.679c-1.016,8.683-1.027,17.535-0.049,26.289  c0.365,3.264,4.268,5.688,7.582,5.688c10.07-0.256,19.732,5.974,23.791,15.841c4.039,9.855,1.439,21.341-6.467,28.592  c-2.473,2.273-2.789,6.07-0.701,8.709c5.369,6.843,11.537,13.068,18.287,18.505c2.65,2.134,6.504,1.835,8.801-0.697  c6.918-7.65,19.295-10.481,28.822-6.482c9.98,4.176,16.258,14.262,15.645,25.092c-0.201,3.403,2.293,6.369,5.672,6.755  c4.42,0.517,8.863,0.773,13.32,0.773c4.23,0,8.461-0.231,12.692-0.702c3.352-0.37,5.834-3.26,5.721-6.621  c-0.387-10.716,5.979-20.626,15.822-24.655c9.514-3.886,21.752-1.042,28.633,6.512c2.285,2.487,6.063,2.789,8.725,0.73  c6.916-5.423,13.205-11.645,18.703-18.493c2.135-2.65,1.832-6.503-0.689-8.788c-8.047-7.284-10.656-18.879-6.477-28.839  c3.928-9.377,13.43-15.673,23.65-15.673l1.43,0.038c3.318,0.269,6.367-2.286,6.768-5.671  C231.476,120.379,231.487,111.537,230.505,102.78z M115.616,182.27c-36.813,0-66.654-29.841-66.654-66.653  s29.842-66.653,66.654-66.653s66.654,29.841,66.654,66.653c0,12.495-3.445,24.182-9.428,34.176l-29.186-29.187  c2.113-4.982,3.229-10.383,3.228-15.957c0-10.915-4.251-21.176-11.97-28.893c-7.717-7.717-17.978-11.967-28.891-11.967  c-3.642,0-7.267,0.484-10.774,1.439c-1.536,0.419-2.792,1.685-3.201,3.224c-0.418,1.574,0.053,3.187,1.283,4.418  c0,0,14.409,14.52,19.23,19.34c0.505,0.505,0.504,1.71,0.433,2.144l-0.045,0.317c-0.486,5.3-1.423,11.662-2.196,14.107  c-0.104,0.103-0.202,0.19-0.308,0.296c-0.111,0.111-0.213,0.218-0.32,0.328c-2.477,0.795-8.937,1.743-14.321,2.225l0.001-0.029  l-0.242,0.061c-0.043,0.005-0.123,0.011-0.229,0.011c-0.582,0-1.438-0.163-2.216-0.94c-5.018-5.018-18.862-18.763-18.862-18.763  c-1.242-1.238-2.516-1.498-3.365-1.498c-1.979,0-3.751,1.43-4.309,3.481c-3.811,14.103,0.229,29.273,10.546,39.591  c7.719,7.718,17.981,11.968,28.896,11.968c5.574,0,10.975-1.115,15.956-3.228l29.503,29.503  C141.125,178.412,128.825,182.27,115.616,182.27z"></path></svg>


                            </span>
                            <h3 class="u-text u-text-6">Servicio Completo</h3>
                            <p class="u-text u-text-7">Es un compromiso para nosotros el entregarle una asistencia de primera y le damos soporte de principio a fin para que quede completamente satisfecho con nuestro trabajo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-8 u-section-3" id="sec-bdce">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Nuestros servicios de Soporte y Mantenimiento<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f21a"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-f21a" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M346,452h-15v-30H181v30h-15c-24.853,0-45,20.147-45,45c0,8.284,6.716,15,15,15h240c8.284,0,15-6.716,15-15    C391,472.147,370.853,452,346,452z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M0,332v15c0,24.814,20.186,45,45,45h422c24.814,0,45-20.186,45-45v-15H0z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <polygon points="331.22,92.23 285.037,120.057 331,147.832 377.033,120.015   "></polygon>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <polygon points="346,173.815 346,229.413 391,202.211 391,146.622   "></polygon>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M467,0H45C20.186,0,0,20.186,0,45v257h512V45C512,20.186,491.814,0,467,0z M166,241h-61c-8.291,0-15-6.709-15-15    s6.709-15,15-15h61c8.291,0,15,6.709,15,15S174.291,241,166,241z M166,181h-61c-8.291,0-15-6.709-15-15s6.709-15,15-15h61    c8.291,0,15,6.709,15,15S174.291,181,166,181z M166,121h-61c-8.291,0-15-6.709-15-15s6.709-15,15-15h61c8.291,0,15,6.709,15,15    S174.291,121,166,121z M421.001,210.678H421c0,5.259-2.754,10.122-7.236,12.832l-75,45.322C335.755,270.088,334.018,271,331,271    c-3.001,0-4.753-0.912-7.764-2.168l-75-45.322c-4.482-2.71-7.236-7.573-7.236-12.832v-90.645c1.002-5.7,1.588-9.056,6.94-12.512    c3.021-1.952,78.602-47.666,75.575-45.657c4.761-2.871,10.752-2.886,15.513,0.015c0.305,0.185,0.522,0.318,0.693,0.422    c-1.981-1.203-5.427-3.293,74.413,45.266c4.135,2.688,6.376,6.561,6.649,11.638c0.016,0.293,0.218,0.533,0.218,0.828V210.678z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <polygon points="271,146.624 271,202.211 316,229.413 316,173.822   "></polygon>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-2">Software</h3>
                            <p class="u-text u-text-3">Analizamos la situación actual de la empresa y realizamos los cambios adecuados para que sus herramientas sigan funcionando de la manera adecuada. Resolvemos temas de seguridad y adaptamos el sistema de acuerdo al crecimiento de su compañía.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cb83"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-cb83">
                                    <g>
                                        <circle cx="136" cy="332" r="60"></circle>
                                        <path d="m31 497c0 8.291 6.709 15 15 15h180c8.291 0 15-6.709 15-15 0-57.891-47.109-105-105-105s-105 47.109-105 105z"></path>
                                        <circle cx="376" cy="332" r="60"></circle>
                                        <path d="m271 497c0 8.291 6.709 15 15 15h180c8.291 0 15-6.709 15-15 0-57.891-47.109-105-105-105s-105 47.109-105 105z"></path>
                                        <path d="m467 0h-422c-24.814 0-45 20.186-45 45v120c0 24.814 20.186 45 45 45h53.789l25.605 25.605c5.859 5.859 15.352 5.859 21.211 0l25.606-25.605h169.578l25.605 25.605c5.859 5.859 15.351 5.86 21.211 0l25.606-25.605h53.789c24.814 0 45-20.186 45-45v-120c0-24.814-20.186-45-45-45zm-272 150h-120c-8.291 0-15-6.709-15-15s6.709-15 15-15h120c8.291 0 15 6.709 15 15s-6.709 15-15 15zm0-60h-120c-8.291 0-15-6.709-15-15s6.709-15 15-15h120c8.291 0 15 6.709 15 15s-6.709 15-15 15zm242 60h-120c-8.291 0-15-6.709-15-15s6.709-15 15-15h120c8.291 0 15 6.709 15 15s-6.709 15-15 15zm0-60h-120c-8.291 0-15-6.709-15-15s6.709-15 15-15h120c8.291 0 15 6.709 15 15s-6.709 15-15 15z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Consultoría</h3>
                            <p class="u-text u-text-5">Revisamos todos sus sistemas y presentamos un informe de los potenciales errores que se pueden presentar para que se anticipe a los problemas. Asimismo, le entregamos alternativas viables que no interrumpan el desarrollo de su negocio.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6003"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-6003">
                                    <g>
                                        <path d="m102.101 355.6h307.798l21.411-96.346c.987-4.441-.095-9.091-2.942-12.64s-7.15-5.614-11.7-5.614h-321.335c-4.55 0-8.854 2.065-11.7 5.614-2.848 3.549-3.93 8.198-2.942 12.64zm153.899-57.3c8.28 0 15 6.721 15 15s-6.72 15-15 15-15-6.721-15-15 6.72-15 15-15z"></path>
                                        <circle cx="256" cy="103.9" r="71.767"></circle>
                                        <path d="m288.134 175.667h-32.134-32.134c-29.848 0-56.531 13.792-74.024 35.333h212.316c-17.493-21.541-44.177-35.333-74.024-35.333z"></path>
                                        <path d="m497 385.6h-482c-8.284 0-15 6.716-15 15v64.267c0 8.284 6.716 15 15 15h482c8.284 0 15-6.716 15-15v-64.267c0-8.284-6.716-15-15-15z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-6">Monitoreo</h3>
                            <p class="u-text u-text-7">Llevamos un control del funcionamiento de su sistema para asegurarnos de que todo quede perfecto para su uso.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-1 u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-icon u-icon-circle u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.013 512.013" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5376"></use></svg><svg class="u-svg-content" viewBox="0 0 512.013 512.013" id="svg-5376">
                                    <g>
                                        <path d="m369.871 280.394-34.14 34.141-.001-.001-235.826-235.827 18.124-18.124-75.151-60.569-42.877 42.877 60.569 75.15 18.125-18.124 235.827 235.827-34.141 34.141 48.69 48.689 89.49-89.49z"></path>
                                        <path d="m439.773 350.297-89.49 89.49 53.692 53.692c11.952 11.952 27.843 18.534 44.746 18.534 16.902 0 32.793-6.582 44.745-18.534 24.672-24.673 24.672-64.817 0-89.49z"></path>
                                    </g>
                                    <path d="m259.136 322.785-69.9-69.9-51.176 51.169c-37.59-11.78-78.61-1.94-106.9 26.36-20.09 20.09-31.16 46.799-31.16 75.22 0 28.41 11.07 55.13 31.16 75.22 20.74 20.74 47.98 31.11 75.22 31.11s54.49-10.37 75.22-31.11c28.3-28.29 38.14-69.31 26.36-106.9zm-128.406 107.188c-13.45 13.45-35.25 13.45-48.69 0-13.45-13.44-13.45-35.24 0-48.69 13.44-13.44 35.24-13.44 48.69 0 13.44 13.45 13.44 35.251 0 48.69z"></path>
                                    <g>
                                        <path d="m505.04 64.163-8.36-21.35-53.67 53.67-21.67-5.81-5.81-21.67 53.67-53.66-21.35-8.37c-37.43-14.66-79.97-5.78-108.38 22.63-26.02 26.02-35.66 63.91-25.82 98.86l-60.777 60.784 69.9 69.9 60.777-60.784c9.02 2.54 18.22 3.78 27.37 3.78 26.33-.01 52.18-10.29 71.49-29.6 28.41-28.409 37.29-70.949 22.63-108.38z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-8">Soporte a Terceros</h3>
                            <p class="u-text u-text-9">No importa si no desarrollo su software con nosotros. Queremos brindarle soluciones y analizamos todo el sistema con el que cuente para encontrar las posibles fallas y ofrecerle mejoras que optimizarán sus recursos.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-336b">
        <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                El Soporte y Mantenimiento indicado para su empresa<br>
            </h2>
            <p class="u-large-text u-text u-text-variant u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Es recomendable que siempre le dé un&nbsp;soporte y mantenimiento&nbsp;a los programas que utilice en el trabajo. Es importante eliminar los problemas potenciales que se pueden presentar y la tecnología es un aliado muy fuerte a la hora de realizar operaciones. Es necesario que estas herramientas estén preparadas para toda situación y nosotros nos encargamos de prevenir cualquier fallo que se pueda presentar. Contáctese con nosotros para más información sobre cómo podemos ayudarlo en su negocio.<br>
            </p>
            <a href="Soporte-y-Mantenimiento.html#sec-6569" data-page-id="35713815" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>