<!DOCTYPE html>
<html style="font-size: 16px;" lang="es-PE">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Paginas web, desarrollo de sistemas, sofware factory. soluciones tecnologicas, consultoria ">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Tiendas Virtuales</title>


    <link rel="stylesheet" href="~/css/nicepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tiendas-Virtuales.css" asp-append-version="true" />

    <script class="u-script" type="text/javascript" src="~/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/js/nicepage.js" defer=""></script>






    <link rel="icon" href="../images/favicon.ico">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

    <meta property="og:title" content="Tiendas Virtuales">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="@Url.Action("Index", "Home")">
    <meta property="og:url" content="@Url.Action("Index", "Home")">
</head>
<body class="u-body">
    <partial name= "_Menu" />
    <section class="u-align-left u-clearfix u-section-1" id="sec-e5d8">
        <div class="u-carousel u-carousel-duration-500 u-expanded-width u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1" id="carousel-4ece" data-interval="3000" data-u-ride="carousel">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-4ece" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-4ece" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-4ece" data-u-slide-to="2" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-4ece" data-u-slide-to="3" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner u-gallery-inner" role="listbox">
                <div class="u-active u-carousel-item u-gallery-item u-carousel-item-1">
                    <div class="u-back-slide" data-image-width="1024" data-image-height="384">
                        <img class="u-back-image u-expanded" src="../images/tienda-virtual-mobile-1024x384.jpg">
                    </div>
                    <div class="u-align-left u-over-slide u-over-slide-1">
                        <h3 class="u-gallery-heading u-text-body-alt-color" style="width: 1100px; margin-right: auto; margin-left: 0px; background-image: none; font-weight: 700;">Tiendas Virtuales</h3>
                        <p class="u-gallery-text u-text-white" style="width: 1100px; margin-right: auto; margin-left: 0px;">Diseño Web Y Móvil</p>
                    </div>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-2" data-image-width="900" data-image-height="600">
                    <div class="u-back-slide" data-image-width="1024" data-image-height="282">
                        <img class="u-back-image u-expanded" src="../images/tiendas-virtuales-visa-1024x282.jpg" alt="">
                    </div>
                    <div class="u-align-left u-over-slide u-over-slide-2">
                        <h3 class="u-gallery-heading u-text-body-alt-color" style="width: 1120px; margin-right: auto; margin-left: 0px; background-image: none; font-weight: 700;">Tiendas Virtuales</h3>
                        <p class="u-gallery-text u-text-white" style="width: 1120px; margin-right: auto; margin-left: 0px;">Acepta todo tipo de pagos</p>
                    </div>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-3" data-image-width="900" data-image-height="600">
                    <div class="u-back-slide" data-image-width="1024" data-image-height="282">
                        <img class="u-back-image u-expanded" src="../images/tiendas-virtuales-web-1024x282.jpg" alt="Tiendas Virtuales">
                    </div>
                    <div class="u-align-left u-over-slide u-over-slide-3">
                        <h3 class="u-gallery-heading u-text-body-alt-color" style="width: 1120px; margin-right: auto; margin-left: 0px; background-image: none; font-weight: 700;">Tiendas Virtuales</h3>
                        <p class="u-gallery-text u-text-white" style="width: 1120px; margin-right: auto; margin-left: 0px;">Creamos tiendas virtuales listas para empezar a vender online.</p>
                    </div>
                </div>
                <div class="u-carousel-item u-gallery-item u-carousel-item-4" data-image-width="1024" data-image-height="384">
                    <div class="u-back-slide">
                        <img class="u-back-image u-expanded" src="../images/tienda-virtual-tablet-1024x384.jpg" alt="Tiendas Virtuales">
                    </div>
                    <div class="u-align-left u-over-slide u-over-slide-4">
                        <h3 class="u-gallery-heading u-text-body-alt-color" style="width: 1100px; margin-right: auto; margin-left: 0px; background-image: none; font-weight: 700;">Tiendas Virtuales</h3>
                        <p class="u-gallery-text u-text-white" style="width: 1100px; margin-right: auto; margin-left: 0px;">Diseño para todos los dispositivos</p>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-circle u-opacity u-opacity-70 u-text-custom-color-1 u-carousel-control-1" href="#carousel-4ece" role="button" data-u-slide="prev">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.847 451.847">
                        <path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path>
                    </svg>
                </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-circle u-opacity u-opacity-70 u-text-custom-color-1 u-carousel-control-2" href="#carousel-4ece" role="button" data-u-slide="next">
                <span aria-hidden="true">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
                <span class="sr-only">
                    <svg viewBox="0 0 451.846 451.847">
                        <path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-f032">
        <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
            <h2 class="u-text u-text-palette-1-base u-text-1" data-animation-name="slideIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="Down">Tiendas Virtuales Online</h2>
            <p class="u-text u-text-2" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                El&nbsp;<b>e-commerce</b>&nbsp;y las ventas de servicios y productos online se han multiplicado x4 el ultimo año, con una tendencia a la alza. Si usted dispone o no de una tienda física, una tienda virtual será el mejor complemento para aumentar sus ventas a través de buscadores, redes sociales, email y otros medios digitales. Con una tienda virtual y un catálogo de productos actualizado podrá alcanzar nuevos y potenciales clientes. El comercio electrónico le facilitará poder vender sus productos o servicios online, en el mayor mercado del mundo, internet, con un costo mínimo, además de aceptar pagos online.
            </p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-1" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-24 0 511 511.997" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c3ee"></use></svg><svg class="u-svg-content" viewBox="-24 0 511 511.997" id="svg-c3ee"><path d="m452.707031 267.480469c-23.527343-23.421875-50.726562-1.5-50.726562-1.5v-123.300781c0-4.140626-3.355469-7.5-7.496094-7.5-4.144531 0-7.5 3.359374-7.5 7.5v133.851562s-35.761719 28.191406-51.132813 35.082031v-222.007812c0-10.320313 8.394532-18.714844 18.714844-18.714844h13.703125c10.320313 0 18.714844 8.394531 18.714844 18.714844v22.371093c0 4.144532 3.355469 7.5 7.5 7.5 4.140625 0 7.496094-3.355468 7.496094-7.5v-22.371093c0-18.589844-15.121094-33.710938-33.710938-33.710938h-13.703125c-18.589844 0-33.714844 15.121094-33.714844 33.710938v227.953125c-4.472656 1.253906-9.0625 2.105468-13.726562 2.554687v-158.113281c0-18.683594-15.199219-33.882812-33.878906-33.882812h-13.371094c-18.679688 0-33.878906 15.199218-33.878906 33.882812v76.414062l-13.730469 7.289063v-25.429687c0-16.820313-13.683594-30.503907-30.5-30.503907h-20.125c-16.820313 0-30.5 13.683594-30.5 30.503907v68.492187l-24.488281 12.996094-68.765625 19.652343c-11.964844 3.417969-21.957031 11.253907-28.128907 22.058594-6.175781 10.808594-7.851562 23.394532-4.71875 35.4375l7.691407 29.59375c1.039062 4.007813 5.132812 6.410156 9.144531 5.371094 4.007812-1.042969 6.414062-5.136719 5.371094-9.148438l-7.691406-29.589843c-4.460938-17.164063 5.402343-34.429688 22.457031-39.300781l62.871093-17.96875 47.253907 126.117187c3.164062 8.445313 2.664062 32.539063-22.332031 41.417969l-47.511719 10.792968c-16.558594 3.757813-32.875-6.167968-37.148438-22.605468l-9.644531-37.113282c-1.042969-4.007812-5.136719-6.414062-9.144531-5.375-4.011719 1.042969-6.414063 5.136719-5.375 9.148438l9.648437 37.117188c5.421875 20.851562 23.945313 34.628906 44.566406 34.628906 15.152344 0 57.933594-11.96875 57.933594-11.96875 13.019532-2.953125 24.121094-11.390625 30.453125-23.140625 5.226563-9.695313 6.777344-20.851563 4.535157-31.480469l164.375-40.242188c13.59375-3.332031 26.5-9.789062 37.3125-18.675781l79.992187-65.726562c24.386719-21.628907 10.082031-46.144531 2.910156-53.28125zm-192.832031-124.363281h13.371094c10.410156 0 18.878906 8.472656 18.878906 18.882812v158.488281l-47.324219-.019531c-4.347656-.039062-1.339843-2.910156-1.101562-3.105469l13.628906-11.039062c12.714844-10.300781 21.019531-24.621094 24.679687-42.570313 2.324219-11.386718-2.019531-22.785156-11.328124-29.746094-8.695313-6.5-19.878907-7.75-29.683594-3.453124v-68.554688c0-10.410156 8.46875-18.882812 18.878906-18.882812zm-113.734375 77.15625c0-8.546876 6.953125-15.503907 15.5-15.503907h20.125c8.546875 0 15.503906 6.957031 15.503906 15.503907v33.390624l-51.132812 27.140626v-60.53125zm294.136719 88.902343-79.996094 65.726563c-9.085938 7.46875-19.929688 12.894531-31.355469 15.691406l-165.585937 40.542969-44.53125-118.839844 127.148437-67.492187c5.167969-2.746094 11.054688-2.289063 15.738281 1.214843 4.683594 3.503907 6.785157 9.011719 5.617188 14.738281-2.949219 14.449219-9.484375 25.859376-19.425781 33.910157l-13.628907 11.042969c-5.585937 4.523437-7.644531 11.824218-5.246093 18.601562 2.398437 6.773438 8.59375 11.15625 15.78125 11.15625l54.644531.023438h.039062c19.453126 0 38.148438-5.914063 54.0625-17.105469l61.070313-42.945313c8.550781-6.015625 20.0625-4.953125 27.367187 2.523438 4.207032 4.296875 12.441407 17.066406-1.699218 31.210937zm0 0"></path><path d="m123.414062 448.789062c0-16.292968-13.253906-29.550781-29.546874-29.550781-16.292969 0-29.546876 13.257813-29.546876 29.550781 0 16.289063 13.253907 29.546876 29.546876 29.546876 16.292968 0 29.546874-13.257813 29.546874-29.546876zm-44.09375 0c0-8.023437 6.523438-14.550781 14.546876-14.550781 8.019531 0 14.546874 6.527344 14.546874 14.550781 0 8.019532-6.523437 14.546876-14.546874 14.546876-8.023438 0-14.546876-6.527344-14.546876-14.546876zm0 0"></path><path d="m39.933594 235.480469 109.023437-109.863281 24.523438 12.683593c8.785156 4.542969 19.476562 2.988281 26.601562-3.871093l59.34375-57.125s-1.632812 29.339843 23.074219 29.339843c12.71875 0 23.070312-10.351562 23.070312-23.074219v-60.5c0-.070312-.003906-.144531-.003906-.21875-.082031-15.785156-11.625-22.851562-23.066406-22.851562h-59.972656c-12.722656 0-23.070313 10.351562-23.070313 23.070312 0 25.359376 25.808594 23.070313 25.808594 23.070313l-45.273437 43.578125-24.878907-12.867188c-8.996093-4.65625-19.835937-2.949218-26.976562 4.238282l-120.953125 121.886718c-8.960938 9.03125-8.90625 23.667969.125 32.628907 4.351562 4.316406 19.210937 13.289062 32.625-.125zm-22.105469-21.9375 120.953125-121.886719c1.5625-1.570312 4.070312-4.320312 9.441406-1.480469l29.652344 15.335938c2.855469 1.476562 6.332031.972656 8.648438-1.257813l62.546874-60.207031c2.203126-2.121094 2.898438-5.371094 1.753907-8.207031-1.144531-2.839844-3.894531-4.695313-6.957031-4.695313h-21.339844c-4.449219 0-8.070313-3.621093-8.070313-8.074219 0-4.449218 3.621094-8.070312 8.070313-8.070312h59.972656c2.207031 0 8.066406 0 8.066406 8.023438 0 .066406.003906.132812.003906.203124v60.34375c0 4.449219-3.621093 8.070313-8.070312 8.070313-4.453125 0-8.074219-3.621094-8.074219-8.070313v-23.894531c0-3.007812-1.796875-5.726562-4.5625-6.902343-2.765625-1.179688-5.96875-.585938-8.136719 1.5l-72.046874 69.351562c-2.492188 2.398438-6.234376 2.945312-9.304688 1.355469l-29.414062-15.214844c-2.910157-1.503906-6.460938-.945313-8.769532 1.378906l-112.902344 113.769531c-4.921874 4.921876-9.894531 1.554688-11.417968.042969-3.15625-3.136719-3.175782-8.257812-.042969-11.414062zm0 0"></path></svg>


                            </span>
                            <h4 class="u-text u-text-3">Aumento de Ventas</h4>
                            <p class="u-align-left u-text u-text-4">
                                Las&nbsp;<b>Tiendas Virtuales online</b>&nbsp;le permitirán aumentar sus ventas sin límites a millones de personas a través de nuevos canales digitales.<br>
                                <br>-&nbsp;<b>Aumento de Ventas</b>&nbsp;por Redes Sociales, Facebook y otros canales digitales.<br>
                                <br>- Aumento de Ventas por email.<br>
                                <br>- Pagos por banco, tarjeta de crédito, paypal.<br>
                                <br>-&nbsp;<b>Aumenta las ganancias</b>&nbsp;con ventas cruzadas, ventas incrementales y productos destacados.<br>
                                <br>- Aumento de Ventas por Inbound marketing &amp; Marketing de Contenidos.<br>
                                <br>- Aumenta tu visibilidad con URL amigables con los motores de búsqueda.<br>
                                <br>- Permite a los visitantes que compartan tu página en Facebook, Twitter® y más.
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-2" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a523"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" id="svg-a523">
                                    <g id="004---Money-Off">
                                        <path id="Shape" d="m57 .13h-54c-1.65685425 0-3 1.34314575-3 3v26c0 1.6568542 1.34314575 3 3 3h54c1.6568542 0 3-1.3431458 3-3v-26c0-1.65685425-1.3431458-3-3-3zm1 29c0 .5522847-.4477153 1-1 1h-54c-.55228475 0-1-.4477153-1-1v-26c0-.55228475.44771525-1 1-1h54c.5522847 0 1 .44771525 1 1z"></path>
                                        <path id="Shape" d="m55 9.13c-2.209139 0-4-1.790861-4-4 0-.55228475-.4477153-1-1-1h-40c-.55228475 0-1 .44771525-1 1 0 1.06086596-.42142736 2.07828161-1.17157288 2.82842712-.75014551.75014552-1.76756116 1.17157288-2.82842712 1.17157288-.55228475 0-1 .44771525-1 1v12c0 .5522847.44771525 1 1 1 2.209139 0 4 1.790861 4 4 0 .5522847.44771525 1 1 1h40c.5522847 0 1-.4477153 1-1 0-2.209139 1.790861-4 4-4 .5522847 0 1-.4477153 1-1v-12c0-.55228475-.4477153-1-1-1zm-44.08 17c-.4245846-2.520571-2.399429-4.4954154-4.92-4.92v-10.21c2.51755456-.4233138 4.4915649-2.39331192 4.92-4.91h12.46c-3.3517423 2.22329431-5.3667504 5.9779093-5.3667504 10s2.0150081 7.7767057 5.3667504 10zm19.08-20c5.5228475 0 10 4.4771525 10 10s-4.4771525 10-10 10-10-4.4771525-10-10 4.4771525-10 10-10zm24 15.08c-2.520571.4245846-4.4954154 2.399429-4.92 4.92h-12.46c3.3517423-2.2232943 5.3667504-5.9779093 5.3667504-10s-2.0150081-7.77670569-5.3667504-10h12.46c.4437487 2.50115012 2.4144478 4.4518218 4.92 4.87z"></path>
                                        <path id="Shape" d="m30 21.13c-1.1045695 0-2-.8954305-2-2 0-.5522847-.4477153-1-1-1s-1 .4477153-1 1c.0013597 1.8228823 1.2350012 3.4142798 3 3.87v1.15c0 .5522847.4477153 1 1 1s1-.4477153 1-1v-1.15c1.9085636-.5363279 3.1363255-2.3897161 2.8858037-4.3563126-.2505218-1.9665964-1.9037326-3.4529818-3.8858037-3.4936874-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2 2 .8954305 2 2c0 .5522847.4477153 1 1 1s1-.4477153 1-1c-.0059072-1.819157-1.2385971-3.40521795-3-3.86v-1.16c0-.55228475-.4477153-1-1-1s-1 .44771525-1 1v1.14c-1.9260077.5228481-3.1719503 2.3853678-2.9200729 4.3651238.2518773 1.979756 1.9245019 3.4709567 3.9200729 3.4948762 1.1045695 0 2 .8954305 2 2s-.8954305 2-2 2z"></path>
                                        <path id="Shape" d="m18.5 43.13c.8284271 0 1.5-.6715729 1.5-1.5v-6c0-.8284271-.6715729-1.5-1.5-1.5h-9c-.82842712 0-1.5.6715729-1.5 1.5v6c0 .8284271.67157288 1.5 1.5 1.5zm-8.5-7h8v5h-8z"></path>
                                        <path id="Shape" d="m34.5 47.13c.8284271 0 1.5-.6715729 1.5-1.5v-10c0-.8284271-.6715729-1.5-1.5-1.5h-9c-.8284271 0-1.5.6715729-1.5 1.5v10c0 .8284271.6715729 1.5 1.5 1.5zm-8.5-11h8v9h-8z"></path>
                                        <path id="Shape" d="m50.5 34.13h-9c-.8284271 0-1.5.6715729-1.5 1.5v13.5h-.89c-.5860469.0065702-1.1145908.3538631-1.3532202.8891669s-.1436319 1.1605609.2432202 1.6008331l6.89 7.75c.2846201.3194782.6921274.5022024 1.12.5022024s.8353799-.1827242 1.12-.5022024l6.87-7.75c.3879955-.4416355.482249-1.0692095.2411005-1.6053344-.2411485-.5361248-.7732441-.8819675-1.3611005-.8846656h-.88v-13.5c0-.8284271-.6715729-1.5-1.5-1.5zm-4.5 23.49-5.77-6.49h.27c.8284271 0 1.5-.6715729 1.5-1.5v-13.5h8v13.5c0 .8284271.6715729 1.5 1.5 1.5h.27z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h4 class="u-text u-text-5">Reducción de Costo</h4>
                            <p class="u-align-left u-text u-text-6">
                                Abrir&nbsp;una&nbsp;<b>tienda virtual online</b>&nbsp;es más económico porque permite a las empresas crecer con menos recursos al evitar el pago de renta del local, servicios, sueldos, etcétera.<br>
                                <br>-&nbsp;<b>Costos Bajos</b>: Reducción costos de operación.<br>
                                <br>-&nbsp;<b>Mayor Flexibilidad</b>: no tendrá que estar en la tienda todo el día, podrá realizar otras actividades y vender al mismo tiempo desde el smartphone.<br>
                                <br>-&nbsp;<b>Mayor Alcance</b>: con su tienda virtual online usted podrá llegar a clientes lejanos que antes no podía por la distancia.<br>
                                <br>-&nbsp;<b>Automatización de Procesos</b>: ahorrará tiempo automatizando procesos como las boletas y facturas electrónicas.<br>
                                <br>- Puede hacer publicidad por internet para llegar a muchas personas por un precio menor a los medios tradicionales.
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-video-cover u-list-item-3" data-animation-name="bounceIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8d9c"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-8d9c" style="enable-background:new 0 0 512 512;">
                                    <g>
                                        <g>
                                            <path d="M256.281,232.255c-9.426,0-17.067,7.641-17.067,17.067c-0.001,6.815,4.004,12.68,9.779,15.416v20.747    c0,4.024,3.262,7.287,7.287,7.287c4.025,0,7.287-3.262,7.287-7.287v-20.747c5.776-2.736,9.781-8.601,9.781-15.416    C273.348,239.896,265.707,232.255,256.281,232.255z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M438.138,111.149c-31.369-12.413-56.267-35.275-70.108-64.373c-3.764-7.913-11.9-13.027-20.729-13.027H164.699    c-8.828,0-16.964,5.113-20.728,13.027c-13.84,29.098-38.739,51.96-70.108,64.373c-8.799,3.481-14.484,11.869-14.484,21.368v44.412    c0,58.219,16.977,115.73,49.096,166.318c32.431,51.083,79.425,93.774,135.898,123.456l0.92,0.484    c3.353,1.762,7.03,2.643,10.708,2.643c3.676,0,7.354-0.881,10.705-2.642l0.923-0.485    c56.474-29.683,103.467-72.373,135.899-123.456c32.118-50.589,49.095-108.1,49.095-166.318v-44.412    C452.623,123.017,446.936,114.63,438.138,111.149z M438.05,176.93c0,55.447-16.192,110.257-46.825,158.507    c-31.069,48.936-76.153,89.867-130.374,118.367l-0.923,0.484c-2.459,1.294-5.395,1.293-7.855,0l-0.92-0.483    c-54.223-28.5-99.307-69.431-130.377-118.368c-30.633-48.249-46.825-103.06-46.825-158.508v-44.412c0-3.481,2.07-6.55,5.273-7.817    c34.81-13.774,62.477-39.225,77.906-71.664c1.361-2.863,4.332-4.713,7.568-4.713h182.604c3.236,0,6.206,1.85,7.568,4.713    c15.43,32.439,43.098,57.89,77.907,71.665c3.203,1.267,5.273,4.336,5.273,7.817V176.93z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M474.672,246.08c-3.925-0.888-7.827,1.575-8.713,5.501c-22.192,98.177-89.78,183.32-185.436,233.597l-22.229,11.684    c-1.435,0.754-3.149,0.754-4.584,0l-22.229-11.684c-95.806-50.356-163.428-135.646-185.527-234    c-0.881-3.926-4.781-6.395-8.706-5.512c-3.926,0.882-6.394,4.78-5.512,8.706c23.036,102.531,93.369,191.358,192.965,243.705    l22.229,11.684c2.841,1.492,5.956,2.239,9.072,2.239c3.115,0,6.232-0.747,9.072-2.24l22.229-11.684    c99.439-52.265,169.737-140.938,192.871-243.283C481.06,250.868,478.597,246.967,474.672,246.08z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M471.125,83.377c-38.909-4.105-69.503-31.416-74.4-66.414C395.372,7.292,387.061,0,377.393,0H134.609    c-9.667,0-17.978,7.292-19.331,16.963c-4.898,34.999-35.492,62.309-74.4,66.414c-9.859,1.04-17.294,9.369-17.294,19.373v78.244    c0,11.37,0.589,22.865,1.751,34.167c0.386,3.75,3.55,6.542,7.24,6.542c0.249,0,0.501-0.013,0.754-0.039    c4.003-0.411,6.915-3.99,6.503-7.993c-1.111-10.809-1.675-21.803-1.675-32.677V102.75c0-2.485,1.867-4.63,4.25-4.881    c45.576-4.808,81.476-37.248,87.304-78.887c0.358-2.555,2.417-4.409,4.898-4.409h242.783c2.481,0,4.542,1.854,4.899,4.409    c5.826,41.639,41.727,74.078,87.303,78.887c2.383,0.251,4.25,2.396,4.25,4.881v78.244c0,10.759-0.552,21.639-1.64,32.34    c-0.407,4.003,2.509,7.579,6.512,7.986c4.001,0.41,7.579-2.509,7.987-6.512c1.138-11.188,1.714-22.564,1.714-33.814V102.75    C488.418,92.746,480.984,84.417,471.125,83.377z"></path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M339.46,181.865h-11.981v-34.782c0-39.259-31.939-71.198-71.199-71.198c-39.259,0-71.199,31.939-71.199,71.198v34.782    h-11.98c-12.778,0-23.174,10.396-23.174,23.174v104.329c0,12.778,10.396,23.174,23.174,23.174H339.46    c12.778,0,23.174-10.396,23.174-23.174V205.039C362.634,192.261,352.238,181.865,339.46,181.865z M199.655,147.084    c0-31.223,25.402-56.625,56.626-56.625s56.626,25.402,56.626,56.625v34.782H199.655V147.084z M348.061,309.368    c0,4.742-3.859,8.601-8.601,8.601H173.101c-4.743,0-8.601-3.859-8.601-8.601V205.039c0-4.742,3.859-8.601,8.601-8.601H339.46    c4.742,0,8.601,3.858,8.601,8.601V309.368z"></path>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h4 class="u-text u-text-7">Control y Seguridad</h4>
                            <p class="u-align-left u-text u-text-8">
                                Con su&nbsp;<i>tienda virtual online</i>&nbsp;usted tendrá mayor control del negocio y mayor seguridad para sus clientes.<br>
                                <br>-&nbsp;<b>Administra pedidos</b>&nbsp;desde cualquier lado.<br>
                                <br>-&nbsp;<b>Inventario Sincronizado</b>&nbsp;en tiempo real.<br>- Visualiza fácilmente nuevos pedidos, el inventario y la actividad de los miembros.<br>
                                <br>- Protege las transacciones de sus clientes con encryptación de 256 bits.<br>
                                <br>- Contabilidad automatizada con las facturas y boletas electrónicas en integración con la sunat<br>
                                <br>- Ciberseguridad mejorada para evitar hackeos en las tiendas<br>
                                <br>- Arquitectura escalable para que su sitio cargue rápido y pueda escalar fácilmente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-3" id="carousel_b2a2">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-align-center u-text u-text-1">
                Beneficios de una <span style="font-weight: 700;">Tienda Virtual</span>
            </h2>
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                            <div class="u-container-layout u-valign-top u-container-layout-1">
                                <ul class="u-custom-list u-indent-6 u-spacing-13 u-text u-text-2">
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Panel de Administración muy fácil de usar para la gestión de contenidos por el propietario de la tienda y admite múltiples usuarios.
                                    </li>
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Banner dinámico con diferentes efectos de rotación automática de tus imágenes en la página principal.<br>Módulos de Productos: Categorías, Marcas, Más Vendidos, Novedades, Ofertas, Destacados, Escaparate, Nube de etiquetas.
                                    </li>
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Módulo con enlaces a las principales Redes Sociales como Facebook y Twitter.
                                    </li>
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Módulos de Información: Blog, Noticias, Publicidad.<br>Módulos de Asistencia: Chat en vivo Zopim.<br>Capacidad sin límite para Productos y Categorías.<br>Función para ofrecer Opciones de productos (tallas, colores, etc.)
                                    </li>
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Función para ofrecer otros productos relacionados con la compra.<br>Capacidad para múltiples imágenes por productos.<br>Ajuste automático del tamaño de las imágenes de los productos.
                                    </li>
                                    <li>
                                        <div class="class u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-02ab" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Todas las formas de entrega habituales disponibles: Envío gratuito, Tarifa fija, Tarifa por peso, Tarifa por artículo, Recoger en tienda.<br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <ul class="u-custom-list u-indent-6 u-spacing-17 u-text u-text-3">
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Registro de usuarios y zona para la gestión de cuentas de usuarios registrados para el control de sus compras y pedidos.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Capacidad para varios idiomas y monedas.<br>Capacidad para vender productos descargables (software, libros electrónicos, música, etc.)
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Función para crear Cupones de descuento.<br>Alerta por correo electrónico de pedidos recibidos.<br>Función para controlar el stock y limitar las ventas sin stock.<br>Función Multi-Tienda: Puedes crear varias tiendas con distintos dominios y controlarlas desde el mismo panel de administración.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div><b>Funciones SEO</b>: Metatags, Keywords, URL's de productos y categorías.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Envío de Boletines y correos a clientes suscritos o registrados.<br>RSS feeds para mantener a tus clientes informados con tus últimas noticias.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div><b>Informes de Ventas y estadísticas</b>&nbsp;de Productos más vendidos y de Productos más vistos.
                                    </li>
                                    <li>
                                        <div class="u-list-icon u-text-palette-1-base">
                                            <svg class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-49fb" style="font-size: 1.2em; margin: -1.2em;">
                                                <g>
                                                    <path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
                                                </g>
                                            </svg>
                                        </div>Función de Copia de seguridad y Restauración de datos.<br><b>Responsive:</b>&nbsp;compatible con los dispositivos móviles.<br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-dd92">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                Complementos Sugeridos<br>
            </h2>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-icon u-icon-circle u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -11 511.99993 511" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-94ed"></use></svg><svg class="u-svg-content" viewBox="0 -11 511.99993 511" id="svg-94ed"><path d="m496.640625 97.53125-231.199219-95.152344c-6.085937-2.503906-12.789062-2.503906-18.878906 0l-59.992188 24.691406c-3.828124 1.574219-5.65625 5.957032-4.082031 9.789063 1.578125 3.832031 5.960938 5.65625 9.792969 4.082031l59.992188-24.691406c2.40625-.988281 5.054687-.988281 7.457031 0l231.199219 95.152344c4.996093 2.054687 7.390624 7.796875 5.332031 12.792968-1.519531 3.691407-5.078125 6.074219-9.066407 6.074219-1.277343 0-2.527343-.25-3.726562-.742187l-224.613281-92.441406c-1.828125-.753907-3.878907-.753907-5.707031 0l-224.613282 92.441406c-4.992187 2.058594-10.726562-.3125-12.792968-5.332032-2.058594-4.996093.335937-10.738281 5.332031-12.792968l142.898437-58.8125c3.828125-1.574219 5.65625-5.957032 4.078125-9.789063-1.574219-3.828125-5.957031-5.660156-9.789062-4.082031l-142.894531 58.8125c-12.648438 5.207031-18.699219 19.726562-13.496094 32.371094 5.183594 12.597656 19.625 18.746094 32.371094 13.496094l22.378906-9.207032v136.890625c0 4.140625 3.355468 7.5 7.5 7.5 4.140625 0 7.5-3.359375 7.5-7.5v-143.066406l184.382812-75.882813 184.378906 75.882813v301.804687c0 2.699219-2.195312 4.890626-4.898437 4.890626h-60.859375v-220.960938c0-12.539062-10.203125-22.742188-22.742188-22.742188h-191.761718c-12.539063 0-22.738282 10.203126-22.738282 22.742188v80.4375h-16.410156c-.011718 0-.023437 0-.039062 0h-53.886719c-.011719 0-.023437 0-.039063 0h-50.652343c-9.019531 0-16.355469 7.335938-16.355469 16.355469v171.34375c0 4.144531 3.355469 7.5 7.5 7.5h304.0625c4.144531 0 7.5-3.355469 7.5-7.5v-32.175781h116.421875c10.972656 0 19.898437-8.921876 19.898437-19.890626v-295.628906l22.378907 9.207032c3.015625 1.242187 6.1875 1.871093 9.433593 1.871093 10.09375 0 19.097657-6.03125 22.9375-15.367187 5.207032-12.644532-.847656-27.164063-13.492187-32.371094zm-344.257813 141.09375h207.242188v20.28125h-207.242188zm7.738282-32.617188h191.761718c4.269532 0 7.742188 3.472657 7.742188 7.742188v9.875h-207.242188v-9.875c0-4.269531 3.472657-7.742188 7.738282-7.742188zm-79.597656 142.097657c-1.824219 0-3.648438.574219-5.167969 1.71875l-.808594.605469v-41.242188h38.886719v41.242188l-.796875-.601563c-3.046875-2.292969-7.300781-2.292969-10.34375 0l-8.296875 6.242187-8.300782-6.242187c-1.523437-1.148437-3.347656-1.722656-5.171874-1.722656zm-65.523438-37.5625c0-.746094.605469-1.355469 1.355469-1.355469h43.191406v54.0625c0 3.28125 1.824219 6.230469 4.761719 7.695312 2.933594 1.464844 6.386718 1.152344 9.011718-.820312l7.203126-5.417969 8.308593 6.246094c1.523438 1.144531 3.347657 1.714844 5.167969 1.714844 1.824219 0 3.648438-.570313 5.171875-1.71875l8.296875-6.242188 7.195312 5.417969c2.625 1.972656 6.074219 2.285156 9.011719.820312 2.9375-1.464843 4.761719-4.414062 4.761719-7.695312v-54.058594h16.25.195312.195313 26.554687c.746094 0 1.355469.605469 1.355469 1.351563v163.84375h-157.988281zm289.0625 163.84375h-116.078125v-121.542969h30.121094v39.148438c0 3.175781 1.769531 6.035156 4.609375 7.453124 2.839844 1.421876 6.1875 1.117188 8.734375-.792968l4.367187-3.285156 5.203125 3.914062c1.476563 1.109375 3.242188 1.664062 5.007813 1.664062 1.769531 0 3.535156-.558593 5.011718-1.667968l5.191407-3.90625 4.363281 3.28125c2.539062 1.910156 5.886719 2.214844 8.730469.796875 2.84375-1.421875 4.613281-4.277344 4.613281-7.457031v-39.148438h30.121094v121.542969zm-45.121094-121.542969v26.304688c-2.566406-.871094-5.480468-.464844-7.71875 1.21875l-5.195312 3.910156-5.203125-3.910156c-1.472657-1.109376-3.238281-1.664063-5.007813-1.664063-.914062 0-1.832031.148437-2.710937.449219v-26.308594zm45.910156-15h-38.375c-.011718 0-.023437 0-.039062 0h-40.832031c-.011719 0-.023438 0-.039063 0h-37.582031v-27.300781c0-9.019531-7.335937-16.355469-16.355469-16.355469h-19.246094v-20.28125h207.242188v160.804688h-40.5625v-82.660157c0-7.832031-6.375-14.207031-14.210938-14.207031zm0 0"></path><path d="m129 401.953125h-70.015625c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h70.015625c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0"></path><path d="m129 433.453125h-70.015625c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h70.015625c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0"></path><path d="m269.503906 418.246094h-46.960937c-4.144531 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355469 7.5 7.5 7.5h46.960937c4.140625 0 7.5-3.355469 7.5-7.5 0-4.140625-3.359375-7.5-7.5-7.5zm0 0"></path><path d="m269.503906 439.375h-46.960937c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h46.960937c4.140625 0 7.5-3.359375 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5zm0 0"></path><path d="m236.910156 161.257812c4.140625 0 7.5-3.359374 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5h-38.824218c-4.140626 0-7.5 3.355469-7.5 7.5 0 4.140626 3.359374 7.5 7.5 7.5zm0 0"></path><path d="m313.917969 161.257812c4.144531 0 7.5-3.359374 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5h-38.824219c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140626 3.359375 7.5 7.5 7.5zm0 0"></path></svg>


                            </span>
                            <h3 class="u-text u-text-2">Software de Almacén</h3>
                            <p class="u-text u-text-3">El sistema de almacenes le permitirá tener un mayor control de sus productos y poder evitar perdidas en su gestión.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-icon u-icon-circle u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 497.616 497.616" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cd55"></use></svg><svg class="u-svg-content" viewBox="0 0 497.616 497.616" x="0px" y="0px" id="svg-cd55" style="enable-background:new 0 0 497.616 497.616;">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M344.808,433.616h136v24c0,13.232-10.768,24-24,24h-416c-13.232,0-24-10.768-24-24v-24h136v-16h-152v40     c0,22.056,17.944,40,40,40h416c22.056,0,40-17.944,40-40v-40h-152V433.616z"></path>
                                                <path d="M192.808,465.616h112c13.232,0,24-10.768,24-24v-24h-160v24C168.808,454.848,179.576,465.616,192.808,465.616z      M184.808,433.616h128v8c0,4.408-3.584,8-8,8h-112c-4.416,0-8-3.592-8-8V433.616z"></path>
                                                <path d="M32.808,153.616c0-13.232,10.768-24,24-24h184v-16h-184c-22.056,0-40,17.944-40,40v248h16V153.616z"></path>
                                                <rect x="464.808" y="249.616" width="16" height="152"></rect>
                                                <path d="M240.808,145.616h-176c-8.824,0-16,7.176-16,16v240h16v-240h176V145.616z"></path>
                                                <rect x="432.808" y="273.616" width="16" height="128"></rect>
                                                <path d="M482.496,33.616c-36.16,0-71.168-10.6-101.248-30.656L376.808,0l-4.44,2.96C342.296,23.016,307.28,33.616,271.12,33.616     h-14.312v120c0,66.168,53.832,120,120,120s120-53.832,120-120v-120H482.496z M480.808,153.616c0,57.344-46.656,104-104,104     s-104-46.656-104-104V49.608c36.968-0.312,72.776-10.808,104-30.464c31.224,19.656,67.032,30.152,104,30.464V153.616z"></path>
                                                <path d="M373,39.888c-24.04,13-49.984,21.176-77.112,24.304l-7.08,0.816v88.608c0,48.52,39.48,88,88,88c48.52,0,88-39.48,88-88     V65.008l-7.088-0.824c-27.128-3.128-53.072-11.304-77.112-24.304l-3.8-2.048L373,39.888z M448.808,79.16v74.456     c0,39.696-32.296,72-72,72c-39.704,0-72-32.304-72-72V79.16c25.184-3.688,49.352-11.472,72-23.176     C399.456,67.688,423.624,75.464,448.808,79.16z"></path>
                                                <polygon points="341.608,147.216 332.008,160.016 370.624,188.976 431.36,102.2 418.256,93.032 366.992,166.256    "></polygon>
                                                <path d="M120.808,401.616h96c13.232,0,24-10.768,24-24v-80c0-10.416-6.712-19.216-16-22.528v-25.472c0-30.88-25.128-56-56-56     s-56,25.12-56,56v25.472c-9.288,3.312-16,12.112-16,22.528v80C96.808,390.848,107.576,401.616,120.808,401.616z M128.808,249.616     c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40v24h-80V249.616z M112.808,297.616c0-4.408,3.584-8,8-8h96     c4.416,0,8,3.592,8,8v80c0,4.408-3.584,8-8,8h-96c-4.416,0-8-3.592-8-8V297.616z"></path>
                                                <path d="M160.808,352.144v17.472h16v-17.472c9.288-3.312,16-12.112,16-22.528c0-13.232-10.768-24-24-24s-24,10.768-24,24     C144.808,340.032,151.52,348.832,160.808,352.144z M168.808,321.616c4.416,0,8,3.592,8,8c0,4.408-3.584,8-8,8s-8-3.592-8-8     C160.808,325.208,164.392,321.616,168.808,321.616z"></path>
                                                <rect x="64.808" y="449.616" width="16" height="16"></rect>
                                                <rect x="96.808" y="449.616" width="16" height="16"></rect>
                                                <rect x="128.808" y="449.616" width="16" height="16"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-4">Cyber Seguridad</h3>
                            <p class="u-text u-text-5">Proteja su negocio online con modernas técnicas anti hack que mitigará al mínimo el impacto de posibles intentos de hackeo por parte de la competencia o ciber delincuentes.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-icon u-icon-circle u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.079 512.079" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-6f3a"></use></svg><svg class="u-svg-content" viewBox="0 0 512.079 512.079" id="svg-6f3a">
                                    <g>
                                        <path d="m487.003 399.07c-3.423-2.336-8.089-1.454-10.423 1.968l-17.23 25.253c-5.569 8.159-8.708 17.691-9.077 27.566l-1.768 47.398c-.158 4.229 3.222 7.779 7.5 7.779 4.013 0 7.339-3.177 7.49-7.221l1.768-47.397c.263-7.047 2.502-13.849 6.477-19.671l17.231-25.253c2.334-3.421 1.452-8.087-1.968-10.422z"></path>
                                        <path d="m501.572 319.96-45.237-70.183v-130.383c0-16.73-13.61-30.341-30.34-30.341h-64.88v-71.57c0-7.961-6.478-14.438-14.439-14.438h-103.931c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h103.37v207.16h-161.615v-207.161h28.259c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-28.819c-7.962 0-14.439 6.478-14.439 14.438v71.57h-83.445c-16.729 0-30.341 13.611-30.341 30.341v57.622c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-57.622c0-8.459 6.882-15.341 15.341-15.341h83.444v16.527h-64.951c-4.82 0-8.742 3.954-8.742 8.813v196.881l-23.818 25.829c-.824-1.903-1.273-3.97-1.273-6.088v-139.011c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v42.775l-45.237 70.182c-14.31 22.2-13.937 50.641.95 72.458l28.883 42.327c3.975 5.824 6.214 12.626 6.476 19.67l1.769 47.398c.152 4.049 3.515 7.348 7.774 7.216 4.14-.155 7.37-3.636 7.216-7.774l-1.769-47.398c-.368-9.872-3.506-19.404-9.075-27.566l-28.883-42.328c-11.479-16.824-11.768-38.757-.733-55.876l32.629-50.622v68.55c0 6.367 2.013 12.513 5.647 17.611l-4.053 4.396c-2.808 3.045-2.615 7.79.43 10.598 3.044 2.808 7.789 2.617 10.598-.43l69.967-75.874c2.998-3.251 8.267-3.642 11.683-.304 2.614 2.555 3.204 6.574 1.435 9.772l-42.062 75.993c-3.098 5.598-2.473 12.406 1.593 17.344 8.178 9.937 10.623 23.656 6.38 35.805-2.09 5.985-3.223 12.231-3.369 18.562l-.809 34.757c-.098 4.19 3.267 7.675 7.501 7.675 4.062 0 7.4-3.244 7.495-7.325l.809-34.759c.11-4.763.963-9.462 2.535-13.965 5.958-17.06 2.524-36.326-8.961-50.281-.128-.156-.147-.371-.05-.548l10.343-18.687h246.4l10.343 18.687c.099.177.079.392-.05.548-11.484 13.953-14.918 33.22-8.961 50.281 1.572 4.501 2.426 9.199 2.536 13.967l.809 34.757c.094 4.044 3.404 7.393 7.673 7.323 4.141-.097 7.42-3.531 7.323-7.673l-.809-34.757c-.147-6.335-1.281-12.581-3.37-18.562-4.242-12.148-1.798-25.867 6.38-35.803 4.066-4.938 4.691-11.747 1.593-17.345l-42.062-75.993c-1.77-3.198-1.18-7.217 1.435-9.772 3.256-3.184 8.542-3.102 11.683.304l69.967 75.874c2.808 3.045 7.554 3.237 10.598.43 3.045-2.808 3.237-7.553.43-10.598l-4.047-4.388c3.659-5.105 5.639-11.2 5.639-17.618v-68.551l32.63 50.624c9.49 14.724 10.72 32.978 3.289 48.829-1.758 3.751-.143 8.217 3.607 9.975 3.735 1.75 8.209.16 9.975-3.607 9.633-20.562 8.04-44.234-4.267-63.327zm-360.444 41.395 9.147-16.526h211.501l9.147 16.526zm210.455-70.071c-7.43 7.26-9.105 18.677-4.075 27.765l5.967 10.78h-194.898l5.967-10.781c5.028-9.088 3.353-20.505-4.076-27.764-9.446-9.229-24.436-8.632-33.192.864l-16.47 17.86v-174.428h58.694v89.624h-8.536c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h16.036 176.615 16.036c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-8.536v-89.624h48.694v183.715l-25.034-27.148c-8.697-9.428-23.685-10.155-33.192-.863zm73.226 44.278v-206.168c0-4.859-3.922-8.813-8.743-8.813h-54.951v-16.527h64.88c8.458 0 15.34 6.882 15.34 15.341v226.621c0 2.136-.439 4.2-1.262 6.099z"></path>
                                        <path d="m90.957 238.121v-10.832c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v10.832c0 4.143 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5z"></path>
                                        <path d="m252.963 94.781c-3.467-2.267-8.115-1.297-10.383 2.17s-1.296 8.115 2.17 10.383c4.818 3.152 8.46 4.57 12.673 5.164v1.765c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-2.557c9.241-2.973 15.151-11.145 16.507-19.212 1.849-11.001-4.112-20.938-14.833-24.728-.553-.196-1.113-.396-1.674-.599v-14.007c1.58.647 2.583 1.299 2.673 1.359 3.367 2.36 8.012 1.572 10.407-1.78 2.409-3.37 1.629-8.055-1.74-10.463-.297-.212-4.739-3.319-11.34-4.74v-1.423c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v2.041c-7.14 2.286-12.455 8.423-13.904 16.112-1.36 7.221 1.022 14.238 6.221 18.316 2.21 1.733 4.844 3.245 7.684 4.616v19.941c-1.346-.462-2.681-1.193-4.461-2.358zm21.173-4.774c-.232 1.383-.81 2.805-1.714 4.056v-10.15c1.967 1.982 1.983 4.497 1.714 6.094z"></path>
                                        <path d="m227.752 146.143h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path>
                                        <path d="m302.863 158.669h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path>
                                        <path d="m302.863 186.197h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-6">Facturas / Boletas Electrónicas</h3>
                            <p class="u-text u-text-7">Con este módulo el cliente podrá solicitar y generar sus boletas / facturas electrónicas integrado con la sunat con un par de clicks.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-icon u-icon-circle u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 -11 511.99993 511" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3f93"></use></svg><svg class="u-svg-content" viewBox="0 -11 511.99993 511" id="svg-3f93"><path d="m496.640625 97.53125-231.199219-95.152344c-6.085937-2.503906-12.789062-2.503906-18.878906 0l-59.992188 24.691406c-3.828124 1.574219-5.65625 5.957032-4.082031 9.789063 1.578125 3.832031 5.960938 5.65625 9.792969 4.082031l59.992188-24.691406c2.40625-.988281 5.054687-.988281 7.457031 0l231.199219 95.152344c4.996093 2.054687 7.390624 7.796875 5.332031 12.792968-1.519531 3.691407-5.078125 6.074219-9.066407 6.074219-1.277343 0-2.527343-.25-3.726562-.742187l-224.613281-92.441406c-1.828125-.753907-3.878907-.753907-5.707031 0l-224.613282 92.441406c-4.992187 2.058594-10.726562-.3125-12.792968-5.332032-2.058594-4.996093.335937-10.738281 5.332031-12.792968l142.898437-58.8125c3.828125-1.574219 5.65625-5.957032 4.078125-9.789063-1.574219-3.828125-5.957031-5.660156-9.789062-4.082031l-142.894531 58.8125c-12.648438 5.207031-18.699219 19.726562-13.496094 32.371094 5.183594 12.597656 19.625 18.746094 32.371094 13.496094l22.378906-9.207032v136.890625c0 4.140625 3.355468 7.5 7.5 7.5 4.140625 0 7.5-3.359375 7.5-7.5v-143.066406l184.382812-75.882813 184.378906 75.882813v301.804687c0 2.699219-2.195312 4.890626-4.898437 4.890626h-60.859375v-220.960938c0-12.539062-10.203125-22.742188-22.742188-22.742188h-191.761718c-12.539063 0-22.738282 10.203126-22.738282 22.742188v80.4375h-16.410156c-.011718 0-.023437 0-.039062 0h-53.886719c-.011719 0-.023437 0-.039063 0h-50.652343c-9.019531 0-16.355469 7.335938-16.355469 16.355469v171.34375c0 4.144531 3.355469 7.5 7.5 7.5h304.0625c4.144531 0 7.5-3.355469 7.5-7.5v-32.175781h116.421875c10.972656 0 19.898437-8.921876 19.898437-19.890626v-295.628906l22.378907 9.207032c3.015625 1.242187 6.1875 1.871093 9.433593 1.871093 10.09375 0 19.097657-6.03125 22.9375-15.367187 5.207032-12.644532-.847656-27.164063-13.492187-32.371094zm-344.257813 141.09375h207.242188v20.28125h-207.242188zm7.738282-32.617188h191.761718c4.269532 0 7.742188 3.472657 7.742188 7.742188v9.875h-207.242188v-9.875c0-4.269531 3.472657-7.742188 7.738282-7.742188zm-79.597656 142.097657c-1.824219 0-3.648438.574219-5.167969 1.71875l-.808594.605469v-41.242188h38.886719v41.242188l-.796875-.601563c-3.046875-2.292969-7.300781-2.292969-10.34375 0l-8.296875 6.242187-8.300782-6.242187c-1.523437-1.148437-3.347656-1.722656-5.171874-1.722656zm-65.523438-37.5625c0-.746094.605469-1.355469 1.355469-1.355469h43.191406v54.0625c0 3.28125 1.824219 6.230469 4.761719 7.695312 2.933594 1.464844 6.386718 1.152344 9.011718-.820312l7.203126-5.417969 8.308593 6.246094c1.523438 1.144531 3.347657 1.714844 5.167969 1.714844 1.824219 0 3.648438-.570313 5.171875-1.71875l8.296875-6.242188 7.195312 5.417969c2.625 1.972656 6.074219 2.285156 9.011719.820312 2.9375-1.464843 4.761719-4.414062 4.761719-7.695312v-54.058594h16.25.195312.195313 26.554687c.746094 0 1.355469.605469 1.355469 1.351563v163.84375h-157.988281zm289.0625 163.84375h-116.078125v-121.542969h30.121094v39.148438c0 3.175781 1.769531 6.035156 4.609375 7.453124 2.839844 1.421876 6.1875 1.117188 8.734375-.792968l4.367187-3.285156 5.203125 3.914062c1.476563 1.109375 3.242188 1.664062 5.007813 1.664062 1.769531 0 3.535156-.558593 5.011718-1.667968l5.191407-3.90625 4.363281 3.28125c2.539062 1.910156 5.886719 2.214844 8.730469.796875 2.84375-1.421875 4.613281-4.277344 4.613281-7.457031v-39.148438h30.121094v121.542969zm-45.121094-121.542969v26.304688c-2.566406-.871094-5.480468-.464844-7.71875 1.21875l-5.195312 3.910156-5.203125-3.910156c-1.472657-1.109376-3.238281-1.664063-5.007813-1.664063-.914062 0-1.832031.148437-2.710937.449219v-26.308594zm45.910156-15h-38.375c-.011718 0-.023437 0-.039062 0h-40.832031c-.011719 0-.023438 0-.039063 0h-37.582031v-27.300781c0-9.019531-7.335937-16.355469-16.355469-16.355469h-19.246094v-20.28125h207.242188v160.804688h-40.5625v-82.660157c0-7.832031-6.375-14.207031-14.210938-14.207031zm0 0"></path><path d="m129 401.953125h-70.015625c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h70.015625c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0"></path><path d="m129 433.453125h-70.015625c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h70.015625c4.144531 0 7.5-3.359375 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5zm0 0"></path><path d="m269.503906 418.246094h-46.960937c-4.144531 0-7.5 3.359375-7.5 7.5 0 4.144531 3.355469 7.5 7.5 7.5h46.960937c4.140625 0 7.5-3.355469 7.5-7.5 0-4.140625-3.359375-7.5-7.5-7.5zm0 0"></path><path d="m269.503906 439.375h-46.960937c-4.144531 0-7.5 3.355469-7.5 7.5 0 4.140625 3.355469 7.5 7.5 7.5h46.960937c4.140625 0 7.5-3.359375 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5zm0 0"></path><path d="m236.910156 161.257812c4.140625 0 7.5-3.359374 7.5-7.5 0-4.144531-3.359375-7.5-7.5-7.5h-38.824218c-4.140626 0-7.5 3.355469-7.5 7.5 0 4.140626 3.359374 7.5 7.5 7.5zm0 0"></path><path d="m313.917969 161.257812c4.144531 0 7.5-3.359374 7.5-7.5 0-4.144531-3.355469-7.5-7.5-7.5h-38.824219c-4.140625 0-7.5 3.355469-7.5 7.5 0 4.140626 3.359375 7.5 7.5 7.5zm0 0"></path></svg>


                            </span>
                            <h3 class="u-text u-text-8">Messenger Bot</h3>
                            <p class="u-text u-text-9">Activamos un robot con inteligencia artificial que atenderá a todos sus clientes de facebook de forma automatica mientras usted no esta, el robot aprende cada vez a tratar mejor a sus clientes y se perfecciona constantemente.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <span class="u-icon u-icon-circle u-icon-5">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 497.616 497.616" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5825"></use></svg><svg class="u-svg-content" viewBox="0 0 497.616 497.616" x="0px" y="0px" id="svg-5825" style="enable-background:new 0 0 497.616 497.616;">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M344.808,433.616h136v24c0,13.232-10.768,24-24,24h-416c-13.232,0-24-10.768-24-24v-24h136v-16h-152v40     c0,22.056,17.944,40,40,40h416c22.056,0,40-17.944,40-40v-40h-152V433.616z"></path>
                                                <path d="M192.808,465.616h112c13.232,0,24-10.768,24-24v-24h-160v24C168.808,454.848,179.576,465.616,192.808,465.616z      M184.808,433.616h128v8c0,4.408-3.584,8-8,8h-112c-4.416,0-8-3.592-8-8V433.616z"></path>
                                                <path d="M32.808,153.616c0-13.232,10.768-24,24-24h184v-16h-184c-22.056,0-40,17.944-40,40v248h16V153.616z"></path>
                                                <rect x="464.808" y="249.616" width="16" height="152"></rect>
                                                <path d="M240.808,145.616h-176c-8.824,0-16,7.176-16,16v240h16v-240h176V145.616z"></path>
                                                <rect x="432.808" y="273.616" width="16" height="128"></rect>
                                                <path d="M482.496,33.616c-36.16,0-71.168-10.6-101.248-30.656L376.808,0l-4.44,2.96C342.296,23.016,307.28,33.616,271.12,33.616     h-14.312v120c0,66.168,53.832,120,120,120s120-53.832,120-120v-120H482.496z M480.808,153.616c0,57.344-46.656,104-104,104     s-104-46.656-104-104V49.608c36.968-0.312,72.776-10.808,104-30.464c31.224,19.656,67.032,30.152,104,30.464V153.616z"></path>
                                                <path d="M373,39.888c-24.04,13-49.984,21.176-77.112,24.304l-7.08,0.816v88.608c0,48.52,39.48,88,88,88c48.52,0,88-39.48,88-88     V65.008l-7.088-0.824c-27.128-3.128-53.072-11.304-77.112-24.304l-3.8-2.048L373,39.888z M448.808,79.16v74.456     c0,39.696-32.296,72-72,72c-39.704,0-72-32.304-72-72V79.16c25.184-3.688,49.352-11.472,72-23.176     C399.456,67.688,423.624,75.464,448.808,79.16z"></path>
                                                <polygon points="341.608,147.216 332.008,160.016 370.624,188.976 431.36,102.2 418.256,93.032 366.992,166.256    "></polygon>
                                                <path d="M120.808,401.616h96c13.232,0,24-10.768,24-24v-80c0-10.416-6.712-19.216-16-22.528v-25.472c0-30.88-25.128-56-56-56     s-56,25.12-56,56v25.472c-9.288,3.312-16,12.112-16,22.528v80C96.808,390.848,107.576,401.616,120.808,401.616z M128.808,249.616     c0-22.056,17.944-40,40-40c22.056,0,40,17.944,40,40v24h-80V249.616z M112.808,297.616c0-4.408,3.584-8,8-8h96     c4.416,0,8,3.592,8,8v80c0,4.408-3.584,8-8,8h-96c-4.416,0-8-3.592-8-8V297.616z"></path>
                                                <path d="M160.808,352.144v17.472h16v-17.472c9.288-3.312,16-12.112,16-22.528c0-13.232-10.768-24-24-24s-24,10.768-24,24     C144.808,340.032,151.52,348.832,160.808,352.144z M168.808,321.616c4.416,0,8,3.592,8,8c0,4.408-3.584,8-8,8s-8-3.592-8-8     C160.808,325.208,164.392,321.616,168.808,321.616z"></path>
                                                <rect x="64.808" y="449.616" width="16" height="16"></rect>
                                                <rect x="96.808" y="449.616" width="16" height="16"></rect>
                                                <rect x="128.808" y="449.616" width="16" height="16"></rect>
                                            </g>
                                        </g>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-10">Tienda en Facebook</h3>
                            <p class="u-text u-text-11">Aplicación en Facebook que le permitirá contar con su tienda en facebook sincronizada con su tienda principal en tiempo real.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-6">
                            <span class="u-icon u-icon-circle u-icon-6">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512.079 512.079" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9dbe"></use></svg><svg class="u-svg-content" viewBox="0 0 512.079 512.079" id="svg-9dbe">
                                    <g>
                                        <path d="m487.003 399.07c-3.423-2.336-8.089-1.454-10.423 1.968l-17.23 25.253c-5.569 8.159-8.708 17.691-9.077 27.566l-1.768 47.398c-.158 4.229 3.222 7.779 7.5 7.779 4.013 0 7.339-3.177 7.49-7.221l1.768-47.397c.263-7.047 2.502-13.849 6.477-19.671l17.231-25.253c2.334-3.421 1.452-8.087-1.968-10.422z"></path>
                                        <path d="m501.572 319.96-45.237-70.183v-130.383c0-16.73-13.61-30.341-30.34-30.341h-64.88v-71.57c0-7.961-6.478-14.438-14.439-14.438h-103.931c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h103.37v207.16h-161.615v-207.161h28.259c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-28.819c-7.962 0-14.439 6.478-14.439 14.438v71.57h-83.445c-16.729 0-30.341 13.611-30.341 30.341v57.622c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-57.622c0-8.459 6.882-15.341 15.341-15.341h83.444v16.527h-64.951c-4.82 0-8.742 3.954-8.742 8.813v196.881l-23.818 25.829c-.824-1.903-1.273-3.97-1.273-6.088v-139.011c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v42.775l-45.237 70.182c-14.31 22.2-13.937 50.641.95 72.458l28.883 42.327c3.975 5.824 6.214 12.626 6.476 19.67l1.769 47.398c.152 4.049 3.515 7.348 7.774 7.216 4.14-.155 7.37-3.636 7.216-7.774l-1.769-47.398c-.368-9.872-3.506-19.404-9.075-27.566l-28.883-42.328c-11.479-16.824-11.768-38.757-.733-55.876l32.629-50.622v68.55c0 6.367 2.013 12.513 5.647 17.611l-4.053 4.396c-2.808 3.045-2.615 7.79.43 10.598 3.044 2.808 7.789 2.617 10.598-.43l69.967-75.874c2.998-3.251 8.267-3.642 11.683-.304 2.614 2.555 3.204 6.574 1.435 9.772l-42.062 75.993c-3.098 5.598-2.473 12.406 1.593 17.344 8.178 9.937 10.623 23.656 6.38 35.805-2.09 5.985-3.223 12.231-3.369 18.562l-.809 34.757c-.098 4.19 3.267 7.675 7.501 7.675 4.062 0 7.4-3.244 7.495-7.325l.809-34.759c.11-4.763.963-9.462 2.535-13.965 5.958-17.06 2.524-36.326-8.961-50.281-.128-.156-.147-.371-.05-.548l10.343-18.687h246.4l10.343 18.687c.099.177.079.392-.05.548-11.484 13.953-14.918 33.22-8.961 50.281 1.572 4.501 2.426 9.199 2.536 13.967l.809 34.757c.094 4.044 3.404 7.393 7.673 7.323 4.141-.097 7.42-3.531 7.323-7.673l-.809-34.757c-.147-6.335-1.281-12.581-3.37-18.562-4.242-12.148-1.798-25.867 6.38-35.803 4.066-4.938 4.691-11.747 1.593-17.345l-42.062-75.993c-1.77-3.198-1.18-7.217 1.435-9.772 3.256-3.184 8.542-3.102 11.683.304l69.967 75.874c2.808 3.045 7.554 3.237 10.598.43 3.045-2.808 3.237-7.553.43-10.598l-4.047-4.388c3.659-5.105 5.639-11.2 5.639-17.618v-68.551l32.63 50.624c9.49 14.724 10.72 32.978 3.289 48.829-1.758 3.751-.143 8.217 3.607 9.975 3.735 1.75 8.209.16 9.975-3.607 9.633-20.562 8.04-44.234-4.267-63.327zm-360.444 41.395 9.147-16.526h211.501l9.147 16.526zm210.455-70.071c-7.43 7.26-9.105 18.677-4.075 27.765l5.967 10.78h-194.898l5.967-10.781c5.028-9.088 3.353-20.505-4.076-27.764-9.446-9.229-24.436-8.632-33.192.864l-16.47 17.86v-174.428h58.694v89.624h-8.536c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h16.036 176.615 16.036c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-8.536v-89.624h48.694v183.715l-25.034-27.148c-8.697-9.428-23.685-10.155-33.192-.863zm73.226 44.278v-206.168c0-4.859-3.922-8.813-8.743-8.813h-54.951v-16.527h64.88c8.458 0 15.34 6.882 15.34 15.341v226.621c0 2.136-.439 4.2-1.262 6.099z"></path>
                                        <path d="m90.957 238.121v-10.832c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v10.832c0 4.143 3.357 7.5 7.5 7.5s7.5-3.358 7.5-7.5z"></path>
                                        <path d="m252.963 94.781c-3.467-2.267-8.115-1.297-10.383 2.17s-1.296 8.115 2.17 10.383c4.818 3.152 8.46 4.57 12.673 5.164v1.765c0 4.143 3.357 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-2.557c9.241-2.973 15.151-11.145 16.507-19.212 1.849-11.001-4.112-20.938-14.833-24.728-.553-.196-1.113-.396-1.674-.599v-14.007c1.58.647 2.583 1.299 2.673 1.359 3.367 2.36 8.012 1.572 10.407-1.78 2.409-3.37 1.629-8.055-1.74-10.463-.297-.212-4.739-3.319-11.34-4.74v-1.423c0-4.143-3.357-7.5-7.5-7.5s-7.5 3.357-7.5 7.5v2.041c-7.14 2.286-12.455 8.423-13.904 16.112-1.36 7.221 1.022 14.238 6.221 18.316 2.21 1.733 4.844 3.245 7.684 4.616v19.941c-1.346-.462-2.681-1.193-4.461-2.358zm21.173-4.774c-.232 1.383-.81 2.805-1.714 4.056v-10.15c1.967 1.982 1.983 4.497 1.714 6.094z"></path>
                                        <path d="m227.752 146.143h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.357-7.5-7.5-7.5h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5z"></path>
                                        <path d="m302.863 158.669h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path>
                                        <path d="m302.863 186.197h-75.111c-4.143 0-7.5 3.357-7.5 7.5s3.357 7.5 7.5 7.5h75.111c4.143 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-12">Marketing Digital</h3>
                            <p class="u-text u-text-13">Aplicación en Facebook que le permitirá contar con su tienda en facebook sincronizada con su tienda principal en tiempo real.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-7" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-7">
                            <span class="u-icon u-icon-circle u-icon-7">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 62 62" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7ad6"></use></svg><svg class="u-svg-content" viewBox="0 0 62 62" id="svg-7ad6">
                                    <g>
                                        <path d="m10 19h2c.551 0 1 .449 1 1h2c0-1.654-1.346-3-3-3v-2h-2v2c-1.654 0-3 1.346-3 3s1.346 3 3 3h2c.551 0 1 .449 1 1s-.449 1-1 1h-2c-.551 0-1-.449-1-1h-2c0 1.654 1.346 3 3 3v2h2v-2c1.654 0 3-1.346 3-3s-1.346-3-3-3h-2c-.551 0-1-.449-1-1s.449-1 1-1z"></path>
                                        <path d="m35 52h-8c-1.103 0-2 .897-2 2v2c0 1.103.897 2 2 2h8c1.103 0 2-.897 2-2v-2c0-1.103-.897-2-2-2zm-8 4v-2h8l.001 2z"></path>
                                        <circle cx="31" cy="5" r="1"></circle>
                                        <path d="m61.974 41.718-1.686-14.332c-.227-1.93-1.865-3.386-3.808-3.386h-7.48v-19c0-2.757-2.243-5-5-5h-26c-2.757 0-5 2.243-5 5v6.191c-.65-.12-1.316-.191-2-.191-6.065 0-11 4.935-11 11s4.935 11 11 11c.684 0 1.35-.071 2-.191v24.191c0 2.757 2.243 5 5 5h26c2.757 0 5-2.243 5-5v-11h9.166c2.114 0 3.834-1.72 3.834-3.834 0-.15-.009-.301-.026-.448zm-13.974-15.718h6v3c0 1.654-1.346 3-3 3s-3-1.346-3-3zm-1-21v3h-12.026c.635-.838 1.026-1.87 1.026-3v-3h8c1.654 0 3 1.346 3 3zm-19 0v-3h6v3c0 1.654-1.346 3-3 3s-3-1.346-3-3zm-10-3h8v3c0 1.13.391 2.162 1.026 3h-12.026v-3c0-1.654 1.346-3 3-3zm-3 8h32v14h-1.48c-.177 0-.349.025-.52.048v-10.048h-26.474c-1.015-.955-2.208-1.719-3.526-2.236zm25.027 31.716c-.012.094-.013.189-.017.284h-13.01v-8h-8v-4.474c1.854-1.97 3-4.614 3-7.526 0-2.214-.663-4.273-1.792-6h14.792v8h8v.949c-.695.607-1.173 1.46-1.288 2.437zm-21.027-5.716h6v6h-6zm24-14h-6v-6h6zm-41 0c0-4.962 4.038-9 9-9s9 4.038 9 9-4.038 9-9 9-9-4.038-9-9zm42 38h-26c-1.654 0-3-1.346-3-3v-7h32v7c0 1.654-1.346 3-3 3zm3-12h-32v-15.764c.705-.276 1.375-.62 2-1.028v12.792h23.488c.653 1.186 1.899 2 3.346 2h3.166zm11.166-4h-14.332c-1.011 0-1.834-.823-1.834-1.834 0-.071.004-.142.013-.214l1.686-14.332c.109-.924.891-1.62 1.821-1.62h.48v3c0 2.757 2.243 5 5 5s5-2.243 5-5v-3h.48c.93 0 1.712.696 1.821 1.62l1.687 14.334c.008.07.012.141.012.212 0 1.011-.823 1.834-1.834 1.834z"></path>
                                        <path d="m39 18h2v2h-2z"></path>
                                        <path d="m21 38h2v2h-2z"></path>
                                        <path d="m25 24h4v-2h-2v-4h-4v2h2z"></path>
                                        <path d="m35 26h-2v-8h-2v10h4z"></path>
                                        <path d="m37 30h-4v2h6v-6h-2z"></path>
                                        <path d="m29 26h-6v4h-2v2h4v-4h4z"></path>
                                        <path d="m29 36h2v-6h-4v2h2z"></path>
                                        <path d="m35 34h-2v4h-4v2h6v-2h4v-2h-4z"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-14">WeB Mobile</h3>
                            <p class="u-text u-text-15">Mejore la experiencia móvil de su tienda agregando una version web mobile, para ver un ejemplo de esta tecnología ente al sitio https://www.zara.com y compruebe que la página es distinta a la versión web</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-8" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-8">
                            <span class="u-icon u-icon-circle u-icon-8">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="-93 0 937 937.5" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7c3d"></use></svg><svg class="u-svg-content" viewBox="-93 0 937 937.5" id="svg-7c3d">
                                    <g id="surface1">
                                        <path d="M 608.820312 363.484375 L 587.75 386.515625 L 683.574219 474.359375 C 706.132812 495.113281 718.992188 524.355469 719 555 L 719 937.5 L 750.25 937.5 L 750.25 555 C 750.210938 515.585938 733.679688 478 704.65625 451.324219 Z M 608.820312 363.484375 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 484.625 0 L 78.375 0 C 35.25 0.0546875 0.304688 35 0.25 78.125 L 0.25 859.375 C 0.304688 902.5 35.25 937.445312 78.375 937.5 L 469 937.5 L 469 909.546875 C 468.925781 839.160156 489.761719 770.320312 528.875 711.796875 C 533.015625 705.59375 532.183594 697.339844 526.921875 692.078125 L 417.546875 582.703125 C 407.4375 572.582031 402.078125 558.664062 402.785156 544.378906 C 403.496094 530.085938 410.210938 516.773438 421.265625 507.703125 C 442.558594 491.425781 472.671875 493.75 491.21875 513.089844 L 645.453125 667.328125 L 667.546875 645.234375 L 562.75 540.40625 L 562.75 78.125 C 562.695312 35 527.75 0.0546875 484.625 0 Z M 531.5 509.15625 L 513.3125 490.96875 C 483.335938 460.34375 435.125 457.152344 401.375 483.570312 C 383.523438 498.242188 372.691406 519.78125 371.5625 542.871094 C 370.4375 565.957031 379.109375 588.445312 395.453125 604.796875 L 495.921875 705.269531 C 458.453125 765.648438 438.359375 835.195312 437.859375 906.25 L 78.375 906.25 C 52.492188 906.25 31.5 885.257812 31.5 859.375 L 31.5 812.5 L 422.125 812.5 L 422.125 781.25 L 31.5 781.25 L 31.5 125 L 531.5 125 Z M 531.5 93.75 L 31.5 93.75 L 31.5 78.125 C 31.5 52.242188 52.492188 31.25 78.375 31.25 L 484.625 31.25 C 510.507812 31.25 531.5 52.242188 531.5 78.125 Z M 531.5 93.75 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 94 281.25 L 156.5 281.25 C 173.761719 281.25 187.75 267.261719 187.75 250 L 187.75 187.5 C 187.75 170.238281 173.761719 156.25 156.5 156.25 L 94 156.25 C 76.738281 156.25 62.75 170.238281 62.75 187.5 L 62.75 250 C 62.75 267.261719 76.738281 281.25 94 281.25 Z M 94 187.5 L 156.5 187.5 L 156.5 250 L 94 250 Z M 94 187.5 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 250.25 281.25 L 312.75 281.25 C 330.011719 281.25 344 267.261719 344 250 L 344 187.5 C 344 170.238281 330.011719 156.25 312.75 156.25 L 250.25 156.25 C 232.988281 156.25 219 170.238281 219 187.5 L 219 250 C 219 267.261719 232.988281 281.25 250.25 281.25 Z M 250.25 187.5 L 312.75 187.5 L 312.75 250 L 250.25 250 Z M 250.25 187.5 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 406.5 281.25 L 469 281.25 C 486.261719 281.25 500.25 267.261719 500.25 250 L 500.25 187.5 C 500.25 170.238281 486.261719 156.25 469 156.25 L 406.5 156.25 C 389.238281 156.25 375.25 170.238281 375.25 187.5 L 375.25 250 C 375.25 267.261719 389.238281 281.25 406.5 281.25 Z M 406.5 187.5 L 469 187.5 L 469 250 L 406.5 250 Z M 406.5 187.5 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 94 437.5 L 156.5 437.5 C 173.761719 437.5 187.75 423.511719 187.75 406.25 L 187.75 343.75 C 187.75 326.488281 173.761719 312.5 156.5 312.5 L 94 312.5 C 76.738281 312.5 62.75 326.488281 62.75 343.75 L 62.75 406.25 C 62.75 423.511719 76.738281 437.5 94 437.5 Z M 94 343.75 L 156.5 343.75 L 156.5 406.25 L 94 406.25 Z M 94 343.75 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 94 593.75 L 156.5 593.75 C 173.761719 593.75 187.75 579.761719 187.75 562.5 L 187.75 500 C 187.75 482.738281 173.761719 468.75 156.5 468.75 L 94 468.75 C 76.738281 468.75 62.75 482.738281 62.75 500 L 62.75 562.5 C 62.75 579.761719 76.738281 593.75 94 593.75 Z M 94 500 L 156.5 500 L 156.5 562.5 L 94 562.5 Z M 94 500 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 250.25 437.5 L 312.75 437.5 C 330.011719 437.5 344 423.511719 344 406.25 L 344 343.75 C 344 326.488281 330.011719 312.5 312.75 312.5 L 250.25 312.5 C 232.988281 312.5 219 326.488281 219 343.75 L 219 406.25 C 219 423.511719 232.988281 437.5 250.25 437.5 Z M 250.25 343.75 L 312.75 343.75 L 312.75 406.25 L 250.25 406.25 Z M 250.25 343.75 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 406.5 437.5 L 469 437.5 C 486.261719 437.5 500.25 423.511719 500.25 406.25 L 500.25 343.75 C 500.25 326.488281 486.261719 312.5 469 312.5 L 406.5 312.5 C 389.238281 312.5 375.25 326.488281 375.25 343.75 L 375.25 406.25 C 375.25 423.511719 389.238281 437.5 406.5 437.5 Z M 406.5 343.75 L 469 343.75 L 469 406.25 L 406.5 406.25 Z M 406.5 343.75 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 250.25 593.75 L 312.75 593.75 C 330.011719 593.75 344 579.761719 344 562.5 L 344 500 C 344 482.738281 330.011719 468.75 312.75 468.75 L 250.25 468.75 C 232.988281 468.75 219 482.738281 219 500 L 219 562.5 C 219 579.761719 232.988281 593.75 250.25 593.75 Z M 250.25 500 L 312.75 500 L 312.75 562.5 L 250.25 562.5 Z M 250.25 500 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 94 750 L 156.5 750 C 173.761719 750 187.75 736.011719 187.75 718.75 L 187.75 656.25 C 187.75 638.988281 173.761719 625 156.5 625 L 94 625 C 76.738281 625 62.75 638.988281 62.75 656.25 L 62.75 718.75 C 62.75 736.011719 76.738281 750 94 750 Z M 94 656.25 L 156.5 656.25 L 156.5 718.75 L 94 718.75 Z M 94 656.25 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 250.25 750 L 312.75 750 C 330.011719 750 344 736.011719 344 718.75 L 344 656.25 C 344 638.988281 330.011719 625 312.75 625 L 250.25 625 C 232.988281 625 219 638.988281 219 656.25 L 219 718.75 C 219 736.011719 232.988281 750 250.25 750 Z M 250.25 656.25 L 312.75 656.25 L 312.75 718.75 L 250.25 718.75 Z M 250.25 656.25 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                        <path d="M 265.875 843.75 L 297.125 843.75 L 297.125 875 L 265.875 875 Z M 265.875 843.75 " style=" stroke:none;fill-rule:nonzero;fill:rgb(0%,0%,0%);fill-opacity:1;"></path>
                                    </g>
                                </svg>


                            </span>
                            <h3 class="u-text u-text-16">Apps Móviles</h3>
                            <p class="u-text u-text-17">Las aplicaciones nativas en Android e iOS le ofrecen un nivel superior de interacción y llega a su público, ya que teniendo su app instaladas su tienda sera visible al lado de iconos de apps como: facebook, instargam, etc.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-grey-5 u-list-item u-repeater-item u-list-item-9" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                        <div class="u-container-layout u-similar-container u-container-layout-9">
                            <span class="u-icon u-icon-circle u-icon-9">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 64 64" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fc23"></use></svg><svg class="u-svg-content" viewBox="0 0 64 64" id="svg-fc23"><path d="M24,18H12a1,1,0,0,0-1,1v7.723L5.855,35.3A6,6,0,0,0,5,38.385V45.1a32.65,32.65,0,0,0,.975,7.917L6,62H8V53a.984.984,0,0,0-.03-.242l-.055-.221A30.688,30.688,0,0,1,7,45.1V38.385a4,4,0,0,1,.57-2.058L11,30.61V39a1,1,0,0,0,1.707.707l5.5-5.5a1.1,1.1,0,0,1,.593-.288l.009,0a1.108,1.108,0,0,1,.984,1.876l-4.5,4.5a1,1,0,0,0,.26,1.6A6.2,6.2,0,0,1,19,47.472a5.5,5.5,0,0,1-.578,2.447l-1.317,2.634A1,1,0,0,0,17,53v9h2V53.236l1.211-2.423A7.508,7.508,0,0,0,21,47.472,8.188,8.188,0,0,0,18.918,42H24a1,1,0,0,0,1-1V19A1,1,0,0,0,24,18Zm-1,2.722A2.015,2.015,0,0,1,22.278,20H23ZM13.722,20a2.015,2.015,0,0,1-.722.722V20ZM18.5,31.928c-.072.011-.142.026-.213.043a2,2,0,1,1,.213-.043Zm2.7,5.279a3.119,3.119,0,0,0,0-4.414c-.065-.065-.141-.113-.21-.172a4,4,0,1,0-4.905.873L13,36.586V22.858A4,4,0,0,0,15.858,20h4.284A4,4,0,0,0,23,22.858V37.142A4,4,0,0,0,20.142,40H18.414ZM22.278,40A2.015,2.015,0,0,1,23,39.278V40Z"></path><path d="M59.17,12.934l-.033-8.98h-2v8.968a.931.931,0,0,0,.03.241l.062.252a30.888,30.888,0,0,1,.908,7.434v6.685a4.042,4.042,0,0,1-.568,2.064l-3.432,5.766V26.985a1,1,0,0,0-1.71-.7L46.9,31.85a1.08,1.08,0,0,1-1.58-.049,1.117,1.117,0,0,1,0-1.568l4.524-4.56a1,1,0,0,0-.26-1.6,6.274,6.274,0,0,1-3.45-5.656,5.493,5.493,0,0,1,.569-2.43l1.327-2.674a1,1,0,0,0,.1-.444V3.954h-2v8.684L45.461,14H29a1,1,0,0,0-1,1V40c0,.017.009.031.01.047a.946.946,0,0,0,.053.264c.01.031.013.064.026.094a1,1,0,0,0,.2.3c.017.018.041.027.059.044a1.019,1.019,0,0,0,.205.15l.658.329a1.426,1.426,0,0,1,0,2.552l-.658.329A1,1,0,0,0,29,46H50.5A3.5,3.5,0,0,0,54,42.5V39.505l5.288-8.884a6.043,6.043,0,0,0,.849-3.087V20.849A32.893,32.893,0,0,0,59.17,12.934ZM48,33.52V35H34V29h9.761A3.117,3.117,0,0,0,48,33.52ZM30,16H44.547a7.546,7.546,0,0,0-.385,2H33v2H44.3a8.313,8.313,0,0,0,.641,2H33v2H46.262a8.24,8.24,0,0,0,1.275,1.161L45.713,27H33a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1H49a1,1,0,0,0,1-1V31.567l2-2.016v9.787c-.021-.01-.046-.014-.067-.024a3.526,3.526,0,0,0-.454-.157c-.079-.024-.154-.056-.235-.073A3.441,3.441,0,0,0,50.5,39H30ZM50.5,44H31.658a3.46,3.46,0,0,0,0-3H50.5a1.5,1.5,0,0,1,0,3Z"></path></svg>


                            </span>
                            <h3 class="u-text u-text-18">Puntos de Venta</h3>
                            <p class="u-text u-text-19">El punto de venta sincronizado con la web le permitirá tener el stock al día y solo vender lo que tiene disponible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-f3a2">
        <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
            <h2 class="u-text u-text-1">
                Plataformas E-commerce<br>
            </h2>
            <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-on-hover u-gallery-1">
                <div class="u-gallery-inner u-gallery-inner-1"></div>
            </div>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item u-list-item-1" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-1">
                            <span class="u-file-icon u-icon u-icon-circle u-icon-1"><img src="../images/woocommerce.jpg" alt=""></span>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-2" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                            <span class="u-file-icon u-icon u-icon-circle u-icon-2"><img src="../images/prestashop.jpg" alt=""></span>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-3" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                            <span class="u-file-icon u-icon u-icon-circle u-icon-3"><img src="../images/shopify.jpg" alt=""></span>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-4" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                            <span class="u-file-icon u-icon u-icon-circle u-icon-4"><img src="../images/opencart.jpg" alt=""></span>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item u-list-item-5" data-animation-name="rotateIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <span class="u-file-icon u-icon u-icon-circle u-icon-5"><img src="../images/magento.jpg" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="Tiendas-Virtuales.html#sec-e5d8" data-page-id="2012116857" class="u-btn u-button-style u-none u-text-palette-1-light-3 u-btn-1" data-animation-name="fadeIn" data-animation-duration="1000" data-animation-delay="0">
                &nbsp;<span class="u-icon u-text-grey-50 u-icon-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                    <svg class="u-svg-content" viewBox="0 0 970.504 970.503" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <g>
                            <path d="M120.027,962.802c26.6,0,53.5-8.801,75.7-27l288.1-234.7l290.899,237c22.301,18.1,49.101,27,75.7,27   c34.8,0,69.4-15.101,93.101-44.2c41.899-51.4,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.5   c-51.4,41.8-59.1,117.399-17.3,168.8C50.727,947.702,85.227,962.802,120.027,962.802z"></path>
                            <path d="M120.027,541.902c26.6,0,53.5-8.8,75.7-27l288.1-234.7l290.899,237c22.301,18.101,49.101,27,75.7,27   c34.8,0,69.4-15.1,93.101-44.2c41.899-51.399,34.1-127-17.2-168.8l-366.7-298.8c-44.1-36-107.5-36-151.6,0l-363.8,296.4   c-51.4,41.9-59.1,117.5-17.3,168.9C50.727,526.802,85.227,541.902,120.027,541.902z"></path>
                        </g>
                    </svg><img>
                </span> &nbsp;
            </a>
        </div>
    </section>

</body>
</html>