.u-section-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  width: 762px;
  margin: 71px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 50px;
}

.u-section-1 .u-image-1 {
  min-height: 527px;
  background-image: url("../images/aplicaciones-web.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 264px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 386px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-1 .u-image-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1442px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-1 .u-image-1 {
    min-height: 500px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-1 .u-image-1 {
    min-height: 315px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 918px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  margin: 85px 33px 0;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 60px 60px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 68px;
  margin-bottom: 60px;
  min-height: 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 12px);
  grid-template-columns: calc(50% - 12px) calc(50% - 12px);
  grid-auto-rows: calc(50% - 12px);
  grid-gap: 24px 24px;
  min-height: 288px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
  margin-bottom: 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-text-10 {
  margin: 20px 1px 0 0;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12px));
    min-height: 237px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    grid-auto-rows: calc(25% - 18px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 694px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-weight: 700;
  width: 800px;
  margin: 90px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 980px;
  margin: 62px auto 0;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-3 .u-text-3 {
  line-height: 22.4px;
  margin: 20px 0 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  line-height: 22.4px;
  margin: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  color: rgb(153, 153, 153) !important;
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 191px auto 0;
  padding: 0;
}

.u-section-3 .u-icon-4 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-accordion-pane-2 {
    min-height: 160px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}